
<div class="PaddedContents">
  <br/><br/>
  <div class="leftLinks" #HeadingsContainer>      
    <left-links ></left-links>      
  </div> 

  <div class="PaddedContents PaddedContentsTopics">

    
    <p class="HeadingSubTopic" id="General">General</p>   
    For starters, you can have a component to use as a popup window.<br/>
    For now just clicking on this button will make something come up by setting some variable and using an <b>*ngIf</b>.  With css, set the position to be fixed 
    (for the component that will show up.  Use the ngIf in the component itself or a wrapper element). <br/>
    <button (click)="OnSetVarToShowPopup()"> Click to show popup</button>
    
    <some-popup *ngIf="showPopup" (closeMe)="OnHidePopup()"></some-popup>
    <br/>
    You can also  load the component from the code itself, but using ngIf is easier and clearer.<br/>
    Using the *ngIf above, to be able to close the popup, we can have a button in it, and have it emmit an event.
    <pre>
      <code ngNonBindable>
        //on popup ts 
        @Output() closeMe = new EventEmitter&lt;void&gt;();

        //on parent 
        &lt;some-popup *ngIf="showPopup" (closeMe)="OnHidePopup()"&gt;//and on OnHidePopup set the boolean back to false.
      </code>      
    </pre>

    <p class="HeadingSubTopic" id="With Code">Load Component with Code</p>   
    With the next button I'll show it programmatically.  Importing and creating the component in the code as a regular TypeScript object will not work.  We need to 
    use Angular's component factory.  In your constructor you need to inject <b>private componentFactoryResolver : ComponentFactoryResolver</b><br/>
    We also need to know where to put it, and for that we can have a placeholder directive.
    <pre>
      <code>
        @Directive(&lbrace;
          selector: '[appWhateverName]'
        &rbrace;)
        export class WhateverYourNameDirective &lbrace;
          constructor(public viewContainerRef :ViewContainerRef)&lbrace;&rbrace;
        &rbrace;
      </code>
    </pre>
      To set the place for this in the DOM, you can add an <b>ng-template wherever you want it and to it, add the directive created above.</b><br/>
      In the ts file of the parent, since we have an ng-content with that directive, we can now use ViewChild to access it. Something like:
      <b>@ViewChild(WhateverYourNameDirective, &lbrace;static : false&rbrace;) popuporwhatevername! : WhateverYourNameDirective;</b><br/>
      In the code itself, something like this:
      <pre>
        <code>
          const somePopupCompFactory = this.componentFactoryResolver.resolveComponentFactory(SomePopupComponent);
          //now with that factory we can create the component, but we also need to attach it to the DOM.
          const thePopupRef = this.popuporwhatevername.viewContainerRef; //from the directive we created before
          thePopupRef.clear(); //in case there is something there already
          thePopupRef.createComponent(somePopupCompFactory);
        </code>
      </pre>
      With just the above code we will get an error unless we are using Angular 9 and up. We still need to set the entry points in lower versions.
      in the app.module.ts (after bootstrap: or any other one: <b>entryComponenets: [SomePopupComponent ] </b><br/>

    <br/>  <button (click)="OnShowProgramatically()"> Click to show popup programmatically</button>
    <ng-template appPopupPlaceHolder></ng-template>
      <br/>
    Once you display it, you still need to be able to close it.   The way this one works is this.
    <pre>
      <code>
        //In the directive, remember the :
        constructor(public viewContainerRef :ViewContainerRef)&lbrace;&rbrace;

        //in the parent
        implements OnInit, <b>OnDestroy</b>
        private closeSub : Subscription = new Subscription();
        constructor(private commonFuncs:CommonFuncs, <b>private componentFactoryResolver : ComponentFactoryResolver)</b>

        ngOnDestroy()&lbrace;
          if (this.closeSub)&lbrace;
            this.closeSub.unsubscribe();
          &rbrace;
        &rbrace;

        //in the function in the parent to display the component that gets created
        const somePopupCompFactory = this.componentFactoryResolver.resolveComponentFactory(SomePopupComponent);
        //now with that factory we can create the component, but we also need to attach it to the DOM.
        const thePopupRef = this.popuporwhatevername.viewContainerRef;
        //clear in case something is there already
        thePopupRef.clear();
        //this is a reference now, not the component itself.
        const theCreatedPopupRef = thePopupRef.createComponent(somePopupCompFactory);

        //listen to the closeMe of the child (popup) and when it happens, unsubscribe and clear so it doesn't show up anymore.
        //if you need to set properties from the parent to the popup, like a message, do it with instance.messageOrWhatever = whatever.
        this.closeSubs = theCreatedPopupRef.instance.closeMe.subscribe(  () => &lbrace;
          this.closeSubs.unsubscribe();
          thePopupRef.clear();
        &rbrace;)
        
      </code>
    </pre>



</div>

  
</div> 
