
<div class="PaddedContents">
  
  <div class="leftLinks" #HeadingsContainer>      
    <left-links ></left-links>      
  </div>     
  <div class="PaddedContents PaddedContentsTopics">
    <h4 class="CenterMe">When adding new components, remember you may have to restart for them to be found.</h4>
    <h3 class="CenterMe"> <a href="https://medium.com/nerd-for-tech/angular-vs-react-compare-the-very-basics-776fd96fec23"
      target="_new">Check out Angular vs React - basics</a></h3>  
    <h3 class="CenterMe">Input fields, in general, take only numbers. </h3>
    
    <p class="HeadingSubTopic" id="String-Interpolation">String Interpolation</p>       
    Type something in the <input #theInput type="number" /> and send it with the button that has the (click).
     <button (click)="onClickButton1(theInput.value)">send it</button>. If you are setting someVariable in your code, you can use it with the curly brackets.<br />
    <mark>{{theVariable}}</mark>
    <pre>
      <code ngNonBindable>
        //display the variable from the ts 
        {{someVariable}}
        //the click will send the someInput.value to the function and it will set the variable.
        &lt; input #someInput type="number"/&gt;
        &lt; button (click)="onClickButton1(someInput.value)"&gt; 
      </code>
    </pre>    
    
    <p class="HeadingSubTopic" id="Property-Binding">Property Binding</p>   
    Use the syntax as <b>[] for the html attributes and use quotes to use a variable</b> for the attributes. 
    Use no quotes assigned to the attribute to <b>hardcode</b> the value.  
    Click the button to switch between true and false and enable or disable the second button (which does nothing).<br/>
    See the wait section below.<br/><br/>
    <button (click)="onSwitchTheBoolVar()">Switch Bool</button> &nbsp; <button [disabled]="theBoolVar">Will Go On/Off</button> &nbsp;<button [disabled]=true>Always Disabled</button><br />
    For an event, use (click)="onSwitchTheBoolVar<b>($event)</b>" and <b>event:any or event:Event</b> in the ts file as the parameter received for the event, if you need access to the event info.    
    <pre>
      <code>
          On second button: [disabled]="theBoolVar"
          On button always disabled: [disabled]=true
          On Switch Bool button: &lt; (click)="onSwitchTheBoolVar()"&gt; Switch Bool&lt;/button&gt;
      </code>
    </pre>
    
    <p class="HeadingSubTopic" id="2-Way-Binding">2-way Binding</p>    
    Use ngModel in the input field.  It will update the <b>variable right away</b> and from the ts code, which we link to the same variable for the display too, 
    it will update right away.  Click the button to update the variable to something different.
    <input type="number" [(ngModel)]="theVariable"/><br/><br/>
    <mark>{{theVariable}}</mark><br/><br/>
    <button (click)="onSetVariableToHello()">call to set variable to hello in the ts file</button>
    <pre>
      <code ngNonBindable>
        &lt;input type="number"[(ngModel)]="theVariable"/&gt;
        app.module.ts -- import FormsModule from '@angular/forms'
      </code>
    </pre>
  
    <p class="HeadingSubTopic" id="Wait!">Wait a minute!!</p>
    What is with the [] or no [] or the () and the []?
    <br/>
    When we are using [] in the property (style.color below has it missing) we are binding to a variable in the ts file.  Since we don't have it in the following
    code, it will not bind to the fontColor variable.
    <pre>
      <code>
        &lt;p  style.color="fontColor"&gt;I'm not binding&lt;/p&gt;
      </code> 
    </pre>
    Gives you: <p style.color="fontColor">I'm not binding</p>
    But if you include the [] in the property.
    <pre>
      <code>
        &lt;p  [style.color]="fontColor"&gt;You can set my color in the component!&lt;/p&gt;
      </code> 
    </pre>
    Gets you (fontColor is set to blue in the ts file):
    <p  [style.color]="fontColor">You can set my color in the component!</p>
    For 2-way binding we use [(ngModel)]="whateverVariable" (FormsModule is required for this)<br/>
    When binding to a property we can also bind to "!theProperty"

    <br/>
    See these fields (theBoolVar2 is false):<br/>
    disabled=true<input type="number" disabled=true/><br/>
    [disabled]=true<input type="number" [disabled]=true/><br/>
    [disabled]="theBoolVar2"<input type="number" [disabled]="theBoolVar2"/><br/>
    [disabled]=theBoolVar2<input type="number" [disabled]=theBoolVar2/><br/>
    disabled=theBoolVar2<input type="number" disabled=theBoolVar2/><br/>
    disabled="theBoolVar2"<input type="number" disabled="theBoolVar2"/><br/>
    
    <p class="HeadingSubTopic" id="ngIf">Angular Directive - ngIf</p>  
    The marked test below will show depending on a boolean variable on the ts file.  Change the value with the button. You can also use an expression.<br/>
    <button (click)="onSwitchTheBoolVar()">Switch Boolean</button><br/><br/>
    <mark *ngIf="theBoolVar">I go on and off</mark><br/><br/>
    <pre>
      <code  ngNonBindable>
        *ngIf
        &lt;mark *ngIf="theBoolVar" &gt;
      </code>
    </pre>
       
    The marked test below will show depending on a boolean variable on the ts file.  There is an ng-template for the else
    that will show on false.  Change the value with the button.<br/>
    <button (click)="onSwitchTheBoolVar()">Switch Boolean</button><br/><br/>
    <mark *ngIf="theBoolVar; else onElse;" >I go on and off</mark><br/><br/>
    <ng-template #onElse><mark >I show up on else (false)</mark></ng-template>
    <pre>
      <code ngNonBindable>
        *ngIf with else
        &lt;mark *ngIf="theBoolVar; else <b>onElse</b>;" &gt;I go on and off&lt;/mark&gt;
        &lt;ng-template <b>#onElse</b>&gt;I show up on else (false)&lt;/mark&gt;
      </code>
    </pre>
    
    <p class="HeadingSubTopic" id="ngStyle">Angular Directive - ngStyle</p>   
    Click the button to get a random background color by changing theColor property. Could also have a method instead
    of theColor in the span element.  <button (click)="onRandomColor()">Random Color</button><br/>
    span element: <span [ngStyle]="{backgroundColor:theColor}">Hello!</span><br/>
    <pre>
      <code ngNonBindable>
        [ngStyle]="&lbrace;backgroundColor:theColor&rbrace;"
      </code>
    </pre>
    
    <p class="HeadingSubTopic" id="ngClass">Angular Directive - ngClass</p>      
    Similar to the examples above, set ngClass to a class (redClass) to set the font to red based on the boolean value (when true). The redClass is in the css file.<br/>
    <button (click)="onSwitchTheBoolVar()">Switch Boolean</button><br/><br/>
    <span [ngClass]="{redClass: theBoolVar}">I'll be red when TheBoolVar is true</span>
    <pre>
      <code ngNonBindable>
        [ngClass]="&lbrace;redClass:theBoolVar&rbrace;"
      </code>
    </pre>    

    <p class="HeadingSubTopic" id="ngFor">Angular Directive - ngFor</p> 
    Enter a number from 1 to 5 (you can enter more too) and the code will show that many lines.<br/>  
    You can also add let i = index in the ngFor to get the index of the iteration.<br/>    
    <input type="number" (keydown)="onValueChanged($event)" (input)="onValueChangedArrows($event)" [(ngModel)]="theArraySize"/><br/><br/>
    <div *ngFor = "let item of theNumArray;"> {{item}}</div>
    <br/>
    <pre>
      <code ngNonBindable>
        &lt;input type="number" (keydown)="onValueChanged($event)"/&gt;
        &lt;div*ngFor="let item of theNumArray;"&gt;
        ts file : onValueChanged(event:KeyboardEvent)...for(let i = 1; i <= parseInt(event.key); i++)...// populate theNumArray
      </code>
    </pre>
    
    <p class="HeadingSubTopic" id="ngSwitch">Angular Directive - ngSwitch</p>    
    The random color button returns aqua, red, pink, yellow, green, and gray.  Have a switch for the theColor variable for each of those.<br/>
    Notice the single quotes inside the "" on the case elements.  If numbers, don't include the single quotes.  The color is not changing, but the word will change 
    to match the theColor value.<br/>
    Have a ngSwitchDefault as the last case.<br/>
    <button (click)="onRandomColor()">Random Color</button><br/><br/>
    <div [ngSwitch]="theColor" [ngStyle]="{border:'2px solid skyblue'}">
      <p *ngSwitchCase="'aqua'">aqua</p>
      <p *ngSwitchCase="'red'">red</p>
      <p *ngSwitchCase="'yellow'">yellow</p>
      <p *ngSwitchCase="'green'">green</p>
      <p *ngSwitchCase="'gray'">gray</p>
      <p *ngSwitchDefault>Default</p>
    </div>
    <br/>
    <pre>
      <code ngNonBindable>
        &lt;div [ngSwitch]="theColor" [ngStyle]= "&lbrace; border:'2px solid skyblue'&rbrace;"/&gt;
        //&lt;p elements inside the div with the ngSwitch: *ngSwitchCase="'aqua'"/&gt;
          &lt; p *ngSwitchCase="'aqua'"&gt;aqua&lt;/p&gt; ... 
          &lt; p *ngSwitchDefault&gt;Default&lt;/p&gt;
      </code>
    </pre>
    
    <p class="HeadingSubTopic" id="Data-From-Parent">Get Data from Parent Component</p>    
    In this angular-notes component we have a theColor variable used above (in this parent).  In this html file we have a child component.    
    (Disregard the button in the child component, it is not being listened to in this code).<br/>
    <button (click)="onRandomColor()">Random Color (in parent html)</button><br/><br/>
    The child component takes in a myColor (vble in its ts file) and a myTextAlias properties.  Both are set to the variable.
    <some-child-component [myColor]= "theColor" [myTextAlias]="theColor"></some-child-component><br/><br/>
    This one is easier with an image<br/><br/>
    <img width="100%" src="assets\images\angular\childComp1.png" alt="child component parent data" /><br/><br/>
    <pre>
      <code ngNonBindable>
        button calls onRandomColor which assigns a color string to theColor:
        &lt;some-child-component [myColor]= "theColor" [myTextAlias]="theColor"&gt;  -- note this uses the alias name
        On child ts:
        @Input() myColor :string="";
        @Input('myTextAlias') myText :string="";
        child component: [ngStyle] has backgroundColor:myColor
        on child component html: &lbrace;&lbrace; myText &rbrace;&rbrace; -- use the variable name, not the alias name 
      </code>
    </pre>
    
    <p class="HeadingSubTopic" id= "NotifyParent">Tell Parent of Change in Child</p>
      
    The parent (this angular notes component) will be listening to events of the child component (some-child-component).<br/>
    When adding EventEmitter, check your import statements.  Make sure it is imported from angular/core.<br/>
    You can get just event from the event on the child, or something specific. Use void if the event returns nothing.<br/><br/>

    <img width="100%" src="assets\images\misc\parentlistenstochildevents.png" alt="parents listens to child events" /><br/><br/>

    <some-child-component (eventOnChildComponentWithEventReturn)="onChildEvent1($event)" (eventOnChildComponentWithKnownObjReturn)="onChildEvent2($event)" ></some-child-component>
    <em><u>Text from event 1:</u> </em><br/>
    {{someText1}}<br/>
    <em><u>Text from event 2:</u> </em><br/>
    {{someText2}}<br/>
    <pre>
      <code>
         &lt;some-child-component (eventOnChildComponentWithEventReturn)="onChildEvent1($event)" (eventOnChildComponentWithKnownObjReturn)="onChildEvent2($event)"&gt;
         On Child: &lt;button (click)="launchEvents($event)"&gt;
         On child ts: @Output() eventOnChildComponentWithKnownObjReturn = new EventEmitter&lt;&lbrace;theName:string, theText:string&rbrace;&gt;();
         On child ts: @Output() eventOnChildComponentWithEventReturn = new EventEmitter&lt;Event&gt;();
         On launchEvents: this.eventOnChildComponentWithKnownObjReturn.emit(&lbrace;theName:"Child Name", theText:"Child Text Hello"&rbrace;);
         or just pass the event down to the eventOnChildComponentWithEventReturn

         On parent ts events, have onChildEvent1(event:Event) or onChildEvent2(theEventObj:&lbrace;theName:string, theText:string&rbrace;)
      </code>
    </pre>    

    <div id="viewchild" ></div><br/>
    <p class="HeadingSubTopic" id="ViewChild">ViewChild</p>
    This concept has too much to be included here, so instead, check out my article on Medium 
    <a href="https://medium.com/nerd-for-tech/angular-viewchild-for-component-dom-element-element-of-component-and-directive-c23328ee1525"
    target="_new">Angular — ViewChild for component, DOM element, element of component, and directive</a><br/>
    However, for a brief refresher of what this is about, check out the images:<br/>

    <img width="100%" src="assets\images\misc\viewchild1.png" alt="viewchild1 content elements" /><br/><br/>
    <img width="100%" src="assets\images\misc\viewchild2.png" alt="viewchild2 content elements" /><br/><br/>
    <img width="100%" src="assets\images\misc\viewchild3.png" alt="viewchild3 content elements" /><br/><br/>
    <img width="100%" src="assets\images\misc\viewchild4.png" alt="viewchild4 content elements" /><br/><br/>
    
    <p class="HeadingSubTopic" id="ng-Content">ng-Content</p>    
    I am going to have some ng-content elements in the some-child-component component.  Then I'll use that component here in the angular-notes component.
    Each ng-content in the child will display a different way and it will choose what to put in that container based on some element, class, and id.
    <b>(ng-content cannot have content besides what's passed to it)</b>.<br/>
    <img width="100%" src="assets\images\misc\ng-content.png" alt="ng content elements" /><br/><br/>

    <some-child-component>
      <span [ngStyle]="{backgroundColor:'lightyellow'}">I am just inside a span element</span>
      <h2 id="header2" [ngStyle]="{backgroundColor:'teal'}">Header 2 with header2 id going to ng-content on child</h2>  
      <h1 class="class1" [ngStyle]="{backgroundColor:'skyblue'}">Header 1 with class1 going to ng-content on child</h1>         
    </some-child-component>
    <pre>
      <code>
        <strong>In Parent Component:</strong>
        &lt;h1 class="class1" [ngStyle]="&lbrace;backgroundColor:'skyblue'&rbrace;"&gt;Header 1 with class1 going to ng-content on child&lt;/h1&gt;
        &lt;h2 id="header2" [ngStyle]="&lbrace;backgroundColor:'teal'&rbrace;"&gt;Header 2 with header2 id going to ng-content on child&lt;/h2&gt;
        &lt;span [ngStyle]="&lbrace;backgroundColor:'lightyellow'&rbrace;"&gt;I am just inside a span element&lt;/h2&gt;
        <strong>In Child Component:</strong>
        &lt;ng-content  select=".class1"&gt;  
        &lt;ng-content  select="[id=header2]"&gt; 
        &lt;ng-content  select="span"&gt; 
      </code>
    </pre>
   
    <p class="HeadingSubTopic" id="ContentChild">ContentChild for ng-Content (can't use ViewChild)</p>
  
    You can't use ViewChild for content in an ng-content.  For that you need ContentChild. It returns the first element matching the selector.  
    If the content DOM changes, and a new child matches the selector, the property will be updated.  <b><u>Use ContentChild
    in the component that has the ng-content to find content that has been projected there.</u></b>  I am using the same child component as above, which has the ng-content.  
    Set up as in the above example <b><u>except adding #header2 to the h2 element, #header1 to the h1, and #span to the span (that's how I'll access them).  </u></b>
    Don't forget to import ContentChild from angular/core.<br/>
    Angular initializes the component first. It then raises the ngOnChanges, ngOnInit & ngDoCheck hooks. The projected components are initialized next. 
    And then Angular raises the AfterContentInit & AfterContentChecked hooks.  Then ContentChild is available.  That is the default.  We can use static as true to
    change it(the query will be available once the view has been created, but before change detection runs).  
    Just displaying the ContentChild variables in the console (though commented out).<br/>
    <img width="100%" src="assets\images\misc\contentchild1.png" alt="content child elements" /><br/><br/>

    <some-child-component>
      <h1 class="class1" #header1 [ngStyle]="{backgroundColor:'skyblue'}">Header 1 with class1 going to ng-content on child</h1>
      <h2 id="header2" #header2 [ngStyle]="{backgroundColor:'teal'}">Header 2 with header2 id going to ng-content on child</h2>
      <span #span1 [ngStyle]="{backgroundColor:'lightyellow'}">I am just inside a span element</span>
    </some-child-component>

    <pre>
      <code>
        <strong>In Parent Component:</strong>
        &lt;h1 class="class1" #header1 [ngStyle]="&lbrace;backgroundColor:'skyblue'&rbrace;"&gt;Header 1 with class1 going to ng-content on child&lt;/h1&gt;
        &lt;h2 id="header2" #header2 [ngStyle]="&lbrace;backgroundColor:'teal'&rbrace;"&gt;Header 2 with header2 id going to ng-content on child&lt;/h2&gt;
        &lt;span #span1 [ngStyle]="&lbrace;backgroundColor:'lightyellow'&rbrace;"&gt;I am just inside a span element&lt;/h2&gt;
        <strong>In Child Component ts:</strong>
        @ContentChild("header1",&lbrace;static:true&rbrace;) header1vble: ElementRef=&lbrace;&rbrace; as ElementRef;
        @ContentChild("header2",&lbrace;static:true&rbrace;) header2vble: ElementRef=&lbrace;&rbrace; as ElementRef;
        @ContentChild("span1",&lbrace;static:true&rbrace;,read:NgStyle) spanvble: NgStyle=&lbrace;&rbrace; as NgStyle
      </code>
    </pre>

    <p class="HeadingSubTopic" id="Custom-Directives">Angular Directives and Your Own</p>    
    Angular directives are cool but we can also create our own.  I'm going to use a component directive some-directive-directive.
    <b><u>The ts file for this directive is not a @Component but a @Directive.</u></b> <strong> Not using renderer in this example </strong>, will use it later for the same thing.
    Remember to include the directive in the app.module.ts so it can be used.  I'll be using that directive in a p element here.  Like for components,
    keep in mind you use the select name on the element where you will use it.<br/>
    I have 2 directives in the same file, and one of them takes a fontColor<br/>
    <pre>
      <code>       
        &lt;p appSomeDirectiveDirective appSomeDirectiveDirective2 [fontColor]="'deeppink'"&gt;
        <strong>In the directive ts file:</strong>
        @Directive(&lbrace; selector: '[appSomeDirectiveDirective2]' &rbrace;;)
        For directive 2:  @Input() fontColor :string = "green";
        ngOnInit for directive 1: this.theElementRef.nativeElement.style.backgroundColor='lightblue';
        ngOnInit for directive 2: this.theElementRef2.nativeElement.style.color = this.fontColor;
        similar in both directives: constructor(private theElementRef2:ElementRef) - reference it ins the ngOnInit
      </code>
    </pre>

    <img width="100%" src="assets\images\misc\yourdirective.png" alt="custom directive" /><br/><br/>

    <p appSomeDirectiveDirective appSomeDirectiveDirective2 [fontColor]="'deeppink'">Some p element using the SomeDirectiveDirective.  </p>

    <b>YOU CAN USE your own directives so you can get elements of a certain class from your html.  To do that.</b><br/>
    <pre>
      <code>
        //create the directive as something like where theClassYouWillUse is what you have in your css and in the html as class="theClassYouWillUse"
          selector: '.theClassYouWillUse'

        //then in the code where you need to get the elements with that class
        @ViewChildren(TheClassYouWillUseDirective, &lbrace; read: ElementRef &rbrace;) whateverElementsYouWant!:QueryList&lt;any&gt;;

        //Or just ViewChild instead if you only one to get one (first one found)
      </code>
    </pre>
    
    <p class="HeadingSubTopic" id="Renderer">Renderer</p>  
    Similar to the above one, but will get a directive 3 that will use renderer to access the style.  Don't forget to include the new directive in the app.module.  I keep 
    doing that. <br/>
    <p appSomeDirectiveDirective3>Some p element using the SomeDirectiveDirective3 with renderer2. </p>

    <pre>
      <code>
        &lt;p appSomeDirectiveDirective3>Some p element using the SomeDirectiveDirective3 with renderer2.
        constructor(private theElementRef3:ElementRef, private renderer:Renderer2)
        this.renderer.setStyle(this.theElementRef3.nativeElement, 'background-color', 'green')
      </code>
    </pre>

    <p class="HeadingSubTopic" id="HostBinding">HostBinding to change the directive style</p>    
    Going to use a 4th directive to make use of HostBinding to set the background.<br/>
    <p appSomeDirectiveDirective4>Some p element using the SomeDirectiveDirective4 with HostBinding. </p>
    <pre>
      @HostBinding('style.backgroundColor') backColor :string = 'transparent';
      on ngOnInit: this.backColor = 'lightblue';
    </pre>
    
    <p class="HeadingSubTopic" id="HostListener">HostListener for Directive</p>  
    Using the paragraph with a 5th directive now, which will listen to the mouse events and change the color that way. Move the cursor on and off the p.<br/>
    <p appSomeDirectiveDirective5>Some p element using the SomeDirectiveDirective5 with HostBinding. The code is in the directive itself.</p>
    <pre>
      <code>
        @HostBinding('style.backgroundColor') backColor :string = 'transparent';
        @HostListener('mouseenter') mouseE(eventData:Event)&lbrace; this.backColor = 'lightblue'; &rbrace;
        @HostListener('mouseenter') mouseL(eventData:Event)&lbrace; this.backColor = 'lightpink'; &rbrace;
      </code>
    </pre>

    <p class="HeadingSubTopic" id="Custom-Structural-Directive">Your Own Structural Directive</p>  
    A structural directive is one that changes the structure of the DOM (like ngIf, ngFor, and we use them with *).
    <strong>TemplateRef</strong>: It represents an embedded template that can be used to instantiate embedded views.  
    <strong>ViewContainerRef:</strong> It represents a container where one or more views can be attached.<br/><br/>
    Input a number here to see that number of times repeated.<br/>
    <input [(ngModel)]="theNumVariable" type="number" /><br/>
    <div *appSomeDirectiveDirectiveSTR="theNumVariable">
      I am div 
    </div>
    <img width="100%" src="assets\images\misc\structuredirective.png" alt="structure directive" /><br/><br/>
    <pre>
      <code>
        constructor(private templateRef:TemplateRef&lt;any&gt;, private vcRef: ViewContainerRef)&lbrace;&rbrace;
        &lt;div *appSomeDirectiveDirectiveSTR="theNumVariable"&gt; -- set in the input field
        @Input() set appSomeDirectiveDirectiveSTR(number:Number) -- name of set has to match name of selector in directive
        this.vcRef.clear();   
        in a for: this.vcRef.createEmbeddedView(this.templateRef);
      </code>
    </pre>
    <br/>
    <br/>
   
    <p class="HeadingSubTopic" id="Observables">Observables</p>

    More on <a href="https://medium.com/nerd-for-tech/promises-observables-subjects-behaviorsubjects-replaysubjects-326aa3716ace" target="_blank">Medium</a><br/>
    An Observable is a data source.  We can use it importing the RxJS package.  Your code can be the observer to this observable.  There 
    are three types of data packages you can receive with these: data, errors, completions.  Observables are like a different approach to promises.<br/>
    You can install the package with <b>npm install --save rxjs@6</b> or whatever version you want.  You can also install <b>npm install --save rxjs-compat</b>

    <br/>
    In other code (routing section) we have used this.route.params.subscribe.  params is an observable.  <b>In general, you will not need to create your own observables</b>, but just 
    to know, a little bit here.<br/>
    To create your own observables, which are not a part of JS or TypeScript, you need <b>package rxjs</b>.  One of the easiest ways is importing <b>"interval"</b> from 
    the package.<br/>
    <pre>
      <code>
        <b>import &lbrace;interval, subscription&rbrace; from 'rxjs';</b>

        //in the ts file that's going to have this code, implement also from onDestroy so we can call to unsubscribe when we are no longer in this code. 

        ngOnit()&lbrace;
          //send value every second, we can subscribe like this
          //interval(period:1000).subscribe(next:value => console.log(value));
          //or we could also store the above line in a variable, say 
          <b>this.whatever = interval(period:1000).subscribe(next:value => console.log(value));</b>
        &rbrace;

        //if we are storing the subscription as above, now we can unsubscribe when we are done.
        <b>onDestroy()&lbrace;</b>
          <b>this.whatever.unsubscribe;</b>
        &rbrace;
      </code>
    </pre>
    It is important to unsubscribe so we don't end up with a memory leak, or wasting resources.  When we are using the Angular observables, like the params one,
    Angular will unsubscribe automatically so we don't have to do it.  interval fires a number every second or whatever interval we give.  What if instead of 
    subscribing to the Angular params, or the rxjs interval above we want to <b>subscribe to our own Observable?</b><br/>
    The subscribe and unsubscribe is going to be the same as above, but instead of interval(period:1000) we will use <b>myObservable.subscribe(...as above);</b>
    So creating the myObservable (use setInterval and indicate how often and what value to send):<br/>
    <pre>
      <code>
        const <b>myObservable</b> = Observable.create( //Observable has to be imported from rxjs
          <b>observer</b> => &lbrace;
            let <b>value</b> = 0;
            <b>setInterval</b> ( handler: () =>
              &lbrace;
                observer.next(<b>value</b>);
                value = value + 10;
              &rbrace;  , timeout:1000
            );
          &rbrace;
        )
      </code>
    </pre>
    Note: depending on your version the above create may be obsolete.  If that is the case, create the observable this way.
    <pre>
      <code>
        const myObservable = new Observable( (observer) =>
        &lbrace;
          ...
          observer.next(value);
          ...     
        &rbrace;
      </code>
    </pre>
    The observer above, in the myObservable code, could also be throwing an error with <b>observer.error(new Error(message:"some error"));</b><br/>
    If we don't handle the possibility of an error when we are observing, the code will just break.  If we want to handle it, we can add another argument to the 
    <b>this.whatever = interval(period:1000).subscribe(next:value => console.log(value));</b>.  It could be something like 
    this.whatever = myObservable.subscribe(value => console.log(value), error => &lbrace;whatever&rbrace;);<br/>
    Once the observable throws an error, it gets cancelled. We can also complete the observable in the code with <b>observer.complete()</b>  If we want to 
    do something when there is a completion, we can add a third argument to our observer, with no arguments, like <br/>
    <b>this.whatever = myObservable.subscribe(value => console.log(value), error => &lbrace;whatever&rbrace;, () => &lbrace;whatever&rbrace; );</b><br/>
    An error will cancell the observable, that is not the same as a completion.
    <br/><br/>
    <b>Operators in the rxjs library:</b><br/>
    You can import the available operators from "rxjs/operators".  map is one of the most commonly used ones.  You can use this operators inside the code 
    of the observable you are creating. But you can also use them in your assignment of myObservable to this.whatever.  (so you can get the data with some 
    changes through the operators). Use myObservable.pipe( and in here your operators). If you need various operators, you have them here separated my commas,
    but remember to import the ones you want to use. They will execute on the data of the observable, in the order in which you put them in.<br/>
    Check out more at <a href="https://rxjs.dev/guide/operators" target="_new">https://rxjs.dev/guide/operators</a>
    <br/><br/>
    Another interesting thing from rxjs is <a 
    href="https://rxjs.dev/guide/subject#:~:text=What%20is%20a%20Subject%3F%20An%20RxJS%20Subject%20is,independent%20execution%20of%20the%20Observable%29%2C%20Subjects%20are%20multicast."
    target="_new">
    rxjs subjects</a>
    
    <p class="HeadingSubTopic" id="Pipes">Pipes</p>

    A pipe transforms the output display, not the data, so it is part of the html. See some strings changed with the pipes<br/>
    Using <span ngNonBindable> <b>&lbrace;&lbrace;someVariables | uppercase &rbrace;&rbrace; </b>(and similar for other pipes) </span> <br/>
    <br/>

    <div class="divsByCol">
      <div class="divsByRow">
        <div style="border: 3px skyblue solid; margin: 5px; padding: 5px;"><span >{{someStringForPipes | uppercase}}</span><span style="color:deeppink">(upperCase)</span>     </div>
      </div>
      <div class="divsByRow">
        <div style="border: 3px skyblue solid; margin: 5px; padding: 5px;"><span > {{someStringForPipes | lowercase}}</span><span style="color:deeppink">(lowerCase)</span>     </div>
      </div>
      <div class="divsByRow">
        <div  style="border: 3px skyblue solid; margin: 5px; padding: 5px;"><span> {{someDate | uppercase}}</span><span style="color:deeppink">(upperCase)</span>     </div>
      </div>
      <div class="divsByRow">
        <div style="border: 3px skyblue solid; margin: 5px; padding: 5px;"><span > {{someDate | date}}</span><span style="color:deeppink">(date)</span>     </div>
      </div>
      <div class="divsByRow">
        <div style="border: 3px skyblue solid; margin: 5px; padding: 5px;"><span >{{someDate | date:'fullDate'}}</span><span style="color:deeppink">(date:'fullDate')</span>     </div>
      </div>
      <div class="divsByRow">
        <div style="border: 3px skyblue solid; margin: 5px; padding: 5px;"><span >{{someDate | date:'fullDate' | uppercase}}</span><span style="color:deeppink">(date:'fullDate' | uppercase)</span>     </div>
      </div>
    </div>
    <br/>
    Check out the documentation because there is a lot.  When using multiple pipes, the order may matter.<br/>
    <br/>        
    <div class = "HeadingSubTopic2">Custom Pipes</div>
    You can create a class for your own custom pipe and you need to include it in the app.module declarations.
    <div class="divsByRow">
      <div style="border: 3px skyblue solid; margin: 5px; padding: 5px;"><span >{{someDate | date:'fullDate' | myOwnPipe}}</span><span style="color:deeppink">(date:'fullDate' | myOwnPipe)</span>     </div>
    </div>
    <br/>
    <pre>
      <code>
        //in the ts file (existing one or create a new one for your pipes)
        import &lbrace; Component, OnInit, PipeTransform , <b>Pipe</b> &rbrace; from '@angular/core';

        @Pipe(&lbrace;
          <b>name: 'myOwnPipe' //USE THIS NAME IN THE HTML</b>
        &rbrace;)
        export class MyOwnPipePipe implements PipeTransform&lbrace;
          <b>transform(value:any)&lbrace; //Need this method</b> 
            return "♫ " + value + " ♫";
          &rbrace;
        &rbrace;

        //in the html as shown above.        
      </code>
    </pre>
    You don't have to implement PipeTransform and if you have the method it will work, but it's just good practice.<br/>
    <b>You need to include the class in your app.module declarations</b>
    <br/>
    <span >{{someDate | date:'fullDate' | myOwnPipeParam:3}}</span><span style="color:deeppink">(date:'fullDate' | myOwnPipeParam:3)</span>
    <br/>
    The above is for this:<br/>
    <pre>
      <code>
        @Pipe(&lbrace;
          name: 'myOwnPipeParam'
        &rbrace;)
        export class MyOwnPipeParamsPipe implements PipeTransform&lbrace;
          transform(value:any, <b>num :number</b>)&lbrace;
            var myS:string =  "♫ " + value + " ♫";
            for (var i = 1; i&lt;=num; i++)&lbrace;
              console.log(myS);
              myS += " ♫";
            &rbrace;
            return myS;
          &rbrace;
        &rbrace;
      </code>
    </pre>
    If you have multiple parameters, just keep adding :param to the pipe.<br/>
    You can use pipes to filter a list.  If you have an ngFor in your html, apply a custom pipe to it, and this custom pipe is just modifying the array used 
    in the ngFor to display only what you want. Angular doesn't rerun the pipe every time the data changes though, so updates to the date will not be 
    shown automatically by Angular.  If you really need the pipe to be rerun on data changes, you can add : <br/>
    <pre>
      <code>
        @Pipe(&lbrace;
          name: 'myOwnPipeParam',
          <b>pure:false</b>
         &rbrace;)
      </code>
    </pre>
    <div class = "HeadingSubTopic2">Async Pipes</div>
    If you have a variable that will be loaded asynchronously, use the async pipe with it and it will show the data in it (instead of [object] or whatever) 
    once it's loaded<br/><br/>

    <div class = "HeadingSubTopic" id="Animations">Animations</div>

    We can make animations with Angular, similar to the transforms and keyframes that we have with css.<br/>
    This div element will have some animations.  You don't have to include everything in the animation, I'm just giving an example with a few things for reference.
    <br/>
    You may need to install <b>npm install --save @angular/animations.</b><br/>
    You may need to add <b>BrowserAnimationModule</b> to your appModule file, in the imports.  Import it from <b>"@angular/platform-browser/animations."</b>
    The div changes the style, the button changes the theState property, which triggers the style change.
    <br/>
    <button (click)="onChangeDivClicked()">Click To Change theState</button><button (click)="onChangeDivClickedGreen()">Green</button>
    <div [@theDivState]= "theState" style="width:200px; height:200px; "></div>
    For the buttons above, the transition to pink takes 2 secs, anything to green takes 1, and going back to default has no transition to it happens right away.
    animations is added to the @Component.
    <pre>
      <code>
        div [<b>@theDivState]= "theState"</b>

        <b>animations</b>: [
          trigger('theDivState', [      
            state('default', style( &lbrace;      
              backgroundColor: 'lightblue'
            &rbrace;)),
              state('pink', style(&lbrace;      
                backgroundColor: 'deeppink'
              &rbrace;)),
            state('green', style(&lbrace;    
              backgroundColor: 'green'
            &rbrace;)),

            transition('default =&gt; pink', [
              animate('2s')
            ]),
            transition('* =&gt; green', [
              animate('1s')
            ]),
          ]),
      ],
      </code>
    </pre>
    the * means any state. You can also use &lt;=&gt; to mean both aways. You can also indicate void instead of the * or a value, and it means when there is 
    nothing there.
    Another way, if we want to indicate the steps of the transitions, we also have keyframes like with css.  It would look something like this:
    <pre>
      <code>
        //providing offset values, if not provided, they are calculated and time is spread out evenly.
        animate("5s", <b>keyframes</b>([
          style(&lbrace; backgroundColor: "white", offset: 0 &rbrace;),
          style(&lbrace; backgroundColor: "blue", offset: 0.2 &rbrace;),
          style(&lbrace; backgroundColor: "orange", offset: 0.3 &rbrace;),
          style(&lbrace; backgroundColor: "pink", offset: 1 &rbrace;)
        ]))
      </code>
    </pre>
    You can also group transitions if you have more than one animation going on at the same time.
    <pre>
      <code>
        transition("* =&gt; void")
        [
          <b>group</b>([
            animate("1s", style(&lbrace; background: "black" &rbrace;)),
            animate("2s", style(&lbrace; color: "white" &rbrace;))
          ])
        ]
      </code>
    </pre>
    You can also have code for when an animation starts or ends, with something like this.
    <pre>
      <code>
        //in your div element or whatever element
        (@theDivState.<b>start</b>) = "someFuncIntsFile")
        (@theDivState.<b>done</b>) = "someFuncIntsFile")
      </code>
    </pre>
    <br/>
    
    <div class = "HeadingSubTopic" id="MISCELLANEOUS">MISCELLANEOUS</div>

    To have the app screen scroll sometimes, but not others because you want them locked, have 2 classes with one having overflow set to auto and 
    the other one to hidden.  Then, on the pages where you want it locked, do this.
    <pre>
      <code>
        .mainBodyScrolling&lbrace;
          overflow: auto;
        &rbrace;
        .mainBodyScrollingBlocked&rbrace;
          overflow: hidden;
        &rbrace;

        //import renderer and onDestroy
        constructor (private renderer: Renderer2)&lbrace; 
          this.renderer.addClass(document.body, 'mainBodyScrollingBlocked');  
          this.renderer.removeClass(document.body, 'mainBodyScrolling');  
        &rbrace;

        ngOnDestroy(): void &lbrace;
          this.renderer.removeClass(document.body, 'mainBodyScrollingBlocked');
          this.renderer.addClass(document.body, 'mainBodyScrolling');  
        &rbrace;
      </code>
    </pre>

    <hr/>

    You can use the Angular CLI to help you build the files you need:
    <ul>
      <li><b>ng new client</b> --> create a new app, will need to answer a few prompts</li>
      <li><b>ng serve</b> --> Start app</li>
      <li><b>ng g c nav --dry-run</b> --> create a component called nav, use dry-run to see what files get created before they are created</li>
      <li><b>ng g c nav</b> --> create the nav component</li>
      <li><b>ng g c nav --skip-tests</b> --> create the nav component but skip the test files</li>
      <li><b>ng g s _services/someServ --skip-tests</b> --> create a service in the _services folder</li>
      <li><b>ng g --help</b> --> see what options ng offers</li>
      <li><b>ng g g _guards/auth</b> --> create guard component (to be used in the routes)</li>
    </ul>
    
    If you are getting an error with the NODE version, try <b>export NODE_OPTIONS=--openssl-legacy-provider</b>.  
    Or SET NODE_OPTIONS=--openssl-legacy-provider as part of the "start" in your package.json file.

  </div>
</div> 
