
<br/><br/>
<div>        
  <div  class="PaddedContents divsByCol" style="text-align: center; ">

    <div class="divsByRow">
      <div style="width:20vw; border:solid deeppink 3px; margin:5px; display:inline-block;">
        <button class="doubleButtonsLike" (click) = "changeRows('-')">-</button>
        Rows<button class="doubleButtonsLike" (click) = "changeRows('+')">+</button>
        <span> -{{rows}}-</span>
      </div>        
      <div style="width:20vw; border:solid deeppink 3px; margin:5px; display:inline-block;">
        <button class="doubleButtonsLike" (click) = "changeColumns('-')">-</button>
        Columns<button class="doubleButtonsLike" (click) = "changeColumns('+')">+</button>
        <span> -{{columns}}-</span>
      </div>     
      <div style="width:auto; border:solid lightyellow 3px; margin:5px; display:inline-block; text-align: left;">
        By Rows:{{stringForAddingRows}}<br/>
        By Columns:{{stringForAddingColumns}}
      </div>     
    </div>
    <div style="display:inline-block">
      <button class="doubleButtonsLike" (click) = "showThemNow()">Show Them Now</button><button class="doubleButtonsLike" (click) = "resetThemNow()">Reset Them Now</button>
    </div>
    
      
    <div class="forRowsOfTen" #boxForCells style="justify-content:center;">      
    </div>    


  </div>

</div> 
 