
     
  <div  class="PaddedContents" style="text-align:center;font-size: 2vw;" >


    <div style="width:80%; height:70vh; margin:auto">    
     
      <!-- Created with Inkscape (http://www.inkscape.org/) -->
      <!--viewBox="0 0 280.05463 131.82826"-->      
      <button  (click)="getNumbers()">Numbers!</button>Your Number:<input type="number" [(ngModel)] = "numberEnteredByUser"><button  (click)="checkResult()">Check!</button> <br/>
      <br/><br/>
      <svg 
      style="width:60vw; height: 45vh;"
      viewBox="0 0 280.05463 131.82826"
      version="1.1"
      #balanceEquationSVG
      id="balanceEquationSVG"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg">
     <defs
        id="defs2">
       <rect
          x="108.97877"
          y="52.250095"
          width="283.64337"
          height="91.064452"
          id="rect22431" />
       <rect
          x="92.491039"
          y="312.78788"
          width="55.494624"
          height="60.539589"
          id="rect3808" />
       <rect
          x="183.30042"
          y="295.97133"
          width="77.356142"
          height="87.446073"
          id="rect3752" />
       <rect
          x="410.32388"
          y="462.4552"
          width="171.52884"
          height="89.127731"
          id="rect2883" />
       <rect
          x="351.46594"
          y="245.52167"
          width="104.26263"
          height="42.041382"
          id="rect2877" />
       <rect
          x="92.491035"
          y="312.78787"
          width="55.494625"
          height="60.539589"
          id="rect3808-0" />
       <rect
          x="92.491035"
          y="312.78787"
          width="55.494625"
          height="60.539589"
          id="rect3808-4" />
       <rect
          x="183.30042"
          y="295.97134"
          width="77.35614"
          height="87.446075"
          id="rect3752-9" />
       <rect
          x="92.491035"
          y="312.78787"
          width="55.494625"
          height="60.539589"
          id="rect3808-4-4" />
       <rect
          x="108.97877"
          y="52.250095"
          width="283.64337"
          height="91.064453"
          id="rect22431-5" />
     </defs>
     <g
        id="layer1"
        transform="translate(32.901469,-5.5716095)">
       <text
          xml:space="preserve"
          transform="scale(0.26458333)"
          id="text2875"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2877);display:inline;fill:#000000;fill-opacity:1;stroke:none" />
       <text
          xml:space="preserve"
          transform="scale(0.26458333)"
          id="text2881"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2883);display:inline;fill:#000000;fill-opacity:1;stroke:none" />
       <text
          xml:space="preserve"
          style="font-style:normal;font-weight:normal;font-size:41.1457px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#082ef7;fill-opacity:1;stroke:#eedb17;stroke-width:1.02864;stroke-opacity:1"
          x="84.213974"
          y="97.964859"
          id="text2889"
          transform="scale(1.0467726,0.95531733)"><tspan
            id="tspan2887"
            style="fill:#082ef7;fill-opacity:1;stroke:#eedb17;stroke-width:1.02864;stroke-opacity:1"
            x="84.213974"
            y="97.964859">=</tspan></text>
       <rect
          style="fill:#f7086d;fill-opacity:1;stroke:none;stroke-width:1.30671;stroke-opacity:1"
          id="rect2943-7"
          width="278.95633"
          height="2.2049119"
          x="-31.803179"
          y="5.5716095" />
       <rect
          style="fill:#f7086d;fill-opacity:1;stroke:none;stroke-width:1.30671;stroke-opacity:1"
          id="rect2943-7-0"
          width="278.95633"
          height="2.2049119"
          x="-31.803179"
          y="135.19496" />
       <text
          xml:space="preserve"
          transform="matrix(0.84145887,0,0,0.75310462,-143.41319,-171.76207)"
          id="text3750"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect3752);display:inline;fill:#2417ee;fill-opacity:1;stroke:#eedb17;stroke-opacity:1"><tspan
            x="183.30078"
            y="332.46392"
            id="tspan22869">+</tspan></text>
       <text
          xml:space="preserve"
          transform="matrix(0.77157494,0,0,0.67766743,-90.72921,-159.40459)"
          id="text3806"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect3808);display:inline;fill:#17eeea;fill-opacity:1;stroke:none"><tspan
            x="92.490234"
            y="349.28032"
            id="tspan22871">{{number1eq1}}</tspan></text>
       <text
          xml:space="preserve"
          transform="matrix(0.77157494,0,0,0.67766743,-24.491087,-158.31603)"
          id="text3806-8"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect3808-0);display:inline;fill:#17eeea;fill-opacity:1;stroke:none"><tspan
            x="92.490234"
            y="349.28032"
            id="tspan22873">{{number2eq1}}</tspan></text>
       <text
          xml:space="preserve"
          transform="matrix(0.77157494,0,0,0.67766743,64.496506,-157.8711)"
          id="text3806-2"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect3808-4);display:inline;fill:#17eeea;fill-opacity:1;stroke:none"><tspan
            x="92.490234"
            y="349.28032"
            id="tspan22875">{{number1eq2}}</tspan></text>
       <text
          xml:space="preserve"
          transform="matrix(0.84145887,0,0,0.75310462,13.546241,-170.92908)"
          id="text3750-2"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect3752-9);display:inline;fill:#2417ee;fill-opacity:1;stroke:#eedb17;stroke-opacity:1"><tspan
            x="183.30078"
            y="332.46392"
            id="tspan22877">+</tspan></text>
       <text
          xml:space="preserve"
          transform="matrix(0.77157494,0,0,0.67766743,132.52718,-158.31603)"
          id="text3806-2-3"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect3808-4-4);display:inline;fill:#17eeea;fill-opacity:1;stroke:none"><tspan
            x="92.490234"
            y="349.28032"
            id="tspan22879">{{number2eq2ForDisplay}}</tspan></text>
       <rect
          style="fill:none;fill-opacity:1;stroke:#eedb17;stroke-width:3.60964;stroke-dasharray:none;stroke-opacity:1"
          id="rect3985"
          width="108.29003"
          height="41.994282"
          x="-22.752953"
          y="44.859043" />
       <rect
          style="fill:none;fill-opacity:1;stroke:#eedb17;stroke-width:3.60964;stroke-dasharray:none;stroke-opacity:1"
          id="rect3985-4"
          width="108.29003"
          height="41.994282"
          x="126.96867"
          y="46.193863" />
       <text
          xml:space="preserve"
          transform="matrix(0.62699443,0,0,0.44564989,-57.044072,65.208454)"
          id="text22429"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect22431);fill:#000000;fill-opacity:1;stroke:#eedb17;stroke-opacity:1"><tspan
            x="108.97852"
            y="88.743213"
            id="tspan22881">{{totalOfEa1}}</tspan></text>
       <text
          xml:space="preserve"
          transform="matrix(0.62699443,0,0,0.44564989,92.06997,66.115052)"
          id="text22429-3"
          style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect22431-5);fill:#000000;fill-opacity:1;stroke:#eedb17;stroke-opacity:1"><tspan
            x="108.97852"
            y="88.743213"
            id="tspan22883">{{totalOfEa1}}</tspan></text>
     </g>
   </svg>
      

    </div>



    <!--Previous version, but not this          
    <div style="margin:auto; text-align: center; font-size: 6vh; ">
    
      <div style="display:inline-block; width:40%;border:solid 4px salmon; padding-left:10px; padding-right:10px">{{number1eq1}} + {{number2eq1}}</div> 
      <div style="display:inline-block; width:10%">=</div> 
      <div style="display:inline-block; width:40%;border:solid 4px darkcyan; padding-right:10px; padding-left:10px">{{number1eq2}} + ?</div>         

      <br/><br/>

      <div style="display:inline-block; width:40%;border:solid 4px salmon; padding-left:10px; padding-right:10px">
      <input [(ngModel)]="numberEnteredByUser" #inputResEq1 style="width:40%;" type="number"><button  (click)="checkResult()">Check!</button>
      </div> 
      <div style="display:inline-block; width:10%">=</div> 
      <div style="display:inline-block; width:40%;border:solid 4px darkcyan; padding-right:10px; padding-left:10px">{{number1eq2}} + ?</div>  

      <br/><br/>
      <div style="display:inline-block; width:40%;border:solid 4px salmon; padding-left:10px; padding-right:10px">{{messageForEq1}}</div> 
      <div style="display:inline-block; width:10%">=</div> 
      <div style="display:inline-block; width:40%;border:solid 4px darkcyan; padding-right:10px; padding-left:10px">{{number1eq2}} +  ?</div>    

      
      <br/><br/>
      <div style="display:inline-block; width:40%;border:solid 4px salmon; padding-left:10px; padding-right:10px">{{messageForEq1WithNumFrom2nd}}</div> 
      <div style="display:inline-block; width:10%">=</div> 
      <div style="display:inline-block; width:40%;border:solid 4px darkcyan; padding-right:10px; padding-left:10px">{{number2eq2ForDisplay}}</div>   

      <br/><br/>
      <button  (click)="getNumbers()">More!</button>

    </div>
    -->
    
    


  </div>    

 