
<br/><br/>
<div>        
  <div  class="PaddedContents" style="text-align: center; ">
    <div><button class="doubleButtonsLike" (click)="setRandomNums()">Get 2 Numbers</button></div>        
    <div>
      <div style="display:inline-block; color:deepskyblue ; border: deepskyblue solid 3px; width:20vw; margin:4px; ">{{random1}}</div> + 
      <div style="display:inline-block; color:deeppink; border: deeppink solid 3px; width:20vw; margin:4px;">{{random2}}</div> = {{total}}
    </div>
    <div #boxForCircles style="margin:auto; border: deepskyblue 3px solid; position:relative; width:70vw; height:60vh;">
      <!--<div class="blueCircle1" style="border : deeppink solid 2px; border-radius: 50%; position:absolute; top:1%; left:1%; width:4vw; height: 4vw;"> </div>-->
    </div>
  </div>

</div> 
 