
<br/><br/>
<div>        
  <div  class="PaddedContents" style="text-align: center; ">

        <!--<img style = "height:15%; width:15%; position:absolute; top:10%; right:0px; z-index: 1;" src='assets\images\kidsmath\requirestouch.svg'  alt="Requires touch screen"  />  -->
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <div class="radio-toolbar" >  
                <input class="doubleButtonsLike" type="radio" id="by1" name="countby" value="by1" (click)="countBy(1)" [checked]="countingBy===1"/>
                <label for="by1">By 1</label>                
                <input class="doubleButtonsLike" type="radio" id="by2" name="countby" value="by2" (click)="countBy(2)" [checked]="countingBy===2"/>
                <label for="by2">By 2</label>       
                <input class="doubleButtonsLike" type="radio" id="by5" name="countby" value="by5" (click)="countBy(5)" [checked]="countingBy===5"/>
                <label for="by5">By 5</label>   
                <input class="doubleButtonsLike" type="radio" id="by10" name="countby" value="by10" (click)="countBy(10)" [checked]="countingBy===10"/>
                <label for="by10">By 10</label>   
                <span class="doubleButtonsLikePink" (click)="checkResult()">Check Result</span>     
                <span class="doubleButtonsLikePink" (click)="reset()">Reset</span>     
              </div>                     
        </div>                                

        <!--<canvas #countByCanvas style="border: deepskyblue solid 3px; width:100%; height:100%; margin:auto;" class="blankLine" >            
        </canvas>-->
        <span *ngIf='showOption === "Green"' style="margin:auto; background-color: green;">CORRECT!</span>
        <span *ngIf="showOption === 'Red'" style="margin:auto; background-color: red;">Oh NOOOO!</span>
        <span *ngIf="showOption === 'Blank'" style="margin:auto; background-color: transparent;">Check result here!</span>
        <div id="forNumbers" #forNumbers>

        </div>
  </div>

</div> 
 