
<!--
<div class="DivsByRow">
    <div class="leftFixedBox" >                 
        <button class="letfKidsButton"><a href="https://gmfuster.github.io/Bonico/#/" target="_blank" >K & 1st Gr.</a></button>        
        <button class="letfKidsButton" (click)="setVisibleTo('concept')">Addition Concepts</button>
        <button class="letfKidsButton" (click)="setVisibleTo('arrays')">Arrays</button>
        <button class="letfKidsButton" (click)="setVisibleTo('AddSplitting')">Add Splitting</button>
        <button class="letfKidsButton" (click)="setVisibleTo('Carry1')">Carry 1</button>
        <button class="letfKidsButton" (click)="setVisibleTo('Countby')">Count by</button>
        <button class="letfKidsButton" (click)="setVisibleTo('NumberChart')">Number Chart</button>
        <button class="letfKidsButton" (click)="setVisibleTo('SubtractTo10')">Subtract To 10</button>
        <button class="letfKidsButton" (click)="setVisibleTo('SubtractWithTallies')">Subtract With Tallies</button>
        <button class="letfKidsButton" (click)="setVisibleTo('SubtractCountUp')">Subtract Count Up</button>
        <button class="letfKidsButton" (click)="setVisibleTo('BalanceEquation')">Balance Equation</button>
        <button class="letfKidsButton" (click)="setVisibleTo('PlusMinus')">Balance Equation</button>
        <button class="letfKidsButton" (click)="setVisibleTo('Clock')">Clock</button>                
    </div>

    <div class="contentsMoveRight">
        
        <concept *ngIf="visibleIs === 'concept'"></concept>
        <arrays *ngIf="visibleIs === 'arrays'"></arrays>
        <carry1 *ngIf="visibleIs === 'Carry1'"></carry1>
        <count-by *ngIf="visibleIs === 'Countby'"></count-by>
        <number-chart *ngIf="visibleIs === 'NumberChart'"></number-chart>
        <subtract-to-10 *ngIf="visibleIs === 'SubtractTo10'"></subtract-to-10>
        <subtallies *ngIf="visibleIs === 'SubtractWithTallies'"></subtallies>
        <sub-count-up *ngIf="visibleIs === 'SubtractCountUp'"></sub-count-up>
        <balance-equation *ngIf="visibleIs === 'BalanceEquation'"></balance-equation>
        <plus-minus *ngIf="visibleIs === 'PlusMinus'"></plus-minus>
        <clock *ngIf="visibleIs === 'Clock'"></clock>
    </div>
    
</div>
-->




<div class="DivsByRow" style="padding-left:1.5vw; padding-right: 1.5vw; padding-top: 1vh;;">

    <div *ngIf="currentActivity === myActivityEnum.Menu" >
        <!--
        <div class="markClassCardWholeBlue">Pre k - 1st</div>    
        <div class="markClassCardContentBlue">     
          <div style="position:relative;">
            <div style="background:teal; margin:0.5vw; padding:5px; border:5px double skyblue; ">
              <div style="display:flex; flex-direction:row; justify-content:center; font-size:3vw;">
               <a href="https://gmfuster.github.io/Bonico/#/" target="_blank">Check here for math, language, and games.</a>
            </div>          
            </div>        
            </div>          
        </div> 
        <br/><br/>
        -->
        
        <div class="markClassCardWholeBlue">Kids Math (2nd)</div>    
        <div class="markClassCardContentBlue">     
        <div style="position:relative;">
            <div style="background:teal; margin:0.5vw; padding:5px; border:5px double skyblue; ">
            <div style="display:flex; flex-direction:row; justify-content:flex-start; font-size:3vw;">

                <div  style="flex:1; border: white 2px solid; padding:5px; margin-right:6px; ">              
                    <span style="color:darkblue"><u><em>Adding</em></u></span><br/>                    
                    <!--<a [routerLink]='["/concept"]'  style="color:white; ">  Adding Concept </a><br/>-->
                    <button  (click)="onActivityClick(myActivityEnum.Concept)">Concept</button>                               
                    <button  (click)="onActivityClick(myActivityEnum.Arrays)">Arrays</button>
                    <button  (click)="onActivityClick(myActivityEnum.AddSplitting)">Add Splitting Numbers</button>  
                    <button  (click)="onActivityClick(myActivityEnum.Carry1)">Carry 1</button>                                 
                </div>

                <div style="flex:1;  border: deeppink 2px solid; padding:5px; margin-right:6px;">
                    <span style="color:darkblue"><u><em>Counting</em></u></span><br/>

                    <button  (click)="onActivityClick(myActivityEnum.NumberChart)">Numbers Chart</button>                                 
                    <button  (click)="onActivityClick(myActivityEnum.CountBy)">Count By</button>                                                     
                </div>

                <div style="flex:1;  border: deepskyblue 2px solid; padding:5px; margin-right:6px;">
                    <span style="color:darkblue"><u><em>Subtracting</em></u></span><br/>
                    <!--<button  (click)="onActivityClick(myActivityEnum.SubtractTo10)">Subtract To 10</button>  -->
                    <button  (click)="onActivityClick(myActivityEnum.SubtractWithTallies)">Subtract with Tallies</button>                                 
                    <button  (click)="onActivityClick(myActivityEnum.SubtractCountUp)">Subtract Counting Up</button>                                                              
                </div>

                <div style="flex:1; border: salmon 2px solid; padding:5px; margin-right:6px;">
                    <span style="color:darkblue"><u><em>Other</em></u></span><br/>
                    <button  (click)="onActivityClick(myActivityEnum.BalanceEquation)">Balance Equation</button>                                                              
                    <button  (click)="onActivityClick(myActivityEnum.PlusMinus)">Add or Subtract</button>                                                                             
                    <button  (click)="onActivityClick(myActivityEnum.Clock)">Clock</button>                                                                             
                </div>            
            </div>
            
            </div>        
        </div>          
        </div>     
    </div>  

    <button  *ngIf="currentActivity !== myActivityEnum.Menu" style="padding:0% ; background-color: deeppink; color: aliceblue;"
        (click)="onActivityClick(myActivityEnum.Menu)">Back to Activities</button>
    <concept *ngIf="currentActivity === myActivityEnum.Concept"></concept>
    <arrays *ngIf="currentActivity === myActivityEnum.Arrays"></arrays>   
    <add-splitting *ngIf="currentActivity === myActivityEnum.AddSplitting"></add-splitting>   
    <carry1 *ngIf="currentActivity === myActivityEnum.Carry1"></carry1>   
    <number-chart *ngIf="currentActivity === myActivityEnum.NumberChart"></number-chart>   
    <count-by *ngIf="currentActivity === myActivityEnum.CountBy"></count-by>   
    <subtract-to-10 *ngIf="currentActivity === myActivityEnum.SubtractTo10"></subtract-to-10>   
    <subtallies *ngIf="currentActivity === myActivityEnum.SubtractWithTallies"></subtallies>   
    <sub-count-up *ngIf="currentActivity === myActivityEnum.SubtractCountUp"></sub-count-up>   
    <balance-equation *ngIf="currentActivity === myActivityEnum.BalanceEquation"></balance-equation>   
    <plus-minus *ngIf="currentActivity === myActivityEnum.PlusMinus"></plus-minus>   
    <clock *ngIf="currentActivity === myActivityEnum.Clock"></clock>   
    
    
</div>


