.doubleButtonsLike{
    border:aqua 2px solid;
    border-radius: 8px;
    padding: 5px;    
    cursor:pointer;
    color: aqua;
    height: 4vh;
    box-sizing: content-box;
}
.doubleButtonsLikeDeepSkyBlue{
    border:deepskyblue 2px solid;
    border-radius: 8px;
    padding: 5px;    
    cursor:pointer;
    color: deepskyblue;
    height: 4vh;
    box-sizing: content-box;
}
.doubleButtonsLikePink{
    border:deeppink 2px solid;
    color:deeppink;
    border-radius: 8px;
    padding: 5px;    
    cursor:pointer;
    height: 4vh;
    box-sizing: content-box;
}
.digitForEquation{    
    font-size: 4vh;
    padding: 5px;
    margin:5px;
}
.gridContainerNumberChart{
    display:flex; 
    width: 70vw;   
    height: 70vh;
    align-items:flex-start;
    flex-direction: row;
} 
.visible{
    display: block;
}
.invisible{
    display: none;
}
#forNumbers{
    text-align: center;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;   
    row-gap: 10px; 
    column-gap: 5px;
}
.forRowsOfTen{
    text-align: center;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;   
    row-gap: 10px; 
    column-gap: 5px;

}
.blueCircle1{
    animation-name: blueCircles;
    animation-duration: 2s;
}
/*TODO change to Angular animation?*/
@keyframes blueCircles{
    0% { top:5%}
    25% { top:25%}
    50% { top: 50%}
    75% { top:75%}
    100% { top:100%}
}

