.doubleButtonsLike{
    border:aqua 2px solid;
    border-radius: 8px;
    padding: 5px;
    margin:5px;
    cursor:pointer;
}
.digitForEquation{
    /*border:aqua 2px solid;*/
    font-size: 8vh;
    padding: 5px;
    margin:5px;
}