.doubleButtonsLike{
    border:aqua 2px solid;
    border-radius: 8px;
    padding: 5px;
    margin:5px;
    cursor:pointer;
}
.doubleButtonsLikePink{
    border:deeppink 2px solid;
    color:deeppink;
    border-radius: 8px;
    padding: 5px;
    margin:5px;
    cursor:pointer;
}
.digitForEquation{
    /*border:aqua 2px solid;*/
    font-size: 8vh;
    padding: 5px;
    margin:5px;
}
.gridContainerNumberChart{
    display:flex; 
    width: 65vw;   
    height: 65vh;
    align-items:flex-start;
    flex-direction: row;
} 
/*
.blankLine{
    background-image: url("numberLineBlank.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}*/
#forNumbers{
    text-align: center;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;   
    row-gap: 10px; 
    column-gap: 5px;

}