
<br/><br/>
<div>        
  <div  class="PaddedContents" style="text-align: left; font-size: 2vw;" >
    <div class="divsByRow">
      <div>        
        <span >Choose a number to subtract from: <input  type="number" min="11" max = "20" step="1" 
          [(ngModel)] = "subtractFromNum" (change)="numbersChanged($event)" (keydown)="numbersChangedk($event)" /></span><br/>
        <span >Choose a number to subtract: <input type="number" min="1" max = "9" 
          [(ngModel)] = "subtractNum" (change)="numbersChanged($event)" (keydown) = "numbersChangedk($event)"/></span><br/>
      </div>
      <button class="doubleButtonsLike" (click)="onShowHow()">Show How</button>
    </div>                
    <br/>
    <div style="border: deepskyblue solid 3px; width:80vw; margin:auto; height:60vh;">
      <div #solution class="visible" style="position: relative;">
        <!--<img alt="how to make 10 to subtract" src="assets\images\kidsmath\make10tosubtractWITHNUMBERSINSIDE.svg" style="width:75vw; height:55vh;position:fixed; top:20vh; left:20vw;"> -->
        <svg id="useThisOne" style="width:75vw; height:55vh;position:fixed; top:20vh; left:20vw;"
        width="192.13548mm"
        height="159.72414mm"
        viewBox="0 0 192.13548 159.72414"
        version="1.1"
        id="svg5"
        inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
        sodipodi:docname="make10tosubtractWITHNUMBERSINSIDE.svg"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">       
       <defs
          id="defs2">
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494624"
            height="53.812968"
            id="rect9831" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-6" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-6-1" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-6-0" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-6-0-9" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-6-0-8" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-6-0-6" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-6-0-7" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-6-0-7-5" />
         <rect
            x="25.224829"
            y="161.4389"
            width="55.494625"
            height="53.812969"
            id="rect9831-64" />
       </defs>
       <g
          inkscape:label="Layer 1"
          inkscape:groupmode="layer"
          id="layer1"
          transform="translate(-8.8263775,-1.2290769)">
         <rect
            style="fill:none;stroke:#179dee;stroke-width:0.644558;stroke-dasharray:none"
            id="rect184"
            width="16.480316"
            height="15.145505"
            x="15.786491"
            y="16.819115" />
         <rect
            style="fill:none;stroke:#179dee;stroke-width:0.644558;stroke-dasharray:none"
            id="rect184-2"
            width="16.480316"
            height="15.145505"
            x="48.711899"
            y="16.819115" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="m 36.039975,23.724468 h 8.453821"
            id="path1024" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:1.27733;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="M 73.192293,21.499778 H 86.985369"
            id="path1024-6" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:1.27733;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="M 73.179443,27.402936 H 86.972519"
            id="path1024-6-1" />
         <rect
            style="fill:none;stroke:#179dee;stroke-width:0.644558;stroke-dasharray:none"
            id="rect184-2-8"
            width="16.480316"
            height="15.145505"
            x="97.210144"
            y="16.819115" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:0.800942;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="M 105.89523,31.841373 V 46.969261"
            id="path1092" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="m 78.309076,47.111402 56.952064,-0.59931"
            id="path1092-2" />
         <rect
            style="fill:none;stroke:#ee1784;stroke-width:0.644558;stroke-dasharray:none;stroke-opacity:1"
            id="rect184-3"
            width="16.480316"
            height="15.145505"
            x="70.176941"
            y="64.87693" />
         <rect
            style="fill:none;stroke:#179dee;stroke-width:0.644558;stroke-dasharray:none"
            id="rect184-3-7"
            width="16.480316"
            height="15.145505"
            x="126.74448"
            y="65.935265" />
         <path
            style="fill:none;stroke:#ee1784;stroke-width:0.831014;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="M 31.542975,35.300997 69.470791,64.745789"
            id="path1092-2-3" />
         <path
            style="fill:none;stroke:#ee1784;stroke-width:0.944461;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="M 78.669458,46.995085 77.996287,64.317906"
            id="path1092-2-3-5" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:0.911147;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="M 134.8162,46.144339 V 65.72161"
            id="path1092-9" />
         
         <rect
            style="fill:none;stroke:#179dee;stroke-width:0.644558;stroke-dasharray:none"
            id="rect184-6"
            width="16.480316"
            height="15.145505"
            x="48.266964"
            y="105.39027" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="m 70.077728,113.32537 h 8.453821"
            id="path1024-3" />
         <rect
            style="fill:none;stroke:#ee1784;stroke-width:0.644558;stroke-dasharray:none;stroke-opacity:1"
            id="rect184-3-4"
            width="16.480316"
            height="15.145505"
            x="83.369476"
            y="105.36646" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:1.27733;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="M 106.12412,109.56613 H 119.9172"
            id="path1024-6-9" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:1.27733;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="m 106.11127,115.46929 h 13.79308"
            id="path1024-6-1-0" />
         <rect
            style="fill:none;stroke:#289c1b;stroke-width:1;stroke-dasharray:none;stroke-opacity:1"
            id="rect184-6-4"
            width="16.480316"
            height="15.145505"
            x="125.87843"
            y="105.30605" />
         <path
            style="fill:none;stroke:#289c1b;stroke-width:0.718036;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="m 136.4224,120.68793 4.35156,15.4315"
            id="path1092-2-3-1" />
         <path
            style="fill:none;stroke:#179dee;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
            d="m 142.10376,80.739631 11.23129,55.836759"
            id="path1092-2-35" />
         <rect
            style="fill:none;stroke:#289c1b;stroke-width:2.14024;stroke-dasharray:none;stroke-opacity:1"
            id="rect184-6-4-0"
            width="81.635834"
            height="14.00527"
            x="105.3442"
            y="135.49503" />
         <text
            xml:space="preserve"
            transform="matrix(0.40188625,0,0,0.18910855,4.1948745,-10.375387)"
            id="text1"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831);display:inline;fill:#09e8f1;fill-opacity:1;stroke:none"><tspan
              x="28"
              y="197.93267"
              id="tspan1">{{firstDigitFromNumber}}</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.338162,0,0,0.22219261,43.680038,-16.512652)"
            id="text2"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-6);display:inline;fill:#09e8f1;fill-opacity:1;stroke:none"><tspan
              x="25.224609"
              y="197.93267"
              id="tspan2">{{subtractNum}}</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.37466821,0,0,0.22303987,90.944235,-16.902639)"
            id="text3"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-6-1);display:inline;fill:#09e8f1;fill-opacity:1;stroke:none"><tspan
              x="19"
              y="197.93267"
              id="tspan3">{{subtractionRes}}</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.42270374,0,0,0.25376501,62.029278,25.673234)"
            id="text4"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-6-0);display:inline;fill:#ee1784;fill-opacity:1;stroke:none"><tspan
              x="28"
              y="197.93267"
              id="tspan4">{{secondDigitFromNumber}}</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.51414369,0,0,0.21159493,114.32358,34.861933)"
            id="text5"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-6-0-9);display:inline;fill:#09e8f1;fill-opacity:1;stroke:none"><tspan
              x="28"
              y="197.93267"  
              id="tspan5">{{subtractNumMinusSecondDigit}}</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.37454679,0,0,0.28539531,39.747139,60.254157)"
            id="text6"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-6-0-8);display:inline;fill:#09e8f1;fill-opacity:1;stroke:none"><tspan
              x="25.224609"
              y="197.93267"
              id="tspan6">{{subtractFromNum}}</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.41147239,0,0,0.29703828,73.51129,57.962234)"
            id="text7"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-6-0-6);display:inline;fill:#ee1784;fill-opacity:1;stroke:none"><tspan
              x="25.224609"
              y="197.93267"
              id="tspan7">{{secondDigitFromNumber}}</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.31633104,0,0,0.2378312,120.46373,69.254079)"
            id="text8"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-6-0-7);display:inline;fill:#289c1b;fill-opacity:1;stroke:none"><tspan
              x="25.224609"
              y="197.93267"
              id="tspan8">10</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.45307075,0,0,0.2271846,108.74271,101.39669)"
            id="text9"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-6-0-7-5);display:inline;fill:#289c1b;fill-opacity:1;stroke:none"><tspan
              x="2"
              y="197.93267"
              id="tspan9">10 - {{subtractNumMinusSecondDigit}} = {{subtractionRes}}</tspan></text>
         <text
            xml:space="preserve"
            transform="matrix(0.40188625,0,0,0.19989066,11.591434,-12.509519)"
            id="textb"
            style="font-style:normal;font-weight:normal;font-size:35px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect9831-64);display:inline;fill:#ee1784;fill-opacity:1;stroke:none"><tspan
              x="29"
              y="197.93267"
              id="tspanb">{{secondDigitFromNumber}}</tspan></text>
          <path
              style="fill:none;stroke:#179dee;stroke-width:1.11586;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
              d="M 23.662141,34.129032 52.509682,103.92976"
              id="path1092-2-3-8" />
          <path
              style="fill:none;stroke:#ee1784;stroke-width:0.506875;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
              d="M 76.47124,80.151887 86.84995,104.78508"
              id="path1092-2-3-5-4" />
       </g>
     </svg>
      </div>
    </div>
    
        
        
  </div>

</div> 
 