
<div>        
  <div  style="text-align: center; ">        
    <div>   
      <button class="doubleButtonsLike" (click)="setRandomNums()">Get Numbers</button>  
      <div style="display: inline-block; border:solid aqua 3px; margin:4px; padding:3px; font-size: 3vw;">
        <div style="display:inline-block; color:lightyellow ; border: lightyellow solid 3px; width:4vw; height:5vh;margin:4px; ">
          <span>{{random1String}}</span></div> - 
        <div style="display:inline-block; color:deeppink; border: deeppink solid 3px; width:4vw; height:5vh; margin:4px;">{{random2String}}</div> =         
        <div style="display:inline-block; color:deeppink; border: deepskyblue solid 3px; width:4vw; height:5vh; margin:4px;">{{totalString}}</div> 
      </div>     
      <button class="doubleButtonsLike" (click)="showTallies()">Show</button>  

      <div #boxForTallies style="margin:auto; border: deepskyblue 3px solid; position:relative; width:70vw; height:60vh;">
      <!--<div class="blueCircle1" style="border : deeppink solid 2px; border-radius: 50%; position:absolute; top:1%; left:1%; width:4vw; height: 4vw;"> </div>-->
    </div>
  </div>

</div> 
 