<div class="CenterMyContent">

 
  <div style="width:96vw; background:skyblue; margin-bottom:5vh;">

    <a href="https://twitter.com/GMFuster" target="_new" style="text-decoration:none;">
      <img alt="Twitter" src="assets/images/Twitter_Logo_Blue.svg" style="width: 60px; height:60px; "
           margin="5px"
           class="rounded-circle d-inline-block align-top" />
    </a>


    <a href="https://gmfuster.medium.com/" target="_new" style="text-decoration:none;">
      <img alt="Medium"
           src="assets/images/mediumLogo.png"
           style="width: 60px; height:60px; "
           margin="5px"
           class="rounded-circle d-inline-block align-top" />
    </a>

    <a href="https://www.freecodecamp.org/espanol/news/author/gemma/" target="_new">
      <img alt="FreeCodeCamp translated articles"
           src="assets/images/fcc_primary_small.svg" style="width:35px; height:35px;"
           class="align-top" />
    </a>
    <!--
  <a href="https://www.youtube.com/channel/UCRzxDsd0WvJza0BxaIRiQnA" target="_new" style="text-decoration:none;">
    <img alt="YouTube"
         src="assets/images/youtube_social_icon_red.png"
         style="width: 60px; height:60px; "
         margin="5px"
         class="d-inline-block align-top" />
  </a>
       -->
  </div>

  </div>
