<div class="PaddedContents">

    <br/>
    <h2 class="CenterMe">C# notes - Basics</h2>  
    <h4 class="CenterMe">Naming is not always according to standard but I thought it was simpler.</h4>      
    <h4 class="CenterMe">You can type the C# code  
      <a class="CenterMe" href="https://replit.com/languages/csharp" target="_new">on replit.com</a> 
      to see how it works <br/>
   
    </h4>
  
    <br/>
                    
  
    <code><strong><u>null coalescing operator</u></strong></code><br /><br/>
    <pre>
        <code >
            class Program &lbrace;
            &nbsp;static void Main(string[] args) &lbrace;
                &nbsp; &nbsp;    string theString = "hello";
                &nbsp; &nbsp;    string theOtherString = null;
                &nbsp; &nbsp;    Console.WriteLine(<b>theString ?? "Just Me"</b>); //hello
                &nbsp; &nbsp;    Console.WriteLine(theOtherString ?? "Just Me");//Just Me
                &nbsp; &rbrace;
             &rbrace;
        </code>
    </pre>
   

    <code><strong><u>operator overloading</u></strong></code><br /><br/>
    This example is silly but it's just to illustrate how this works.  We have a clas SomeObj, and it has a method for the + of objects of that class:<br/>
    <pre>
        <code >
            ...
            public static SomeObj operator +(SomeObj o1, SomeObj o2)
            &lbrace;
            &nbsp; SomeObj newO = new SomeObj("");
            &nbsp;  newO.TheThing = o1.TheThing + "-" + o2.TheThing;
            &nbsp;  return newO;
            &rbrace;
            //to use 
            SomeObj obj1 = new SomeObj("hey");
            SomeObj obj2 = new SomeObj("helloooo");
            Console.WriteLine( (obj1 + obj2).TheThing);
        </code>
    </pre>  
    <br/>
    <img width="100%" src="assets\images\csharp\opoverloading1.png" alt="operator overloading" /><br/><br/>

    <code><strong><u>keywords as variables</u></strong></code><br /><br/>
    <pre>
        <code>
            using System;

            &nbsp;class Program &lbrace;    

                &nbsp;&nbsp;   static void Main(string[] args) &lbrace;
                    &nbsp;&nbsp;  <b>string @if = "using if as a variable";</b>
                    &nbsp;&nbsp;  Console.WriteLine (@if);
                    &nbsp;  &rbrace;
            &rbrace;
        </code>
    </pre>

    <code><strong><u>Ignore special chars</u></strong></code><br /><br/>

    <pre>
        <code>
            Console.WriteLine(@"blah blah \n \\hey ");//will print that same string
        </code>
    </pre>
    <br/>

    <code><strong><u>format strings with variables</u></strong></code><br /><br/>
    <pre>
        <code>
            string fillIt = "Michael";
            <b>Console.WriteLine($"My name is &lbrace;fillIt&rbrace;");</b>
            //the one below uses C so it will print with currency format:
            decimal amount = 8.94m;
            <b>Console.WriteLine($"My amount is &lbrace;amount:C&rbrace;");</b>//My amount is $8.94
        </code>
    </pre>
    <br/>

    <code><strong><u>params argument</u></strong></code><br /><br/>
    the params argument has to be the last one <br/>
    <pre>
        <code>
            class Program &lbrace;    

            &nbsp;  public static void SomeMethod(Int32 i, string s, <b> params string[] words</b>)&lbrace;
            &nbsp;  &nbsp;   Console.WriteLine(i);
            &nbsp;  &nbsp;   Console.WriteLine(s);
            &nbsp;  &nbsp;   Console.WriteLine(words.Length);
                &rbrace;
                  
                static void Main(string[] args) &lbrace;
                &nbsp;      SomeMethod(2, "hello",   "I","am","your","father");                  
                &rbrace;
            &rbrace;
        </code>
    </pre>
    Prints <br/>
    <pre>
        <samp>
        2
        hello
        4
        </samp>
    </pre>


    <code><strong><u>Default params</u></strong></code><br /><br/>

    <pre>
        <code>
            public static void SomeMethod(Int32 i, string s, string def1 = "defaulted 1", string def2 = "defaulted 2")&lbrace;  
            &nbsp;  Console.WriteLine(def1);
            &nbsp;  Console.WriteLine(def2);
            &rbrace;
              
            static void Main(string[] args) &lbrace;
            &nbsp;   SomeMethod(2, "hello");
            &nbsp;   SomeMethod(2, "hello", "for 1");
              
            &rbrace;
        </code>
    </pre>
    Prints:<br/>
    <pre>
        <samp>
            defaulted 1
            defaulted 2
            for 1
            defaulted 2
        </samp>
    </pre>

    <br/>
    <code><strong><u>Extension Methods</u></strong></code><br /><br/>



    
</div>