<div>

    <div class="PaddedContents">

        <br/>
        <h3 class="CenterMe">Some C# notes are as Medium articles</h3>
        

        <hr class="hrHeaderClass"/>
        <h2 class="CenterMe">Articles</h2>
        <hr class="hrHeaderClass"/>

        <a href="https://medium.com/nerd-for-tech/c-compare-images-so-you-can-remove-duplicates-b313539b68cb"
    target="_new">C# — Compare Images so you Can Remove Duplicates</a><br/><br/>

    <a href="https://medium.com/nerd-for-tech/c-delegates-actions-events-summary-please-8fab0244a40a"
    target="_new">C# — Delegates, Actions, Events. Summary please!</a><br/><br/>

    <a href="https://gmfuster.medium.com/implementing-some-c-interfaces-and-extension-methods-f8093f1e29fd"
    target="_new">C# - Implementing some C# Interfaces and Extension Methods</a><br/><br/>

    <a href="https://gmfuster.medium.com/c-interfaces-abstract-classes-overriding-253eb3289d94"
    target="_new">C# — Interfaces, Abstract Classes, Overriding</a><br/><br/>

    <a href="https://gmfuster.medium.com/c-class-struct-record-record-struct-d3b21c57d9bb"
    target="_new">C# — Class, Struct, Record, Record Struct</a><br/><br/>


    </div>  
</div>