<div class="PaddedContents ">   

    <div >

        <div class="TopLinks" #HeadingsContainer>      
            <top-links ></top-links>      
          </div>  
          <br/> 
        
        <h4 class="CenterMe">This is about Entity Framework Core.</h4>      
                    
    <p class="HeadingSubTopic" id="Intro" HeadingSubTopicDir>Intro</p>
    You use EF to access data.  If you have a DB in place, you set it so it matches the structure of that DB.  Otherwise you can use to create the DB itself.<br/>

    <p class="HeadingSubTopic2">Connection string</p>
    (Not including installation for SQL server or EF packages). You will need a class in your project to set your DatabaseProvider (SQLServer). You can have another class 
    also for the Database itself.  This class should use <b>using Microsoft.EntityFrameworkCore;</b><br/>.  It should also inherit from DbContext. 
    <b>public class Northwind : DbContext</b>  On that class you would have something like this (for SQLServer).
    <pre>
        <code>
            protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
            &lbrace;
                if (ForEF.DatabaseProvider == "SQLServer")
                &lbrace;
                    string connection = "Data source= YourServerName\\YourInstanceName;" + "Initial Catalog=Northwind;" + 
                    "Integrated Security=true;" + "MultipleActiveResultSets=true;";
                    optionsBuilder.UseSqlServer(connection);
                &rbrace;			
            &rbrace;
        </code>
    </pre>

    The ForEF is something like:
    <pre>
        <code>
            public  class ForEF
	        &lbrace;
		        public const string DatabaseProvider = "SQLServer";
	        &rbrace;
        </code>
    </pre>

    Instead of the OnConfiguring, we could also go to the Program.cs and after builder.Services.AddSwaggerGen(); add something like:
    <pre>
        <code>
            builder.Services.AddDbContext&lt;APIDbContext&gt;(option =&gt; option.UseSqlServer("Data source= YourServerName\\YourInstanceName;" + "Initial Catalog=Northwind;" +
                "Integrated Security=true;" + "MultipleActiveResultSets=true;"));
        </code>
    </pre>

    <p class="HeadingSubTopic2">Entity Models</p>
    <b>With Entity Framework, an entity class represents the structure of the table and an instance represents a row in the table.</b><br/>
    When creating a model for a table in the DB, we can use <b>attributes</b> de give more details to the fields, such as:
    <pre>
        <code>
            [Required]
            [StringLength(40)]
            public string ProductName &lbrace;get;set;&rbrace;
        </code>
    </pre>
    Instead of attributes, or with them, we can use Fluent API, for the above.  (more later)
    <pre>
        <code>
            <b>//on OnModelCreating in Northwind.cs</b>
            modelBuilder.Entity&lt;Product&gt;()
                .Property(product => product.ProductName)
                .IsRequired()
                .HasMaxLength(40);
        </code>
    </pre>
    There is also a .HasData where you can insert a default row if there is none.  For the classes that go with the table, you can have one class per table. 
    These classes will be entity models.
    If we have a table like this:
    <pre>
        <samp>
            Categories:
                CategoryId (PK, int, not null)
                CategoryName (nvarchar(15), not null)
                Description (ntext, null)
                ...
        </samp>
    </pre>
    We can start setting up the columns in its entity model class like:
    <pre>
        <code>
            <b>public class Category</b>
            &lbrace;
		        public int CategoryId &lbrace; get; set; &rbrace;
		        public string? CategoryName &lbrace; get; set; &rbrace;
		        [Column(TypeName = "ntext")]
		        public string? description &lbrace; get; set; &rbrace;

        		public virtual ICollection&lt;Product&gt; Products &lbrace; get; set; &rbrace;

		        public Category()
		        &lbrace;
                    //could also be a list
                    this.Products = new HashSet&lt;Product&gt;();
                &rbrace;
            &rbrace;
        </code>
    </pre>
    If we want to name a property for a column with a name different than the name in the table:
    <pre>
        <code>
            //UnitPrice is the name in the table.
            [Column("UnitPrice", TypeName ="money")]
            public decimal? cost &lbrace; get; set; &rbrace;
        </code>
    </pre>
    For properties that relate different entities, we can do:
    <pre>
        <code>
            public <b>virtual</b> ICollection&lt;Product&gt; Products &lbrace; get; set; &rbrace;
        </code>
    </pre>
    That allows EF Core to inherit and override the properties to provide extra features (such as lazy loading). 
    The Category class (entity model) matches the Category table in the DB and will be used to represent one row from the table. <br/>
    You also need to tell the project what tables to use.  Another example of how to set up columns.
    

    <p class="HeadingSubTopic2">Setup columns to some properties, generally</p>
    <pre>
        <code>
            <b>public class Northwind : DbContext</b>
            &lbrace;
                public DbSet&lt;Category&gt;? Categories &lbrace; get; set; &rbrace;
		

	        protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
                ...
		        
                protected override void <b>OnModelCreating (ModelBuilder modelBuilder)</b>
	        &lbrace;
                <b>modelBuilder.Entity&lt;Category&gt;().Property(category =&gt; category.CategoryName).IsRequired().HasMaxLength(15);</b>
                //do not bring back in queries if the price is >= 50
                modelBuilder.Entity&lt;Product&gt;().<b>HasQueryFilter(p =&gt; p.cost &lt; 50);</b>;
	      &rbrace;
                ...	
        </code>
    </pre>
    You can also use a scaffolding tool to create the above. <b>gotnet tool install --global dotnet-ef -- version 6.0.0</b>
    <br/>

    <p class="HeadingSubTopic2">preconventions</p>
    EF 6 and above let you create preconvention models.  <b>In the same class Northwind:</b>
    <pre>
        <code>
            protected override void ConfigureConventions(ModelConfigurationBuilder configurationBuilder)
            &lbrace;
	            //apply this max to all string columns
	            configurationBuilder.Properties&lt;tring&gt;().HaveMaxLength(75);
	            
                //or have a custom interface IDoNotMap and make sure none of the properties implementing it are mapped
                //can algo put a type in the IgnoreAny
                //Could have also used [NotMapped] in a particular property.
	            configurationBuilder.IgnoreAny&lt;IDoNotMap&gt;();  (NOT SURE ABOUT THIS IDONOTMAP)
            &rbrace;
        </code>
    </pre>

    <p class="HeadingSubTopic2">Querying the DB</p>
    Once the DbContext and the data provider are set up, we can start using them in our methods.<br/>
    <pre>
        <code>
            <b>using (Northwind db = new Northwind())</b>
            &lbrace;
                //get categories that include their related products (gets categories and products for them)
                <b>IQueryable&lt;Category&gt;? categories = db.Categories?.Include(c =&gt; c.Products);</b>
                if (categories is null)
                &lbrace;
                    return;
                &rbrace;
                foreach(Category cat in categories)
                &lbrace;
                    Console.WriteLine(cat.CategoryName + "--" + cat.Products.Count);
                &rbrace;
            &rbrace;
        </code>
    </pre>
    Could also do something like this (cost is the name we gave to the UnitPrice column in Product)
    <pre>
        <code>
            IQueryable&lt;Category&gt;? categories = db.Categories?.Include(c =&gt; c.Products.Where(p =&gt; p.cost &lt; 50));

            //you could also add a .OrderByDescending(pr => pr.cost) to the above.
        </code>
    </pre>
    Could also <b>use Like </b>
    <pre>
        <code>
            IQueryable&lt;Product&gt;? products = db.Products?.Where(p =&gt; EF.Functions.Like(p.ProductName, "Ch%"));
        </code>
    </pre>

    <p class="HeadingSubTopic" id="ManipulateData" HeadingSubTopicDir>Manipulating the Data</p>

    <p class="HeadingSubTopic2">Inserting</p>

    You can do multiple inserts , updates etc and save them all at the same time.  In the example, adding just one product and then saving.
    <pre>
        <code>
            Product product = new Product();
            product.ProductName = "New Product";
            product.cost = 90;
            product.CategoryId = 1;
            <b>db.Products.Add(product);
            int total = db.SaveChanges();//total will have the total number of records</b>
        </code>
    </pre>

    <p class="HeadingSubTopic2">Updating</p>
    <b>Remember to have all those operations inside the using using (Northwind db = new Northwind()) </b><br/>
    <pre>
        <code>
            Product prodToUpdate = db.Products.First();
            prodToUpdate.ProductName += " Updated";
            int affected = db.SaveChanges();
            Console.WriteLine(affected);//1
        </code>
    </pre>
    <p class="HeadingSubTopic2">Delete</p>
    Similar as the other ones, but you can remove one or RemoveRange to remove a range of products.
    <p class="HeadingSubTopic2">Transactions</p>
    SaveChanges will start a transaction.  It will only commit if all the changes succeed.<br/>
    Transactions are ACID (Atomic, Consistent, Isolated, Durable). There are several isolation levels: ReadUncommitted, ReadCommitted,
    RepeatableRead, Serializable, Snapshot.<br/>
    You can control explicit transactions with Database of DBContext.  You need to import Microsoft.EntityFrameworkCore.Storage.

    <pre>
        <code>
            <b>using (IDBContextTransaction t = db.Database.BeginTransaction())</b>
            //...do whatever
            //after SaveChanges
            <b>t.commit();</b>
        </code>
    </pre>
    <p class="HeadingSubTopic" id="Loading" HeadingSubTopicDir>Loading Patterns</p>
        Eager Loading: Load data early<br/>
        Lazy Loading: Load before it is needed<br/>
        Explicit Loading: load data manually<br/>

        In the code above when we are getting categories and their products (we used INCLUDE for that), we are usin eager loading.<br/>
        Lazy loading can automatically load missing related data.  The EntityFrameworkCore.proxis package has to be referenced.  Then you can go to 
        the OnConfiguring method and add this, but note that you may end up with multiple hits on the DB.
        <pre>
            <code>
                protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
                ...
                optionsBuilder.UseLazyLoadingProxies();
            </code>
        </pre>
        For explicit loading, we need <b>using Microsoft.EntityFrameworkCore.ChangeTracking</b>. (so we can use CollectionEntry).
        Set this if you are no longer doing lazy loading now <b>db.ChangeTracker.LazyLoadingEnabled = false;</b><br/>
        This is a bit weird but just trying to make the steps clear as to the process.
        <pre>
            <code>
                //just getting some category to use
                IQueryable&lt;Category&gt;? cat = db.Categories?.Where(c =&gt; c.CategoryId == 5);
                <b>Category c</b> = cat.FirstOrDefault();

                //set the relationship
                CollectionEntry&lt;Category, Product&gt; prods = db.Entry(<b>c</b>).Collection(c2 => c2.Products);
                if (!prods.IsLoaded)
                &lbrace;
                    prods.Load();
                &rbrace;
                ...
                foreach (Product p in c.Products)...
            </code>
        </pre>

        <p class="HeadingSubTopic" id="Logging" HeadingSubTopicDir>Logging</p>

    We can monitor the interaction between EF and the Database.  Create a file to have the <b>logging code:</b> (not really getting into this)
    <pre>
        <code>
            using Microsoft.Extensions.Logging;
            using static System.Console;

            public class ConsoleLogger:ILogger
            &lbrace;
                public IDisposable BeginScope&lt;TState&gt;(TState state)
                &lbrace;
                    return null;
                &rbrace;
                public bool IsEnabled(LogLevel logLevel)
                &lbrace;
                    switch (logLevel)&lbrace;
                        case LogLevel.Trace:
                        case LogLevel.Information:
                            return false;
                        case LogLevel.Debug:
                        case LogLevel.Warning:
                        case LogLevel.Error:
                        case LogLevel.Critical:
                        default:
                            return true;
                    &rbrace;
                &rbrace;
                public void Log&lt;TState&gt;(LogLevel logLevel, EventId eventId, TState state, Exception? exception, 
                    Func&lt;TState, Exception, string&gt; formatter)
                &lbrace;
                    if (state != null)&lbrace;
                        Console.WriteLine(state);
                    &rbrace;
                    if (exception != null)&lbrace;
                        Console.WriteLine(exception.Message);
                    &rbrace;
                &rbrace;
            &rbrace;

            public class ConsoleLoggerProvider : <b>ILoggerProvider</b>
            &lbrace;
                public ILogger CreateLogger(string CategoryName)
                &lbrace;
                    return new ConsoleLogger();
                &lbrace;
                public void Dispose() &lbrace; &rbrace;
        </code>
    </pre>
    </div>  
</div>