<div class="PaddedContents">

    <br/>
    <h2 class="CenterMe">C# notes - Basics</h2>  
    <h4 class="CenterMe">Naming is not always according to standard but I thought it was simpler.</h4>      
    <h4 class="CenterMe">You can type the C# code  
      <a class="CenterMe" href="https://replit.com/languages/csharp" target="_new">on replit.com</a> 
      to see how it works <br/>
   
    </h4>
  
    <br/>
                    
  
    <code><strong><u>null coalescing operator</u></strong></code><br /><br/>
    <div class="codeBlock">
        using System;<br /><br />

        class Program &lbrace;<br />
            &nbsp;static void Main(string[] args) &lbrace;<br />
                &nbsp; &nbsp;    string theString = "hello";<br />
                &nbsp; &nbsp;    string theOtherString = null;<br />
                &nbsp; &nbsp;    Console.WriteLine(<b>theString ?? "Just Me"</b>); //hello<br />
                &nbsp; &nbsp;    Console.WriteLine(theOtherString ?? "Just Me");//Just Me<br />
        &rbrace;<br />
        &rbrace;}
    </div><br/><br/>

    <code><strong><u>operator overloading</u></strong></code><br /><br/>
    





    <img width="100%" src="assets\images\js\varscope1.png" alt="var scope" /><br/><br/>




    
</div>