<div class="PaddedContents">
    
    <div class="leftLinks" #HeadingsContainer>      
        <left-links ></left-links>      
      </div>   
    
  
    <br/>
        
    

    <div class="PaddedContents PaddedContentsTopics">
  
        <h4 class="CenterMe">You can type the C# code  
            <a class="CenterMe" href="https://replit.com/languages/csharp" target="_new">on replit.com</a> 
            to see how it works <br/>         
          </h4>       
                
        
        A Thread is an object that represents a process running in the Operating System.
        <br/>
        Threads run in the foreground by default.  They will be run to completion so an application will not end while it has threads running.  <br/>
        Threads have a priority that can be changed as long as they are active.<br/>
        Threads cannot deliver results to another thread.  They need to pass data with shared variables (can introduce sync issues).
        <br/>
        Exceptions have to be caught inside the thread.<br/>
        When using Tasks and Threads we cannot update an element on a view because they run on different threads.  <br/>

        
        <p class="HeadingSubTopic" id="Basics-Threads">Threads Basics</p>

        <pre>
            <code>
                using System;
                <b>using System.Threading;</b>

                class Program &lbrace;      
    
                    static void Main(string[] args) &lbrace;           
                        <b>Thread th = new Thread(() => &lbrace; Console.WriteLine("hello"); &rbrace;);</b>
                        <b>th.Start();</b>
                    &rbrace;
                &rbrace;
            </code>
        </pre>

        <pre>
            <code>
                static void Main(string[] args) &lbrace;            
                    Thread th = new Thread(() => &lbrace;
                        <b>Thread.Sleep(3000);</b>
                        Console.WriteLine("hello"); 
                    &rbrace;);
                    th.Start();
                    <b>Console.WriteLine("Not In Thread");</b>
                &rbrace;;
            </code>
        </pre>
        Will print<br/>
        <pre>
            <samp>
                Not In Thread
                hello
            </samp>
        </pre>


        
        <p class="HeadingSubTopic" id="Passing-Data-To-Thread">Passing Data to Threads</p>
        If we need to pass data to a thread<br/>
        Pass data to thread 1 - ParameterizedThreadStart - Would work the same if using calling a method instead of an anonymous one.<br/>
        <pre>
            <code>
                static void Main(string[] args) &lbrace;

                    //can also use a method name instead of the anonymous method in the example.
                    <b>//ParameterizedThreadStart takes type object only.</b>
                    <b>ParameterizedThreadStart p = new ParameterizedThreadStart((object s) => &lbrace;    </b>
                    Console.WriteLine(s.ToString()); 
                    &rbrace;);    
                    Thread th = new Thread(<b>p</b>);
                    th.Start(<b>"Hello"</b>);      
                &rbrace;
            </code>
        </pre>
        Pass data to thread 2<br/>
        <pre>
            <code>
                static void Main(string[] args) &lbrace;  

                    Thread th = new Thread((Data) => &lbrace;       
                    Console.WriteLine(Data); 
                    &rbrace;);    
                    th.Start("This is it");                 
                &rbrace;
            </code>
        </pre>
        You can end a thread right away by calling it's Abort method.  This could leave resources hanging though.

        <br/>

        <p class="HeadingSubTopic" id="Wait-On-Thread">Wait on a thread</p>
        <b>We can wait for a thread<br/></b>
        Like we saw before, this:
        <pre>
            <code>
                static void Main(string[] args) &lbrace;            
                    Thread th = new Thread(() => &lbrace;
                        <b>Thread.Sleep(3000);</b>
                        Console.WriteLine("hello"); 
                    &rbrace;);
                    th.Start();
                    <b>Console.WriteLine("Not In Thread");</b>
                &rbrace;;
            </code>
        </pre>
        Will print<br/>
        <pre>
            <samp>
                Not In Thread
                hello
            </samp>
        </pre>

        But this<br/>
        <pre>
            <code>
                static void Main(string[] args) &lbrace;            
                    Thread th = new Thread(() => &lbrace;
                        Thread.Sleep(3000);
                        Console.WriteLine("hello"); 
                    &rbrace;);
                    th.Start();
                    <b>th.Join();</b>
                    Console.WriteLine("Not In Thread");
            &rbrace;
            </code>
        </pre>
        Will print<br/>
        <pre>
            <code>
                hello
                Not In Thread
            </code>
        </pre>
        Because the main thread is going to wait on the th thread before it continues<br/>
        We can also have a thread waiting for another thread.<br/>
        This<br/>
        <pre>
            <code>
                static void Main(string[] args) &lbrace;            
                    Thread th_1 = new Thread(() => &lbrace;
                    <b>Thread.Sleep(3000);</b>
                    Console.WriteLine("th_1"); 
                    &rbrace;);
                    Thread th_2 = new Thread(() => &lbrace;             
                    Console.WriteLine("th_2"); <b>//no wait</b>
                    &rbrace;);
                    th_1.Start();
                    th_2.Start();
            &rbrace;
            </code>
        </pre>
        Will print<br/>
        <pre>
            <samp>
                th_2
                th_1
            </samp>
        </pre>
        But, if we wait:<br/>
        <pre>
            <code>
                static void Main(string[] args) &lbrace;            
                    Thread th_1 = new Thread(() => &lbrace;
                        Thread.Sleep(3000);
                    Console.WriteLine("th_1"); 
                    &rbrace;);
                    Thread th_2 = new Thread(() => &lbrace;             
                    <b>th_1.Join(); </b>
                    Console.WriteLine("th_2"); 
                    &rbrace;);
                    th_1.Start();
                    th_2.Start();
            &rbrace;
            </code>
        </pre>
        Will print<br/>
        <pre>
            <samp>
                th_1
                th_2
            </samp>
        </pre>

        
        <p class="HeadingSubTopic" id="Data-Between-Threads">Data Between Threads</p>
        You don't really pass data from one thread to another thread.  But you can have data in a shared variable, and use lock to make sure it doesn't get messed up.
        A very simple example would be something like this.  You can also have one thread wait on the other one, to make sure the data will be there.
        The code is a bit silly but just focus on the highlighted parts<br/>
        <pre>
            <code>
                using System;
                using System.Threading;

                class Program &lbrace;      

                    public static string _something = string.Empty;
                    public static <b>object _lock</b> = new object();
                    
                    static void Main(string[] args) &lbrace; 

                        Thread th2 = new Thread(() => &lbrace; 
                        <b>lock(_lock)&lbrace;
                            _something = DateTime.Now.ToString();  
                        &rbrace;</b>
                        &rbrace;);
                    
                        Thread th1 = new Thread(() => &lbrace;     
                        <b>th2.Join();</b>
                        Console.WriteLine(_something); &rbrace;);
                            
                        th2.Start();
                        th1.Start();
                        
                    &rbrace;
                &rbrace;
            </code>
        </pre>
        Can also do something like this<br/>
        <pre>
            <code>
                static void Main(string[] args) &lbrace;

                    Thread th2 = new Thread(() => &lbrace;  
                      <b>while (!_exit)&lbrace; //only while this is false</b>
                        lock(_lock)&lbrace;  //<b>lock it      </b>  
                          _something = DateTime.Now.ToString();  
                        &rbrace;
                      &rbrace;
                     Console.WriteLine("th2 done with while");
                    &rbrace;);
                  
                    Thread th1 = new Thread(() => &lbrace;
                      Console.WriteLine("here:" + _something);      
                      lock(_lock1)&lbrace;
                        Console.WriteLine("Setting exit");
                        <b>_exit = true; //set to false so th2 can finish</b>
                      &rbrace;
                    &rbrace;);
                
                    th2.Start();
                    th1.Start();   
                    th2.Join();//Have main wait for this to finish
                    Console.WriteLine(_something);
                  &rbrace;
            </code>
        </pre>
        Could print<br/>
        <pre>
            <samp>
                here:
                Setting exit
                th2 done with while
                1/23/2022 9:42:04 PM
            </samp>
        </pre>

        Another one:<br/>
        <pre>
            <code>
                using System;
                using System.Threading;

                class Program&lbrace;    

                    public static string _something = string.Empty;
                    public static object _lock = new object();
                    public static object _lock1 = new object();
                    public static bool _exit = false;
                
                    static void Main(string[] args) &lbrace; 

                        Thread th2 = new Thread(() => &lbrace;  
                        while (!_exit)&lbrace; //only while this is false
                            lock(_lock)&lbrace;  //lock it        
                            _something = DateTime.Now.ToString();  
                            &rbrace;
                        &rbrace;
                        Console.WriteLine("th2 done with while");
                        &rbrace;);
                
                        Thread th1 = new Thread(() => &lbrace;  
                        lock(_lock)&lbrace;  //lock it 
                            _something = "trying";      
                        &rbrace;
                        Thread.Sleep(1000);
                        _exit = true; //set to false so th2 can finish      
                        &rbrace;);

                        th2.Start();
                        th1.Start();   
                        
                        th2.Join();//Have main wait for this to finish
                        th1.Join();
                        Console.WriteLine(_something);
                     &rbrace;
                &rbrace;
            </code>
        </pre>
        Prints:<br/>
        <pre>
            <samp>
                th2 done with while
                1/23/2022 9:59:54 PM
            </samp>
        </pre>      
        
        
        <p class="HeadingSubTopic" id="Task-Parallel">Tasks and Running in Parallel</p>
        <p class="HeadingSubTopic2" >Tasks and Parallel.Invoke</p>
        A Task is an object that represents a job (method) that's going to be performed.
        <br/>
        Tasks are created as background processes, so they can be ended even before completion if the foreground processes 
        complete (there is no code waiting for the tasks.)<br/>
        Tasks cannot set a priority.<br/>
        Tasks provide Exception Aggregation<br/><br/>
        We can launch tasks with Action delegates or launching the methods themselves.  This can be anonymous methods or calling a regular method.
        The code looks shorter with anonymous so I'm using that often, but it doesn't mean it's preferred.<br/>
        <pre>
            <code>
                using System;
                using System.Threading;
                <b>using System.Threading.Tasks;</b>

                class Program &lbrace;      

                    static void Main(string[] args) &lbrace;            
                        <b>Action task1</b> = new Action( () => &lbrace;
                            Thread.Sleep(2000);
                            Console.WriteLine("task1");
                        &rbrace;);

                        Action task2 = new Action( () => Console.WriteLine("task2"));

                        <b>Parallel.Invoke (task1, task2);</b>
                    &rbrace;
                &rbrace;
            </code>
        </pre>
        Will print<br/>
        <pre>
            <samp>
                task2
                task1
            </samp>
        </pre>
        We could have also done<br/>
        <pre>
            <code>
                static void Main(string[] args) &lbrace;                 

                    Parallel.Invoke ( 
                      () => &lbrace; Thread.Sleep(2000); Console.WriteLine("task1");&rbrace;, 
                      () => Console.WriteLine("task2"));
                &rbrace;
            </code>
        </pre>
        Invoke waits for all tasks to be done.<br/>

        Those are not the only ways to start a task.  
        <pre>
            <code>
                Console.WriteLine("START SomeMethod");
                
                Task T1 = new Task(Method1);
		        T1.Start();

		        Task T2 = Task.Factory.StartNew(Method2);

		        Task T3 = Task.Run(Method3);

                <b>Console.WriteLine("END");</b>
            </code>
        </pre>
        The above has printed this :
        <pre>
            <samp>
                START SomeMethod
                <b>END</b>
                method 2
                method 1
                method 3
            </samp>
        </pre>
        <p class="HeadingSubTopic2" >More Parallel Options</p>

        <pre>
            <code>
                using System;
                using System.Collections.Generic;
                using System.Threading.Tasks;

                class Program &lbrace;
                    static void Main(string[] args) &lbrace;
                        List&lt;string&gt; l = new List&lt;string&gt;();

                        l.Add("1");
                        l.Add("2");
                        l.Add("3");
                        l.Add("4");
                        l.Add("5");

                        <b>Parallel.ForEach</b>(l, (item) => Console.WriteLine(item) );
                    &rbrace;
            &rbrace;
            </code>
        </pre>
        The foreach doesn't guarantee the order of the items.  In the case above, I got this<br/>
        <pre>
            <samp>
                1
                5
                4
                2
                3
            </samp>
        </pre>

        Could do the same thing with a for. For the code above, instead of the foreach, this<br/>
        <pre>
            <code>
                <b>//Notice that the 0 is inclusive, but the 2nd argument is EXCLUSIVE, so don't subtract 1.</b>
                Parallel.For(0, <b>l.Count</b>, (i) => Console.WriteLine(i + "-" + l[i]) );
            </code>
        </pre>
        Will print <br/>
        <pre>
            <samp>
                0-1
                4-5
                3-4
                1-2
                2-3
            </samp>
        </pre>

        We can also have a for and a condition to stop it<br/>
        <pre>
            <code>
                ParallelLoopResult res =  Parallel.For(0, l.Count, 
                                            (<b>int i, ParallelLoopState st</b>) => &lbrace;
                                                Console.WriteLine(i + "-" + l[i]) ;
                                                if (i == 2) &lbrace;st.Stop();&rbrace;
                                            &rbrace;);
                Console.WriteLine(res.ToString());                
            </code>
        </pre>
        Prints<br/>
        <pre>
            <samp>
                0-1
                1-2
                2-3
                System.Threading.Tasks.ParallelLoopResult
            </samp>
        </pre>
        
        The ParallelLoopState can also be used with the foreach.<br/>

        Can also use parallel programming with linq<br/>
        <pre>
            <code>
                using System;
                using System.Collections.Generic;
                using System.Threading.Tasks;
                <b>using System.Linq;</b>

                class Program &lbrace;
                    static void Main(string[] args) &lbrace;
                        List&lt;string&gt; l = new List&lt;string&gt;();

                        l.Add("1");
                        l.Add("2");
                        l.Add("3");
                        l.Add("4");
                        l.Add("5");

                        <b>var res = from item in l.AsParallel()
                        where (item == "2" || item == "4")
                        select item;</b>

                        foreach (string s in res)
                            Console.WriteLine(s);
                    &rbrace;
                &rbrace;
            </code>
        </pre>
        prints<br/>
        <pre>
            <samp>
                2
                4
            </samp>
        </pre>

        You can do <b>.AsParallel().AsOrdered()</b> to preserve the order.  That will process however and sort at the end. To process sequentially  use 
        <b>AsSequential()</b><br/>
        We can also start the iteration among the results before it has completed, if we do this:
        res.ForAll(p => &lbrace; Console.WriteLine(p.Age); &rbrace;);<br/>

        If any queries throw exceptions they will be thrown as an AggregateException at the end.<br/>

        Remember to use <b>locks</b> for variables that are going to be used by different processes/threads. It is a good idea to use an object as the lock, don't use a string.<br/>        

        We could also use Monitor.Enter and Monitor.Exit to enclose the code that needs to be thread safe.  If the code can throw an exception, 
        have the code in a catch and the Monitor.Exit in the finally.  Using monitors instead of locks lets the program check whether the variable or whatever is going to be locked if  (Monitor.TryEnter(…)--> the if will have if it is available, 
        the else if it is locked, so we can do something else in that case. (the lock statement is really doing a try (Monitor.Entered) finally Monitor.Exit)

        <br/>

        <p class="HeadingSubTopic" id="Task-Waiting">Waiting on Task</p>
        We can wait for a task to be done :<br/>
        <pre>
            <code>
                Task newTask = new Task(  () => &lbrace; Thread.Sleep(2000);   Console.WriteLine("I am the new task"); &rbrace;);

                newTask.Start();
                newTask.Wait();

                Console.WriteLine("Done");

            </code>
        </pre>
        You can also wait for a bunch of tasks: Task.WaitAll(array or list of tasks to wait on).<br/>

        <p class="HeadingSubTopic2" >Return Result from Task</p>
        A task can also return a result.  Use Run in that case.
        <pre>
            <code>
                private void Tasks_Click(object sender, EventArgs e)
                &lbrace;
                    Task&lt;String&gt; newTask = Task.Run(  () => &lbrace; Thread.Sleep(2000);  return ("I am the new task"); &rbrace;);                            
                    newTask.Wait();        
                    Console.WriteLine(newTask.Result);                
                &rbrace;
            </code>
        </pre>
       
        <p class="HeadingSubTopic2" >Task ContinueWith</p>
        We can also continue one task with another one with ContinueWith.  Do the task, and indicate what task should happen after that with the ContinueWith.  Add 
        the prevTask in the () so you can refer to it in the code inside the ContinueWith. (thisTask.ContinueWith(prevtask) &gt; &lbrace; continue with this, and access that first 
        task through prevtask&rbrace;<br/>
        
        <img width="100%" src="assets\images\csharp\ContinueWith.png" alt="ContinueWith" /><br/><br/>

        <pre>
            <code>
                Console.WriteLine("START");

		        Task&lt;StringGt; newTask = Task.Run(() =&gt; &lbrace; Thread.Sleep(2000); return ("I am the new task"); &rbrace;);		
		        newTask.ContinueWith((prevTask) =&lt;
			    &lbrace;
				    Console.WriteLine("I continue from newTask and I print its result");
				    Console.WriteLine("Result of new task: " + prevTask.Result);
				    return "I am the 2nd task";
			    &rbrace;).ContinueWith( (prevTask2) =&gt;
                &lbrace;
				    Console.WriteLine("I am the 3rd task and I print the 2nd's one result");
				    Console.WriteLine("Result of 2nd task: " + prevTask2.Result);
			    &rbarr;) .Wait();
		
		        Console.WriteLine("END");
            </code>
        </pre>

        <p class="HeadingSubTopic" id="Parent-Task">Parent Task</p>
        A parent task can create other child tasks, they can be attached or unattached.  If they are attached, the task will not complete until the children are done.
        <br/>
        If the child task doesn't have to complete before the parent can complete, it's called just a nested task.  If the parent has to wait for it, then it's really a CHILD 
        task.

        <img width="100%" src="assets\images\csharp\taskattach.png" alt="attach" /><br/><br/>


        <pre>
            <code>
                Task parent = Task.Factory.StartNew(() =&gt;
		        &lbrace;
                    Console.WriteLine("parent task started");

                    Console.WriteLine("starting indepdent nested task");
                    Task.Factory.StartNew(() =&gt; &lbrace; Thread.Sleep(4000); Console.WriteLine("Indep nested task after 4 secs"); &rbrace;);

                    Console.WriteLine("starting child task - attached");
                    Task.Factory.StartNew(() =&gt; &lbrace; Thread.Sleep(2000); Console.WriteLine("attached child after 2 secs"); &rbrace;, TaskCreationOptions.AttachedToParent);

                    Console.WriteLine("parent child ending");

		        &rbrace;);

                parent.Wait(); //Wait for attached
                Console.WriteLine("Parent Done Waiting ");
            </code>
        </pre>
       
        <p class="HeadingSubTopic" id="Async-Await">Async Await</p>

        First thing, just because something looks like it's doing the same thing, it may not be the same thing:
        <pre>
            <code>
                //You cannot await this 
                Task t = new Task(() =&gt;...
                await t.Start(); //----&gt; <b>this will not compile, you cannot await that.</b>

                <b>//but you can await this </b>
                await Task.Run(() =&gt;...
            </code>
        </pre>
        Suppose I have these methods:
        <pre>
            <code>
                //gives warning that async method not using await and will be run sync.
                public static async <b>void</b> Method1()
                &lbrace;
                    Task t = new Task(() =&gt;
                    &lbrace;
                        Thread.Sleep(2000);
                        Console.WriteLine("Task in Method 1");
                    &rbrace;);
                    t.Start();
                &rbrace;

                //has await, returns Task
                public static async <b>Task</b> Method2()
                &lbrace;
                    await Task.Run(() =&gt;
                    &lbrace;
                        <b>Thread.Sleep(6000);</b>
                        Console.WriteLine("Task in Method 2 async int");
                    &rbrace;);
                    return;
                &rbrace;

                //return Task of int.
                public static async <b>Task&lt;int&gt;</b> Method3()
                &lbrace;
                await Task.Run(() =&gt;
                    &lbrace;
                        <b>Thread.Sleep(4000);</b>
                        Console.WriteLine("Task in Method 3 async int");
                    &rbrace;
                    return 90;
                &rbrace;
            </code>
        </pre>
        If I call those with code like this:
        <pre>
            <code>
                Console.WriteLine("START");
                Method1();
		        Method2();
		        Method3();
                Console.WriteLine("END");
            </code>
        </pre>
        I get this:
        <pre>
            <samp>
                START
                END
            </samp>
        </pre>

        NOTICE the methods that use await need to be async methods. Also, because Method1 returns void, we cannot await on it.<br/>
        For the ones that return Task or Task&lbrace;something&rbrace;, we can do something like this:
        <pre>
            <code>
                Console.WriteLine("START");
                Task t2 = Method2();
                Console.WriteLine("Mid 2");
                Task t3 = Method3();
                Console.WriteLine("END");

                Task.WaitAll(t2, t3);
            </code>
        </pre>
        And we get this:
        <pre>
            <samp>
                START
                Mid 2
                END
                <b>Task in Method 3 async TASK int //at 4 seconds
                Task in Method 2 async int //at 6 seconds</b>
            </samp>
        </pre>
        What if I want method 2 to happen before method 3, even though method 3 is going to be faster?
        <pre>
            <code>
                Console.WriteLine("START");
                Task t2 = Method2();
		        await t2; <b>//do not go on until this one is done.</b>
		        Console.WriteLine("Mid 2");
		        Task t3 = Method3();
		        Console.WriteLine("END");

		        Task.WaitAll(t2, t3);
            </code>
        </pre>
        I get:
        <pre>
            <samp>
                START
                Task in Method 2 async int
                Mid 2
                END 
                Task in Method 3 async TASK int
            </samp>
        </pre>
        <b>NOTE: if you are using a console project, make sure you have Console.ReadLine(); after you call the method that has this type of code, or the console will 
        be done before the tasks are done and you will see nothing.</b>
   </div>
</div>