<div class="PaddedContents">
   

    <div >
        <div class="TopLinks" #HeadingsContainer>      
            <top-links ></top-links>      
          </div>  
          <br/>

        <p class="HeadingSubTopic" id="MVCGeneral" HeadingSubTopicDir>General MVC</p>
        With ASP.Net Core, it's common to use the MVS (Model View Controller)     <br/>
        Models: classes that represent the data entities and the view models used.<br/>
        views: render the data, could be Razor pages or something else.<br/>
        controllers: intermediaries between servers and the other 2, and tell each one what to do.
        <br/>
        Just saying, I'm not adding any notes on Razor pages.<br/>

        <p class="HeadingSubTopic" id="WebServices" HeadingSubTopicDir>Web Services</p>
        Some of the status code that can be returned:<br/>
        <ul>
            <li>200 OK</li>
            <li>301 Moved Permanently</li>
            <li>302 Found</li>
            <li>304 Not Modified</li>
            <li>400 Bad Request</li>
            <li>401 Unauthorized</li>
            <li>403 Forbidden</li>
            <li>404 Not Found</li>
            <li>406 Not Acceptable</li>
            <li>451 Unavailable for legal reasons</li>
            <li>500 Server Error</li>
            <li>503 Service Unavailable</li>      
            <li>201 Created</li>      
            <li>202 Accepted</li>
            <li>204 No Content</li>
            <li>405 Method Not Allowed</li>
            <li>415 Unsupported Media Type</li>            
        </ul>
        <br/>
        Types of requests: GET, POST (a new one), PUT (update), DELETE, and also PATCH (update only some parts).<br/>
        To create a new WEB API project,  choose <b>ASP.NET Core Web API.</b>        

        <p class="HeadingSubTopic" id="WebAPIStruct" HeadingSubTopicDir>Web API Structure</p>
        When you do that you get a bunch of files created for you.<br/>
        Controllers folder: gets a WatherForecastController.cs file. Inherits from ControllerBase, not Controller.<br/>
        <b>[Route("[controller]")]</b> ---- the main url will depend on the string you have in the class name before Controller:
        <b>WeatherForecast</b>Controller <br/>
        You can also change to whatever you want to be the root url: <b>[Route("api/whateveryouwant")]</b>
        <b>[ApiController] enables REST specific behavior for controllers.</b><br/>

        <b>[HttpGet(Name = "GetWeatherForecast")]</b> will respond to http get requests.<br/>
        Your <b>launchsettings.json</b> file will tell you where this server will be listening. (under the properties folder)<br/>
        If you have the launchUrl set to "swagger", you can change launchbrowser to false, then change the applicationUrl to have something other than 
        the random port if you prefer ( "applicationUrl": "https://localhost:7298;http://localhost:5298",).<br/>
        If you run now, it will not launch the browser.  Check the output window for what's going on.  Make sure the code is listening before you go to the browser and 
        enter the url.  You may have to bypass the not trusted website error.  Because this is a web api project, doing localhost in the browser will get you a 
        <b>404 error.  This is normal.</b>  You can go directly to the method, such as <b>https://localhost:7298/weatherforecast</b> and you can see the data being returned.
        Something like this:
        <pre>
            <samp>
                [&lbrace;"date":"2022-09-30T19:54:10.1399401-04:00","temperatureC":36,"temperatureF":96,"summary":"Warm"&rbrace;,
                &lbrace;"date":"2022-10-01T19:54:10.1404148-04:00",...
            </samp>
        </pre>
        <br/>
        If you look in the netword tab of the dev tools, you now see you get OK 200 and not the 404 error.<br/>
        You can change the get so it also takes some parameter: <b>[HttpGet("&lbrace;days:int&rbrace;")]</b> and have the method as 
        public IEnumerable&lt;String&gt;<b> Get(int i)</b> 
        then call it with <b>https://localhost:7298/weatherforecast/5</b><br/>
        You can name the methods something else, such as <b>[HttpGet, Route("SomeOtherName/&lbrace;days:int&rbrace;")]</b> but you will have to change 
        the Route on top of the file.  For example, if I set it to [Route("")], for the original method I'd have to do <b>https://localhost:7298/.  </b>
        <br/>
        If I leave the <b>[Route("[controller]")]</b>, the method [HttpGet, <b>Route("SomeOtherName/&lbrace;days:int&rbrace;")]</b> will be called with 
        <b>https://localhost:7298/weatherforecast/SomeOTherName/5</b><br/>        

        <p class="HeadingSubTopic" id="EF" HeadingSubTopicDir>Entity Framework</p>

        Check the EF section for more info.  
        
        <!--But in this project, you can also create a NorthwindDbContext or whatever class that inherits from DbContext.  You will need the DbContext 
        for each unit of work, which in this case is the http call.
         On your class inherting from DbContext you can do something like this:
         <pre>
             <code>
                protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
                &lbrace;
                    if (ForEF.DatabaseProvider == "SQLServer")
                    &lbrace;
                    string connection = "Data source= YourServerName\\YourInstanceName;" + "Initial Catalog=Northwind;" +
				        "Integrated Security=true;" + "MultipleActiveResultSets=true;";
				        <b>optionsBuilder.UseSqlServer(connection);</b>
                    &rbrace;
                &rbrace;
             </code>
         </pre>
         You could also have a constructor in your WhateverDbContext class to take the connection string and set it that way.  In any case, just have the connection 
         string and set it to UseSqlServer in the OnCOnfiguring.
         <br/>
         In your program, before the builder.Services.AddControllers(); you can also do:        
        <pre>
            <code>
                services.AddDbContext&lt;NorthwindDbContext&gt;(
                    options => options.UseSqlServer("Data source= YourServerName\\\\YourInstanceName;\" + \"Initial Catalog=Northwind;\" +\r\n\t\t\t\t\"Integrated Security=true;\" + \"MultipleActiveResultSets=true;"));
            </code>
        </pre>
        
        <p class="HeadingSubTopic" id="Repos" HeadingSubTopicDir>Repos - Repositories</p>

        It's a good idea to have a repositories or repos folder. This is for the CRUD operations.  Create and interface class with the methods that will be needed 
        and the class itself.  You can have this for each EF model you will need for each table or whatever you need to get data from. (Remember VS may give you a 
        namespace you don't want when you add a new class).  The interface could look like this:
        <pre>
            <code>
                public interface  ICustomerRepository
	            &lbrace;
		            Task&lt;Customer?&gt; CreateAsync(Customer c);
		            Task&lt;IEnumerable&lt;Customer&gt;&gt; RetrieveAllAsync();
		            Task&lt;Customer?&gt; RetrieveAsync(string id);
		            Task&lt;Customer?&gt; UpdateAsync(string id, Customer c);
		            Task&lt;bool?&gt; DeleteAsync(string id);
	            &rbrace;
            </code>
        </pre>
        For the code itself, something like this.
        <pre>
            <code>
                public class CustomerRepository : ICustomerRepository
	            &lbrace;
		            //use to cache customers
		            private static ConcurrentDictionary&lt;string, Customer&gt; _customerMap = new ConcurrentDictionary&lt;string, Customer&gt;();
		            //not static, should not cache
		            private NorthwindDbContext _context;

		            public CustomerRepository(NorthwindDbContext injectedContext)
		            &lbrace;
			            this._context = injectedContext;
			            if (_customerMap is null)
			            &lbrace;
				            _customerMap = new ConcurrentDictionary&lt;string, Customer&gt;(this._context.Customers.ToDictionary(c =&gt; c.CustomerID));
			            &rbrace;
		            &rbrace;

		            public async Task&lt;Customer&gt; CreateAsync(Customer c)
		            &lbrace;
			            c.CustomerID = c.CustomerID.ToUpper();
			            EntityEntry&lt;Customer&gt; added = await this._context.AddAsync(c);
			            int affected = await this._context.SaveChangesAsync();
			            if (affected == 1)
			            &lbrace;
				            if (_customerMap == null)
				            &lbrace;
					            return c;
				            &rbrace;
				            else
				            &lbrace;
					            return _customerMap.AddOrUpdate(c.CustomerID, c, UpdateCache);
				            &rbrace;
			            &rbrace;
			            else
			            &lbrace;
				            return null;
			            &rbrace;
		            &rbrace;

		            public Task&lt;IEnumerable&lt;Customer&gt;&gt; RetrieveAllAsync()
		            &lbrace;
			            return Task.FromResult(_customerMap is null ? Enumerable.Empty&lt;Customer&gt;() : _customerMap.Values);
		            &rbrace;
		            
                    public Task&lt;Customer?&gt; RetrieveAsync(string id)
		            &lbrace;
			            id = id.ToUpper();
			            if (_customerMap is null) return null!;
			            _customerMap.TryGetValue(id, out Customer? c);
			            return Task.FromResult(c);
		            &rbrace;

		            private Customer UpdateCache(string id, Customer c)
		            &lbrace;
			            Customer? old;
			            if (_customerMap is not null)
			            &lbrace;
				            if (_customerMap.TryGetValue(id, out old))
				            &lbrace;
					            if (_customerMap.TryUpdate(id, c, old))
					            &lbrace;
						            return c;
					            &rbrace;
				            &rbrace;
			            &rbrace;
			            return null;
		            &rbrace;

		            public async Task&lt;Customer?&gt; UpdateAsync(string id, Customer c)
		            &lbrace;
			            id = id.ToUpper();
			            c.CustomerID = c.CustomerID.ToUpper();
			            this._context.Update(c);
			            int affected = await this._context.SaveChangesAsync();
			            if (affected == 1)
			            &lbrace;
				            return UpdateCache(id, c);
			            &rbrace;
			            return null;
		            &rbrace;

		            public async Task&lt;bool?&gt; DeleteAsync(string id)
		            &lbrace;
			            id = id.ToUpper();
			            Customer? c = this._context.Customers.Find( id);
			            if (c is null) return null;
			            this._context.Remove(c);
			            int affected = await this._context.SaveChangesAsync();
			            if (affected == 1)
			            &lbrace;
				            if (_customerMap is null) return null;
				            return _customerMap.TryRemove(id, out c);
			            &rbrace;else
			            &lbrace;
				            return null;
			            &rbrace;			
		            &rbrace;
	            &rbrace;
            </code>
        </pre>
        -->
        <p class="HeadingSubTopic" id="RoutesController" HeadingSubTopicDir>Routes in Controllers</p>

        In the routes in the controllers, like the WeatherForecastController used previously, it's a good idea to indicate whether the method is going to be get or post or what.
        <ul>
            <li>[HttpGet] - a GET request</li>
            <li>[HttpHead] - a GET for the header</li>
            <li>[HttpPost] - a POST request</li>
            <li>[HttpPut] - PUT request</li>
            <li>[HttpPatch] - PATCH request</li>
            <li>[HttpDelete] DELETE request</li>
            <li>[HttpOptions] - OPTIONS request</li>
        </ul>
        <p class="HeadingSubTopic" id="ReturnTypes" HeadingSubTopicDir>Return Types</p>
        An Action method can return .NET types or <b>IActionResult</b> if the return type could differ based on something, or <b>ActionResult&lt;T&gt;</b> if it will 
        return the same type but with different status codes.<br/>
        You can use [ProducesResponseType] to indicate what types of returns the method can generate.

        <p class="HeadingSubTopic" id="UseRepoController" HeadingSubTopicDir>Using the repository</p>
        In the program file, before the call to builder.Build(), register the repo with something like:
        <pre>
            <code>
                builder.Services.AddScoped&lt;ICustomerRepository, CustomerRepository&gt;();
            </code>
        </pre>
        To have things more organized, you should add a new controller for eas repository, under the controllers folder.<br/>
        Before testing, make sure you have the services with the DB context:
        <pre>
            <code>
                //in program
                builder.Services.AddDbContext&lt;YourDbDbContext&gt;(
                    options => options.UseSqlServer("Data source=server\\\\instance;\" + \"Initial Catalog=Northwind;\" + \"Integrated Security=true;\" + \"MultipleActiveResultSets=true;"));             
            </code>
        </pre>
        You need to create your controller.  Something like this one here:
        <pre>
            <code>
                //the urls for these will be localhostorwhatever/api/firstpartofcontrollerclassname
                [Route("api/[controller]")]
                //[ApiController] -- enables a few features including attribute routing requirement, automatic model validation and binding source parameter inference

                public class <b>Customer</b>Controller :ControllerBase
                &lbrace;
                    private readonly ICustomerRepository repo;
                    public CustomerController(ICustomerRepository repo)
                    &lbrace;
                        this.repo = repo;
                    &rbrace;

                    [HttpGet]
                    [ProducesResponseType(200, Type = typeof(IEnumerable&lt;Customer&gt;))]
                    public async Task&lt;IEnumerable&lt;Customer&gt;&gt; GetCustomers(string country)
                    &lbrace;
                        if (string.IsNullOrEmpty(country) || string.IsNullOrWhiteSpace(country))
                        &lbrace;
                            return await repo.RetrieveAllAsync();
                        &rbrace;                
                        else 
                        &lbrace;
                            return (await repo.RetrieveAllAsync()).Where( c =&gt; c.Country == country);
                        &rbrace;
                    &rbrace;

                    [HttpGet("&lbrace;id&rbrace;", Name = nameof(GetCustomer))]
                    [ProducesResponseType(200, Type = typeof(Customer))]
                    [ProducesResponseType(404)]
                    public async Task&lt;IActionResult&gt; GetCustomer(string id)
                    &lbrace;
                        Customer? c = await this.repo.RetrieveAsync(id);
                        if (c == null)&lbrace;
                            NotFound();
                        &rbrace;
                        else &lbrace;
                            return Ok(c);
                        &rbrace;
                    &rbrace;

                    [HttpPost]
                    [ProducesResponseType(201, Type = typeof(Customer))]
                    [ProducesResponseType(400)]
                    public async Task&lt;IActionResult&gt; Create ([FromBody] Customer c)
                    &lbrace;
                        .. return BadRequest();...
                        Customer? customer = await this.repo.CreateAsync(c);
                        ...
                        //if created
                        return CreatedAtRoute(
                            routeName: nameof(GetCustomer),
                            new &lbrace; id = customer.CustomerID, value = customer &rbrace;);
                    &rbrace;

                    [HttpPut("&lbrace;id&rbrace;")]
                    [ProducesResponseType(204)]
                    [ProducesResponseType(400)]
                    [ProducesResponseType(404)]
                    public async Task&lt;IActionResult&gt; Update(string id, [FromBody] Customer c)
                    &lbrace;
                        ...
                        Customer? existingC = await this.repo.RetrieveAsync(id);
                        ...
                        await this.repo.UpdateAsync(id, c);
                        return new NoContentResult();
                    &rbrace;

                    [HttpDelete("&lbrace;id&rbrace;")]
                    [ProducesResponseType(204)]
                    [ProducesResponseType(400)]
                    [ProducesResponseType(404)]
                    public async Task&lt;IActionResult&gt; Delete(string id)
                    &lbrace;
                        Customer? existingC = await this.repo.RetrieveAsync(id.ToUpper());
                        ...
                        bool? deleted = await this.repo.DeleteAsync(id.ToUpper());
                        if (deleted.HasValue && deleted.Value)
                        &lbrace;
                            return new NoContentResult();
                        &rbrace;
                        ...
                    &rbrace;
            </code>
        </pre>
        Call them with:<br/>
        https://localhost:yourport/api/Customer/<br/>
        https://localhost:yourport/api/Customer/alfki<br/>
        https://localhost:yourport/api/Customer/?country=Germany<br/>
        For simple services you do need to create a controller and can have everything in the program (minimal API) but not sure it's the best thing.

        <p class="HeadingSubTopic" id="Testing" HeadingSubTopicDir>Testing</p>
        You can use Postman or a similar tool to test all sorts of requests. You can also use swagger in VS for documentation and testing.<br/>
        https://localhost:yourport/swagger will display the services you have , something like this:<br/>
        Open the drop down and click on try it out and execute to test.<br/>
        <img width="100%" src="assets\images\csharp\swagger.png" alt="swagger" /><br/><br/>

        <p class="HeadingSubTopic" id="MoreDetail" HeadingSubTopicDir>More Detail </p>

        For your ASP.Net Core app, it doesn't matter if you are going to get the calls from the browser directly (as indicated above), or from 
        an Angular app, or some node file or whatever.  However you get the call, it will be something like this:<br/>

        In Postman or wherever: https://localhost:7086/<b>api/Account/register</b>

        <pre>
            <code>
                //the controller class 
                public class AccountController : <b>BaseApiController</b> //more on this later

                //going to need a datacontext here if we are not using repositories 
                private readonly DataContext _context;

                //set this private field in the constructor, by injecting the datacontext
                public AccountController(DataContext dataContext)

                //to be able to inject the datacontext, we need to do this in the program.cs 
                //the DefaultConnection is in your appsettings file.
                builder.services.AddDbContext&lt;DataContext&gt;(opt =&gt;
                &lbrace;
                        opt.UseSqlServer(config.GetConnectionString("DefaultConnection"));
                &rbrace;

                [HttpPost("register")] //notice the url again, it has the Account of the controller's name, and this.

                //notice how we are returning a Dto type instead of the regular model class.  Because usually,
                //we don't want to send all the data we keep back and forth, so we can have an equivalent Dto file with 
                different fields.
                public async Task&lt;ActionResult&lt;UserDto&gt;&gt; Register(RegisterDto registerDto)

                //when you are in asyn method, you are going to be calling something else with await.
                //we could return a UserDto, but we can also return BadRequest("some string");
            </code>
        </pre>
            The BaseApiController is a class like this (just so we don't have to add those to all the controllers):
            <pre>
                <code>
                    using Microsoft.AspNetCore.Cors;//use in dev so we don't get CORS error (ignore for now)
                    using Microsoft.AspNetCore.Mvc;

                    namespace API.Controllers
                    &lbrace;
	                    [ApiController]
	                    [Route("api/[controller]")]
	                    [EnableCors("OpenCORSPolicy")]
	                    public class BaseApiController :ControllerBase
	                    &lbrace;
	                    &rbrace;
                    &rbrace;
                </code>
            </pre>

            If we are using repositories (recommended) we don't have to inject the data context in the controller, because we are going to inject it 
            in the repository class, whose methods we will can from the controller.

            <br/>

            <p class="HeadingSubTopic" id="Mapper" HeadingSubTopicDir>Mapper</p>

            When we are using our regular model classes and the equivalent Dto classes, we can have an AutoMapper added to the app.
            An example would be automapper.Extensions.Microsoft.DepedencyInjection.  See related code online to see how it works.  
            To be able to use it we need to add it to builder.services.  We can use it in code with something like this:
            <pre>
                <code>
                    //in the constructor
                    public UserRepository(DataContext context, IMapper mapper)

                    _context.Users.ProjectTo&lt;MemberDto&gt;(_mapper.ConfigurationProvider).ToListAsync();
                    
                </code>
            </pre>

            The mapper has to be configures so it knows how to map columns:
            <pre>
                <code>
                    ...
                    using AutoMapper;

                    namespace API.Utils
                    &lbrace;
	                    public class AutoMapperProfiles : Profile 
	                    &lbrace;
		                    public AutoMapperProfiles() 
                            &lbrace;
			                    CreateMap&lt;AppUser, MemberDto&gt;()
				                    .ForMember(dest =&gt; dest.PhotoUrl, opt =&gt; opt.MapFrom(src =&gt; src.Photos.FirstOrDefault(i =&gt; i.IsMain).Url))
				                    .ForMember(dest =&gt; dest.Age, opt =&gt; opt.MapFrom(src =&gt; src.DateOfBirth.CalculateAge()));

			                    CreateMap&lt;Photo, PhotoDto&gt;();
		                    &rbrace;
	                    &rbrace;
                    &rbrace;
                </code>
            </pre>

            We also had to add it to the builder.services in program.cs 
            <pre>
                <code>
                    services.AddAutoMapper(AppDomain.CurrentDomain.GetAssemblies());
                </code>
            </pre>
            <p class="HeadingSubTopic" id="PasswordsTokens" HeadingSubTopicDir>Passwords and Tokens</p>

            TODO

            <p class="HeadingSubTopic" id="Middleware" HeadingSubTopicDir>Middleware for Errors</p>
            Full code for a possible Middleware error handling class:

            <pre>
                <code>
                    using API.Errors;
                    using System.Net;
                    using System.Text.Json;

                    namespace API.Middleware
                    &lbrace;
	                    public class <b>ExceptionMiddleware</b>
	                    &lbrace;
		                    private readonly RequestDelegate _next;
		                    private readonly ILogger&lt;ExceptionMiddleware&gt; _logger;
		                    private readonly IHostEnvironment _env;
		                    public ExceptionMiddleware(RequestDelegate next, 
                                ILogger&lt;ExceptionMiddleware&gt; 
                                logger, IHostEnvironment env)
		                    &lbrace;
			                    this._next= next;
			                    this._logger= logger;
			                    this._env= env;
		                    &rbrace;
		                    
                            //the name needs to be InvokeAsync, that's what the framework looks for
		                    public async Task InvokeAsync(HttpContext context)
		                    &lbrace;
			                    try
			                    &lbrace;
				                    await _next(context);
			                    &rbrace;
			                    catch (Exception ex)
			                    &lbrace;
				                    _logger.LogError(ex, ex.Message); //goes to terminal
				                    context.Response.ContentType = "application/json";
				                    context.Response.StatusCode = (int)HttpStatusCode.InternalServerError;

				                    var response = this._env.IsDevelopment() ?
                                        new ApiException(context.Response.StatusCode, ex.Message, ex.StackTrace?.ToString())
					                    : new ApiException(context.Response.StatusCode, ex.Message, "Internal Server Error");

				                    var options = new JsonSerializerOptions &lbrace; PropertyNamingPolicy = JsonNamingPolicy.CamelCase &rbrace;;

				                    var json = JsonSerializer.Serialize(response, options);

				                    await context.Response.WriteAsync(json);
			                    &rbrace;
		                    &rbrace;
	                    &rbrace;
                    &rbrace;                    
                </code>
            </pre>

            To be able to use:
            <pre>
                <code>
                    //in program.cs, after builder.build()
                    app.UseMiddleware&lt;ExceptionMiddleware&gt;();
                </code>
            </pre>


            <p class="HeadingSubTopic" id="CancellationToken" HeadingSubTopicDir>When a request is cancelled</p>

            When the client cancels a request, it's a good idea to cancel it if we can.  There is a nice article 
            <a href="https://mitesh1612.github.io/blog/2022/01/20/cancellation-tokens" target="_blank">here</a> 
            but I'll give a summary.

            <pre>
                <code>
                    //in the method that you want to be able to cancel
                    public async Task&lt;ActionResult&lt;string&gt;&gt; GetThem(<b>CancellationToken cancellationToken</b>)

                    //pass it down as an argument to other methods you will call here.
                    //have those calls inside a try, with a catch like this one 
                    catch(TaskCanceledException ex)

                    

                </code>
            </pre>

   </div>
</div>