<div class="PaddedContents ">
    
    <div >
      
      <!-------------------------------------------------------------->
      <!--General-->
      <!-------------------------------------------------------------->     
      
      <p class="HeadingSubTopic" id="general">General</p>
      Linq uses deferred execution.  You can use linq for arrays and links and others similar to those.  I'll just use List for the examples.
      Some examples using linq. (I just have a List&lt;string&gt; of some random words).
      <pre>
          <code>
            var query1 = theList.Where(i => i.StartsWith("w"));
            foreach (string w in query1.ToList())
            &lbrace;
                Console.WriteLine(w);
            &rbrace;
            var query2 = theList.Where(i => i.Contains("ll"));
            foreach (string w in query2.ToList())
            &lbrace;
                Console.WriteLine(w);
            &rbrace;
            //using linq query syntax
            var query3 = from word in theList where word.StartsWith("w") select word; 
            foreach (string w in query3.ToList())
            &lbrace;
                Console.WriteLine(w);     
            &rbrace;
            var query4 = from word in theList where word.Contains("ll") select word; 
            foreach (string w in query4.ToList())
            &lbrace;
                Console.WriteLine(w);
            &rbrace;

          </code>
      </pre>

      <p class="HeadingSubTopic" id="Filtering-Sorting">Filtering Sorting</p>
      Use System.Linq if it is not in the file already.  You can also call a method that will indicate whether the word should go in or not.
      <pre>
          <code>
              //have this method: Takes string, returns bool
              public bool ShouldWordGoIn(string word)
              &lbrace;
                return (word.Length > 5);
              &rbrace;

              //note: we don't have to include the new Func..., we can just have <b> Where(methodName);</b>
              var query3 = theList.Where(<b>new Func&lt;string, bool&gt;</b>(ShouldWordGoIn));
              foreach (string w in query4.ToList())
              &lbrace;
                  Console.WriteLine(w);
              &rbrace;

              //Since the code in the method is simple, could just have done This
              var query4 = theList.<b>Where(word =&gt; word.Length &gt; 5);</b>

              //another way to do the previous one would be
              var query5 = theList.Where(word =&gt; word.Length &gt; 5).<b>OrderByDescending(w =&gt; w.Length);</b>

              //doing this will take the ones longer than 5 and sort them alphabetically in descending order.
              var query5 = theList.Where(word =&gt; word.Length &gt; 5).<b>OrderByDescending(w =&gt; w);</b>

              //do <b>OrderBy(w => w); </b>to get them by ascending alphabetical order.

          </code>
      </pre>
      You can also sort by the length and then by the name:
      <pre>
          <code>
              //this:
              var query5 = theList.Where(word =&gt; word.Length &gt; 5).<b>OrderBy(w =&gt; w.Length).ThenBy(w =&gt; w);</b>
              //Will get you this:
              //animal
              //doctor
              //enough
              //fluoride
              //fluoride1
              //fluoride2
              //animation1
              //animation2
              //animation3
              //fluoride10
          </code>
      </pre>
      Linq also provides a way to filter based on type: <b>theList.OfType&lt;WhateverType&gt;</b>

      <p class="HeadingSubTopic" id="Sets">Sets</p>
      There are some operations that can be done that are similar to the ones we have for sets.
      If I have this:
      <pre>
          <samp>            
                theList1.Add("animal");
                theList1.Add("animal");
                theList1.Add("animation");
                theList1.Add("animation");
                theList1.Add("arm");                
                theList1.Add("and");
                theList1.Add("appropriate");
                theList1.Add("astute");                               
          </samp>
      </pre>
      Getting the distinct ones will not show the duplicates:
      <pre>
          <code>
            var query1 = theList1.Distinct();
          </code>
      </pre>
      For the same list, we can say we want the disctinct ones based on the first 2 chars:
      <pre>
          <code>
            ar query1 = theList1.DistinctBy( w =&gt; w.Substring(0, 2));
          </code>
      </pre>
      Now I have the lists as:
      <pre>
          <samp>
            <b>theList1.Add("animal");</b>
            theList1.Add("arm");
            <b>theList1.Add("animation");</b>
            theList1.Add("and");
            theList1.Add("appropriate");
            theList1.Add("astute");
            <b>theList1.Add("animal");</b>
            <b>theList1.Add("animation");</b>

            theList2.Add("baby");
            <b>theList2.Add("arm");</b>
            theList2.Add("beasts");
            <b>theList2.Add("appropriate");</b>
          </samp>
      </pre>
      this:
      <pre>
          <code>
            var query1 = theList1.<b>Concat(theList2);</b>
          </code>
      </pre>
      Will get:
      <pre>
          <samp>
            animal
            arm
            animation
            and
            appropriate
            astute
            animal
            animation
            baby
            arm
            beasts
            appropriate
          </samp>
      </pre>
      <b>Union is different from Concat.  Union will get you the union without the duplicates. </b>
      <pre>
          <code>
            var query1 = theList1.<b>Union(theList2);</b>
          </code>
      </pre>
      Get you:
      <pre>
          <samp>
            animal
            arm
            animation
            and
            appropriate
            astute
            baby
            beasts
          </samp>
      </pre>
      You can also intersect
      <pre>
          <code>
            var query1 = theList1.<b>Intersect(theList2);</b>
          </code>
      </pre>
      Will get:
      <pre>
          <samp>
            arm
            appropriate
          </samp>
      </pre>
      There is also an except, which notice has remove duplicates too:
      <pre>
          <code>
            var query1 = theList1.Except(theList2);
          </code>
      </pre>
      <pre>
          <samp>
            animal
            animation
            and
            astute
          </samp>
      </pre>
        ZIP will let you pairs of items from one list to the other (if they are not the same, the items without pair will be left out). Notice that the last 3 of the 
        longer list (1) are not paired with anybody. (this is done by order)
        <pre>
            <code>
                var query1 = theList1.Zip(theList2, (first, second) => first + " - " + second);
            </code>
        </pre>
        Will get:
        <pre>
            <samp>
            animal - baby
            arm - arm
            animation - beasts
            and - appropriate
            </samp>
        </pre>
        <p class="HeadingSubTopic" id="Linq-EF">Linq with EF</p>

        You can look at the Entity Framework section for this too.  Adding more here to indicate what this is about.
        <pre>
            <code>
                using (Northwind db = new Northwind())
                &lbrace;
                    DbSet&lt;Product&gt; products = db.Products;
                    IQueryable&lt;Product&gt;? productsCh = products.Where(p =&gt; EF.Functions.Like(p.ProductName, "Ch%"));
                    <b>IOrderedQueryable&lt;</b>Product&gt; sortedProds = productsCh.<b>OrderByDescending</b>(product =&gt; product.Cost);
                    foreach (Product p in sortedProds)
                    &lbrace;
                        Console.WriteLine(p.ProductName + "----" + p.cost.ToString());
                    &rbrace;
            </code>
        </pre>
        Gets:
        <pre>
            <samp>
                Chef Anton's Cajun Seasoning----22.0000
                Chef Anton's Gumbo Mix----21.3500
                Chang----19.0000
                Chai Updated----18.0000
                Chartreuse verte----18.0000
                Chocolade----12.7500
            </samp>
        </pre>

        You can take advantage of anonymous types with EF.
        <pre>
            <code>
                var someNewType = new
                &lbrace;
                    ProductName = "I am new",
                    Cost = 98.98
                &rbrace;
            </code>
        </pre>

        <p class="HeadingSubTopic2" >Select only some columns</p>

        With the statements we have above for the queries, we are getting all the columns back.  We can specify what columns we want:
        <pre>
            <code>
                <b>//notice we cannot use IQueryable&lt;Product&gt; anymore because we are using the anonymous type and not getting all cols back.</b>
                IQueryable? productsCh = products.<b>Select(prod =&gt; new &lbrace; prod.ProductId, prod.ProductName, prod.cost &rbrace;)</b>.Where(p => EF.Functions.Like(p.ProductName, "Ch%"));

                Then in the for loop use var:
                foreach (<b>var</b> p in productsCh)
                ...
                    Console.WriteLine(p.ToString());
            </code>
        </pre>
        Will get:
        <pre>
            <samp>
                &lt; ProductId = 1, ProductName = Chai Updated, cost = 18.0000 &gt;
                &lt; ProductId = 2, ProductName = Chang, cost = 19.0000 &gt;
                &lt; ProductId = 4, ProductName = Chef Anton's Cajun Seasoning, cost = 22.0000 &gt;
                &lt; ProductId = 5, ProductName = Chef Anton's Gumbo Mix, cost = 21.3500 
                &lt; ProductId = 39, ProductName = Chartreuse verte, cost = 18.0000 &gt;
                &lt; ProductId = 48, ProductName = Chocolade, cost = 12.7500 &gt;
            </samp>
        </pre>

        <p class="HeadingSubTopic2" >Joining Queries</p>
        Having Categories and having Products, with the products having a category id, we can join those 2 with something like this:
        <pre>
            <code>
                DbSet&lt;Product&gt; products = db.Products;
                DbSet&lt;Category&gt; categories = db.Categories;
                ...
                //join categories with the products, based on the categoryID (outer key for the category, inner key for the product)
                var join = categories.<b>Join</b>(<b>inner: products</b>, 
                    <b>outerKeySelector: category =&gt; category.CategoryId</b>, 
                    <b>innerKeySelector: prod =&gt; prod.CategoryId, </b>
				    <b>resultSelector: (c, p) =&gt; new &lbrace;c.CategoryId, c.CategoryName, p.ProductName, p.cost&rbrace;);</b>
            </code>
        </pre>
        Because we choose what we want to get from the join in the resultSelector, in this case we will see:
        <pre>
            <samp>
                &lbrace; CategoryId = 1, CategoryName = Beverages, ProductName = Chai Updated, cost = 18.0000 &rbrace;
                &lbrace; CategoryId = 1, CategoryName = Beverages, ProductName = Chang, cost = 19.0000 &rbrace;
                &lbrace; CategoryId = 2, CategoryName = Condiments, ProductName = Aniseed Syrup, cost = 10.0000 &rbrace;
                &lbrace; CategoryId = 2, CategoryName = Condiments, ProductName = Chef Anton's Cajun Seasoning, cost = 22.0000 &rbrace;
                &lbrace; CategoryId = 2, CategoryName = Condiments, ProductName = Chef Anton's Gumbo Mix, cost = 21.3500 &rbrace;
                &lbrace; CategoryId = 2, CategoryName = Condiments, ProductName = Grandma's Boysenberry Spread, cost = 25.0000 &rbrace;
                ...
            </samp>
        </pre>
        <p class="HeadingSubTopic2" >Joining Groups</p>
        Similar to the join above but now you can joing each category to a group of products, instead of having one row per category-product.
        <p class="HeadingSubTopic2" >Other</p>
        You can perform other actions in the collections, such as MAX, AVERAGE, SUM etc.

        <p class="HeadingSubTopic" id="Parallel-Linq" >Parallel Linq</p>
        You can run queries with the .AsParallel to use different processors at the same time if you have them.  Whatever comes after the .AsParallel will 
        be run in parallel, so don't just put it at the end of the statement.

        <p class="HeadingSubTopic" id="Linq-XML" >Linq to XML</p>
        Pay attention to the types being used here or it won't work.  <b>Don't put the DBSet directly in the XML or you get an exception.</b>
        <pre>
            <code>
                DbSet&lt;Category&gt; cats = db.Categories;
                List&lt;Category&gt; catList = cats.ToList();

                <b>XElement</b> xml = <b>new XElement("CATEGORIES"</b>,  (from c in <b>catList</b>
                    select <b>new XElement("category", </b>
                    new <b>XAttribute</b>("CatID", c.CategoryId),
                    new <b>XElement</b>("desc", c.Description),
                    new <b>XElement</b>("name", c.CategoryName)))
                    );
            </code>
        </pre>
        The xml that we get is this:
        <pre>
            <samp>
                &lt;CATEGORIES&gt;  --- From XElement
                &lt;category CatID="1"&gt; --- CatId from XAttribute
                    &lt;desc&gt;Soft drinks, coffees, teas, beers, and ales &lt;/desc&gt;
                    &lt;name&gt;Beverages &lt;/name&gt;
                    &lt;/category&gt;
                    &lt;category CatID="2"&gt;
                        &lt;desc&gt;Sweet and savory sauces, relishes, spreads, and seasonings &lt;/desc&gt;
                        &lt;name&gt;Condiments &lt;/name&gt;
                    &lt;/category&gt;
                    ...
                    &lt;/CATEGORIES&gt;
            </samp>
        </pre>
        You can also get data from an xml and set it for your code.
    </div>  
</div>  