<div>        
  <div  class="PaddedContents" style="text-align: center; font-size: 2.5vw; " >   
    
    
    <button class="doubleButtonsLike" (click)="onGetProblemClick()" style="width:98vw">The text may be silly but you can still solve it. Show The Problem</button>  
    <div style="height: 15vh; border:3px solid deeppink">
    <span style="font-size: 20px;">{{text}}</span>

    </div>    
    <button class="doubleButtonsLike" style="width:98vw">See Solution</button>
    <div style="height: 48vh; border:3px solid deepskyblue">

    </div>
  </div>                  
</div> 
 