<div>        
  <div  class="PaddedContents" style="text-align: center; font-size: 2.5vw;" >   
   <span style="font-size: 1.5vw; background-color: aqua; color:navy; ">Remember that the 5 will round up, not down, so 4.5 will round up to 5, not down to 4</span>  
   <div style="display:flex; flex-direction:row; justify-content:center; ">
      <div class="radio-toolbar" style="width:40vw">  
        <input class="doubleButtonsLike" type="radio" id="by10s" name="roundby" value="by10s" (click)="roundBy(10)" [checked]="roundingBy===10"/>
        <label for="by10s">By 10s</label>                
        <input class="doubleButtonsLike" type="radio" id="by100s" name="roundby" value="by100s" (click)="roundBy(100)" [checked]="roundingBy===100"/>
        <label for="by100s">By 100s</label>  
        <input class="doubleButtonsLike" type="radio" id="by1000s" name="roundby" value="by1000s" (click)="roundBy(1000)" [checked]="roundingBy===1000"/>
        <label for="by1000s">By 1000s</label>  
      </div>           
      <button class="doubleButtonsLike"  (click)="onGetNumberClicked()" style="width:20vw; margin-top:15px">Get Number</button>                    
      <span style="width:90px; margin-top:15px; font-size:3;text-align: center;">&nbsp;{{numberToRound}}</span>            
</div>       

    
  
  </div>                  
</div> 
 