<div class="PaddedContentsTopics">
    
    Just some Git commands and maybe some info.
    <hr/>
    <ul style="list-style-type:square;">
        <li>
            <b>git config --global user.name </b> - check your username
        </li>
        <li>
            <b>git config --global user.name "theusername"</b> - set the user name
        </li>
        <li>
            <b>git config --global user.email </b> - similar for email
        </li>
        <li>
            <b>git config --global user.email theemail@whatever.com </b>
        </li>
        <li>
            <b>git --version</b>
        </li>
        <li>
            <b>start . </b> - popup windows explorer (open if mac)
        </li>
        <li>
            <b>ls</b> - list contents
        </li>
        <li>
            <b>ls someFolderName</b>
        </li>
        <li>
            <b>clear</b>
        </li>
        <li>
            <b>ls someFolder/SomeFolderInsideThatOne</b>
        </li>
        <li>
            <b>ls -a</b> - all, including hidden files
        </li>
        <li>
            <b>pwd</b> - present working dir
        </li>
        <li>
            <b>cd SomeFolder/</b> - change dir
        </li>
        <li>
            <b>cd ..</b> - back up one
        </li>
        <li>
            <b>touch someFolder/somefile.txt</b> - create file
        </li>
        <li>
            <b>mkdir someFolder</b>
        </li>
        <li>
            <b>rm somefile.txt</b> - remove
        </li>
        <li>
            <b>rm -rf someFolder</b> - remove for dir
        </li>
        <li>
            <b>git status</b> - check status of repository
        </li>
        <li>
            <b>git init </b> - create a new repository, don't do this inside of an existing repository
        </li>
        <li>
            <b>git add file1 file2 </b> - stage the changes so they can be committed
        </li>
        <li>
            <b>git add . </b> - stage all changes
        </li>
        <li>
            <b>git commit</b> 
        </li>
        <li>
            <b>git commit -m "my message"</b> 
        </li>
        <li>
            <b>git log</b>  - see commits so far
        </li>
        <li>
            <b>git commit --amend</b>  - add changes to previous commit, opens prev commit msg (configure for your editor if needed)
        </li>
        <li>
            <b>git log --oneline</b>  - commits in just one line
        </li>
        <li>
            <b>git branch</b>  - see your branches (* for current one)
        </li>
        <li>
            <b>git branch -v</b>  - same but more info
        </li>
        <li>
            <b>git branch someBranchName</b>  - create branch, but stay current where you were current
        </li>
        <li>
            <b>git switch someBranchName</b>  - now current is that branch (HEAD points there now)
        </li>
        <li>
            <b>git switch -c someBranchName</b>  - create branch and go to it
        </li>
        <li>
            <b>git config core.editor notepad</b> 
        </li>
        <li>
            <b>git config --global core.editor "code --wait"</b> 
        </li>
        <li>
            <b>git start someFileName.txt</b> - open the file in the version the current branch has of it.
        </li>
        <li>
            <b>git branch -d branchToDelete</b> Not current branch, must be fully merged
        </li>
        <li>
            <b>git branch -D branchToDelete</b> doesn't have to be fully merged
        </li>
        <li>
            <b>git branch -m newNameForBranch</b> Changed the current branch's name
        </li>
    </ul>
    
</div>


