<div class="PaddedContentsTopics">
    
    Just some Git commands and maybe some info.
    <br/>

    <img width="100%" src="assets\images\misc\git1.png" alt="git areas" /><br/><br/>
    <img width="100%" src="assets\images\misc\git2.png" alt="git areas" /><br/><br/>
    <a href="https://medium.com/nerd-for-tech/contributing-to-a-github-project-with-github-desktop-57514f640aa1" target="_blank">Medium article on GitHub Desktop</a><br/>
    <hr class="hrClass"/>
    <strong>GIT (GitHub following this one)</strong>
    <hr class="hrClass"/>
        
    <ul style="list-style-type:square;">
        <li>
            <b>git config --global user.name </b> - check your username
        </li>
        <li>
            <b>git config --global user.name "theusername"</b> - set the user name
        </li>
        <li>
            <b>git config --global user.email </b> - similar for email
        </li>
        <li>
            <b>git config --global user.email theemail@whatever.com </b>
        </li>
        <li>
            <b>git --version</b>
        </li>
        <li>
            <b>start . </b> - popup windows explorer (open if mac)
        </li>
        <li>
            <b>ls</b> - list contents
        </li>
        <li>
            <b>ls someFolderName</b>
        </li>
        <li>
            <b>clear</b>
        </li>
        <li>
            <b>ls someFolder/SomeFolderInsideThatOne</b>
        </li>
        <li>
            <b>ls -a</b> - all, including hidden files
        </li>
        <li>
            <b>pwd</b> - present working dir
        </li>
        <li>
            <b>cd SomeFolder/</b> - change dir
        </li>
        <li>
            <b>cd ..</b> - back up one
        </li>
        <li>
            <b>touch someFolder/somefile.txt</b> - create file
        </li>
        <li>
            <b>mkdir someFolder</b>
        </li>
        <li>
            <b>rm somefile.txt</b> - remove
        </li>
        <li>
            <b>rm -rf someFolder</b> - remove for dir
        </li>
        <li>
            <b>git status</b> - check status of repository
        </li>
        <li>
            <b>git init </b> - create a new repository, don't do this inside of an existing repository
        </li>
        <li>
            <b>git add file1 file2 </b> - stage the changes so they can be committed
        </li>
        <li>
            <b>git add . </b> - stage all changes
        </li>
        <li>
            <b>git commit</b> 
        </li>
        <li>
            <b>git commit -m "my message"</b> 
        </li>
        <li>
            <b>git log</b>  - see commits so far
        </li>
        <li>
            <b>git commit --amend</b>  - add changes to previous commit, opens prev commit msg (configure for your editor if needed)
        </li>
        <li>
            <b>git log --oneline</b>  - commits in just one line
        </li>
        <li>
            <b>git branch</b>  - see your branches (* for current one)
        </li>
        <li>
            <b>git branch -v</b>  - same but more info
        </li>
        <li>
            <b>git branch someBranchName</b>  - create branch, but stay current where you were current
        </li>
        <li>
            <b>git switch someBranchName</b>  - now current is that branch (HEAD points there now)
        </li>
        <li>
            <b>git switch -c someBranchName</b>  - create branch and go to it
        </li>
        <li>
            <b>git config core.editor notepad</b> 
        </li>
        <li>
            <b>git config --global core.editor "code --wait"</b> 
        </li>
        <li>
            <b>git start someFileName.txt</b> - open the file in the version the current branch has of it.
        </li>
        <li>
            <b>git branch -d branchToDelete</b> Not current branch, must be fully merged
        </li>
        <li>
            <b>git branch -D branchToDelete</b> doesn't have to be fully merged
        </li>
        <li>
            <b>git branch -m newNameForBranch</b> Changed the current branch's name
        </li>
        <li>
            <b>git merge TheBranchYouWantToMerge</b> merge that branch to the current branch, where you type that.
        </li>
        <li>
            <b>git diff</b> differences between staging area and working dir, any number of files.
        </li>
        <li>
            <b>git diff HEAD</b> changes in working dir since last commit (staged or not).
        </li>
        <li>
            <b>git diff --staged</b> Show staged changes (diff between last commit and staging area)
        </li>
        <li>
            <b>git diff --staged somefilename.txt</b> also with the other options, can choose for what file.
        </li>
        <li>
            <b>git diff branch1 branch2</b> can also do git diff branch1..branch2 to compare branches, all files. Order matters.
        </li>
        <li>
            <b>git diff XXXXX..YYYYY</b> XXXXX and YYYYY  being some commit numbers that you found out with git log.
        </li>
        <li>
            <b>git stash</b> stash uncommitted so they don't follow you to another branch when you switch
        </li>
        <li>
            <b>git stash save</b> same thing
        </li>
        <li>
            <b>git stash pop</b> remove most recent stash and put it back in working dir or staging area in branch 
        </li>
        <li>
            <b>git stash apply</b> apply from stach but the stach is still there, not removed as with pop (if you want to reapply to other branches)
        </li>
        <li>
            <b>git stash -u</b> include untracked files
        </li>
        <li>
            <b>git stash list</b> 
        </li>
        <li>
            <b>git stash apply stash@&lbrace;2&rbrace;</b> spefic stash, see with the list.
        </li>
        <li>
            <b>git stash drop stash@&lbrace;2&rbrace;</b> 
        </li>
        <li>
            <b>git stash clear</b> 
        </li>
        <li>
            <b>git checkout specificCommtHash</b> -  view that previous commit.  HEAD points to the specific commit, not the branch
        </li>
        <li>
            <b>git switch someBranchName</b> - HEAD back pointing to the branch
        </li>
        <li>
            <b>git checkout specificCommtHash  git switch -c newbranch</b> from commit in the past, create a new branch, from that point.
        </li>
        <li>
            <b>git checkout HEAD~2</b> - go to commits in the past
        </li>
        <li>
            <b>git checkout HEAD somefilename</b> - discard those changes, back to when we last committed. Be mindful of where HEAD is pointing to.
        </li>
        <li>
            <b>git checkout -- somefilename</b> - as above
        </li>
        <li>
            <b>git restore somefilename</b> - as above
        </li>
        <li>
            <b>git restore --source HEAD~2 app.js</b> - restore app.js to its state 2 commits before the one where HEAD is pointing now.
        </li>
        <li>
            <b>git restore --staged someFileName</b> - remove from staging area
        </li>
        <li>
            <b>git reset someCommitHashTOGOBACKTO</b> - undo commits and go back to that commit.
        </li>
        <li>
            <b>git reset --hard HEAD~2</b> - undo commits and file changes to that point (instead of HEAD~2, can also give the someCommitHashTOGOBACKTO)
        </li>
        <li>
            <b>git revert someCommitHashIWantTOGetRidOf</b> - undo commits by committing a change that undoes to changes.
        </li>
        <li>
            <b>git tag tagname</b> label to a moment in time, will put it in the HEAD
        </li>
        <li>
            <b>git tag -a tagname</b>more detailed tag
        </li>
        <li>
            <b>git tag -a tagname commithash</b>
        </li>
        <li>
            <b>git tag -d tagname</b> delete
        </li>
        <li>
            <b>git push --tags</b> push all tags
        </li>
        <li>
            <b>git tag</b> see existing tags
        </li>
        <li>
            <b>git tag -l "*beta*"</b> tags that have beta in the name
        </li>
        <li>
            <b>git checkout 15.3.1</b> check particular tag
        </li>
        <li>
            <b>git diff v15 v16</b> 
        </li>
        <li>
            <b>git tag -f tagnamethatwearealradyusing</b> use -f to be able to have a duplicate tag
        </li>
    </ul>
    <hr class="hrClass"/>
    GitHub or similar
    <hr class="hrClass"/>
    <ul>
        <li>
            <b>git clone someurl</b> Don't do this inside an existing repo, it will create the repo in the folder where you are
        </li> 
        <li>
            <b>git remote</b> check if local repo is already connected to github
        </li> 
        <li>
            <b>git remote -v</b> same but more details
        </li> 
        <li>
            <b>git remote add origin someurl</b> to establish the connection, origin can be another name, but this is the standard.
        </li> 
        <li>
            <b>git remote rename oldname newname</b>
        </li> 
        <li>
            <b>git remote remove thename</b>
        </li> 
        <li>
            <b>git push originOrWhateverRemoteName masterOrWhateverBranchNameWeSendUp</b> On GitHub, it will go to the same branch name that you use in the command.
        </li>
        <li>
            <b>git push origin myLocalBranch: toThisRemoteBranch</b> branches with different names in local and remote.
        </li>
        <li>
            <b>git push -u origin myBranch</b> configure upstream so doing "git push" already knows what to do
        </li>
        <li>
            <b>git branch -r</b> Check what the branches are in remote (origin)
        </li>
        <li>
            <b>git checkout origin/master</b> check out that branch, master or another one , how was it last time we communicated with it.
        </li>
        <li>
            <b>git switch branchNameInRemote</b> Get a connection to that other branch in remote, and name it the same locally.
        </li>
        <li>
            <b>git fetch origin</b> all branches (fetch so git status knows if you are behind or ahead on commits)
        </li>
        <li>
            <b>git fetch origin remotebranch</b> just that branch from remote. Origin/master will have new changes, my master branch (local) will not.
        </li>
        <li>
            <b>git pull origin remotebranch</b> pull from that to the branch where you are when you do it.
        </li>
        <li>
            <b>git pull</b> short way to get the latest from the equivalent branch in remote, you are already on that branch locally.
        </li>
    </ul>
</div>


