<div class="PaddedContents ">    

    <div >
        <div class="TopLinks" #HeadingsContainer>      
            <top-links ></top-links>      
          </div>  
          <br/>
            
        <p class="HeadingSubTopic" id="Installing" HeadingSubTopicDir>Installing</p>

        There are different packages you can install that work with .NET and graphql.  I am using this one:<br/>
        Go to a command window and move to the directory where your project is. (the project itself, not the solution where it is)<br/>
        run <b>dotnet add package GraphQL</b><br/>
        You may also need (depending whether you are using just the client side or both client and server):
        <pre>
            <samp>
                dotnet add package GraphQL.MicrosoftDI;
                dotnet add package GraphQL.SystemTextJson;

                and others.
                //You will need Server.All so you can see your schema (from your server) on the graphiql.
                //from NuGet : GraphQL.Server.All
            </samp>
        </pre>

        <br/>
        Once you have it installed, you can create folders for your classes: Query, Type, Mutation, Schema, Services.<br/>

        <p class="HeadingSubTopic" id="Types"  HeadingSubTopicDir>Types</p>

        With c# we have model classes to hold our data, but, those are not what we can use with GraphQL. For example, if we have a model class like this:

        <pre>
            <code>
                public class Product
                &lbrace;
                    public int Id &lbrace; get; set; &rbrace;
                    public string Name &lbrace; get; set; &rbrace;
                    public double Price &lbrace;get; set; &rbrace;
                &rbrace;
            </code>
        </pre>

        The equivalent we would need for graphQL would be something like this:

        <pre>
            <code>
                public class ProductType : ObjectGraphType&lt;Product&gt;
                &lbrace;
                    public ProductType()
                    &rbrace;
                        Field(p => p.Id); //the fields we will be able to query on
                        Field(p => p.Name);
                        Field(p => p.Price);
                    &rbrace;
                &rbrace;
            </code>
        </pre>        

        <p class="HeadingSubTopic" id="Accessing" HeadingSubTopicDir>Accessing</p>
        With REST APIs, we need a controller that directs where to go depending on the url request we get.  In here we don't have that.
        If with a REST request we could have: <br/>
        localhost/api/products with a GET method or localhost/api/product/1 with a POST method etc. we now will have something different.
        <br/>
        So we can access the UI for this, and the graphql itself, we need to do this in the program.cs: 
        <pre>
            <code>
                using GraphQL.Types;
                using GraphQL;
                using GraphQL.Server;
                using GraphQL.MicrosoftDI;
                using GraphQL.SystemTextJson;

                //assuming these have all been created, add as you create them 
                //code for IProduct is not here but you should have it for the services you offer (not part of graphQL)
                builder.Services.AddTransient&lt;IProduct, ProductService&gt;(); 
                builder.Services.AddSingleton&lt;ProductType&gt;();
                builder.Services.AddSingleton&lt;ProductQuery&gt;();
                builder.Services.AddSingleton&lt;ISchema, ProductSchema&gt;();
                <b>//builder.Services.AddGraphQL(o =&gt; o.UseApolloTracing(false));
                builder.Services.AddGraphQL(b => b
                    .AddAutoSchema&lt;Query&gt;()  // schema
                    .AddSystemTextJson());   // serializer</b>

                <b>app.UseGraphQL("/graphql");</b>
                /If you do not explicitly specify an endpoints through the optional options argument then GraphiQL
                //by default will run on <b>/ui/graphiql</b> (notice the i in graphi) endpoint and will send requests to /graphql GraphQL API endpoint.
                <b>app.UseGraphQLGraphiQL();</b>
            </code>
        </pre>

        To access the UI, the url will be localhost:????/ui/graphiql<br/>

        So far we have the type with its fields and how to access the UI to test it, but we need more so we have something to use.<br/>

        <p class="HeadingSubTopic" id="Queries" HeadingSubTopicDir>Queries</p>
        In the code below, we have a ProductService class that contains some methods we can call, and we are using dependency injection for it.
        <pre>
            <code>
                public class ProductQuery :ObjectGraphType
                &lbrace;
                    public ProductQuery(IProduct productService)
                    &lbrace;
                        <b>Field&lt;ListGraphType&lt;ProductType&gt;&gt;</b>("products").Resolve(context =&gt; &lbrace; return productService.GetAllProducts(); &rbrace;);
                        Field&lt;ProductType&gt;("product").Arguments(new QueryArgument&lt;IntGraphType&gt; &lbrace; Name = "Id" &rbrace;).Resolve
                        (context =&gt;
                        &lbrace;
                            return productService.GetProductById(context.GetArgument&lt;int&gt;("Id"));
                        &rbrace;);			
                    &rbrace;
                &rbrace;
            </code>
        </pre>

        <p class="HeadingSubTopic" id="Schemas" HeadingSubTopicDir>Schemas</p>
        
        <pre>
            <code>
                public class ProductSchema :GraphQL.Types.Schema
                &lbrace;
                    public ProductSchema(ProductQuery pq)
                    &lbrace;
                        Query = pq;
                    &rbrace;
                &rbrace;
            </code>
        </pre>

        Once we have the schemas (one per project) and we have the configuration set in program.cs, we can see the documentation created by the 
        schemas in the right side of the ui/graphiql UI.

      
        <p class="HeadingSubTopic" id="Querying" HeadingSubTopicDir>Querying</p>

        With all the previous code, we can call to get the list of products with this (in https://localhost:????/ui/graphiql):
        <pre>
            <samp>
                query &lbrace;
                    products&lbrace;
                      name
                      price
                    &rbrace;
                  &rbrace;
            </samp>
        </pre>

        And we will get:
        <pre>
            <samp>
                &lbrace;
                    "data": &lbrace;
                      "products": [
                      &lbrace;
                          "name": "Coffee",
                          "price": 10
                        &rbrace;,
                        &lbrace;
                          "name": "Tea",
                          "price": 15
                        &rbrace;
                      ]
                      &rbrace;
                &rbrace;
            </samp>
        </pre>

        <pre>
            <samp>
                query &lbrace;
                    product(id:0)&lbrace;
                      name
                      price
                    &rbrace;
                  &rbrace;
            </samp>
        </pre>
        <pre>
            <samp>
                &lbrace;
                    "data": &lbrace;
                      "product": &lbrace;
                        "name": "Coffee",
                        "price": 10                      
                        &rbrace;
                    &rbrace;
                &rbrace;
            </samp>
        </pre>

        <p class="HeadingSubTopic" id="GithubExplorer" HeadingSubTopicDir>graphql  github explorer</p>

        To see other types of queries, you can go to <a href="https://docs.github.com/en/graphql/overview/explorer" target="_new">docs.github.com/en/graphql/overview/explorer</a>
        <br/>
        <pre>
            <code>
                //passing arguments 
                query &lbrace;
                    repository(name:"graphql" owner:"facebook") &lbrace;
                      createdAt
                    &rbrace;
                  &rbrace;
            </code>
        </pre>
        <pre>
            <samp>
                &lbrace;
                    "data": &lbrace;
                      "repository": &lbrace;
                        "createdAt": "2015-07-01T01:26:56Z"
                      &rbrace;
                    &rbrace;
                &rbrace;
            </samp>
        </pre>

        Note: in the schema, a <b>!</b> next to the field means the field is required.<br/>

        Sometimes we need to use an alias so graphql doesn't get confused with what we are asking about, for example, in the example below,
        if we didn't have the <b>aliases</b> we would get an error.
        <pre>
            <code>
                query &lbrace;
                    Core: repository(name:"core" owner:"microsoft") &lbrace;
                      name
                      homepageUrl
                    &rbrace;,
                    M365: repository(name:"Microsoft365DSC" owner:"microsoft") &lbrace;
                      name
                      homepageUrl
                    &rbrace;
                  &rbrace;
            </code>
        </pre>
        <pre>
            <samp>
                &lbrace;
                    "data": &lbrace;
                      "Core": &lbrace;
                        "name": "core",
                        "homepageUrl": null
                      &rbrace;,
                      "M365": &lbrace;
                        "name": "Microsoft365DSC",
                        "homepageUrl": "https://aka.ms/M365DSC"
                      &rbrace;
                    &rbrace;
                  &rbrace;
            </samp>
        </pre>

        When we are queryind and repeating the same fields multiple times, we can use fragments.
        <pre>
            <code>
                query &lbrace; 
                    Core: repository(name:"core" owner:"microsoft") &lbrace;
                      <b>...MyCommonFields</b>
                    &rbrace;,
                    M365: repository(name:"Microsoft365DSC" owner:"microsoft") &lbrace;
                      ...MyCommonFields
                      &rbrace;
                    &rbrace;
                  
                  fragment <b>MyCommonFields</b> on Repository&lbrace;
                        name
                      homepageUrl
                      autoMergeAllowed
                &rbrace;
            </code>
        </pre>
        <pre>
            <samp>
                &lbrace;
                    "data": &lbrace;
                      "Core": &lbrace;
                        "name": "core",
                        "homepageUrl": null,
                        "autoMergeAllowed": false
                      &rbrace;,
                      "M365": &lbrace;
                        "name": "Microsoft365DSC",
                        "homepageUrl": "https://aka.ms/M365DSC",
                        "autoMergeAllowed": false
                      &rbrace;
                    &rbrace;
                  &rbrace;
            </samp>
        </pre>

        We can also use <b>variables</b>. In the regular query section, something like this (notice the case for String)
        <pre>
            <code>
                query Core <b>($nm:String! $own:String!)</b>  &lbrace;
                    repository(name:$nm owner:$own) &lbrace;
                        name
                        homepageUrl
                        autoMergeAllowed
                &rbrace;
              &rbrace;
            </code>
        </pre>
        In the query variables section:
        <pre>
            <code>
                &lbrace;
                    "nm": "core",
                    "own": "microsoft"
                &rbrace;
            </code>
        </pre>

        There is also a mutations on the right side (in addition to queries) but not looking at this yet.

        <p class="HeadingSubTopic" id="Murations" HeadingSubTopicDir>Add Our Mutations</p>
        In the Type folder, where we already have the ProductType class, we need to add a ProductInputType.
        <pre>
            <code>
                public class ProductInputType: InputObjectGraphType
	            &lbrace;
		            public ProductInputType()
		            &lbrace;
			            Field&lt;IntGraphType&gt;("id");
			            Field&lt;StringGraphType&gt;("name");
			            Field&lt;FloatGraphType&gt;("price");
		            &rbrace;
	            &rbrace;
            </code>
        </pre>

        In a Mutation folder, ProductMutation.
        <pre>
            <code>
                public class ProductMutation : ObjectGraphType
                &lbrace;
                    public ProductMutation(IProduct productService) &lbrace;

                        Field&lt;ProductType&gt;("createProduct").Arguments(new QueryArgument&lt;ProductInputType&gt; &lbrace; Name = "product" &rbrace;).Resolve
                        (context =&gt;
                        &lbrace;
                                    return productService.AddProduct(context.GetArgument&lt;Product&gt;("product"));
                                    &rbrace;);

                        Field&lt;ProductType&gt;("updateProduct").Arguments(new QueryArgument&lt;IntGraphType&gt; &lbrace; Name = "id" &rbrace;,
                            new QueryArgument&lt;ProductInputType&gt; &lbrace; Name = "product" &rbrace;).Resolve
                        (context =&gt;
                        &lbrace;
                            return productService.UpdateProduct(context.GetArgument&lt;int&gt;("id") ,context.GetArgument&lt;Product&gt;("product"));
                        &rbrace;);

                        Field&lt;StringGraphType&gt;("deleteProduct").Arguments(new QueryArgument&lt;IntGraphType&gt; &lbrace; Name = "id" &rbrace;).Resolve
                        (context =&gt;
                        &lbrace;
                            productService.DeleteProduct(context.GetArgument&lt;int&gt;("id"));
                            return "done";
                        &rbrace;);
                    &rbrace;
                &rbrace;
            </code>
        </pre>

        Now we can go to the same schema we have for the queries and add this:
        <pre>
            <code>
                public ProductSchema(ProductQuery pq, ProductMutation pm)
		        &lbrace;
			        Query = pq;
			        Mutation = pm;
		        &rbrace;
            </code>
        </pre>

        In program.cs we need to register the mutations too.  Both the new input type and the ProductMutation.<br/>
        Now when we run we see the mutation as well as the query (in the right side of ui/graphi)<br/>
        To use the mutations:<br/>
        Under the query variables section of the ui
        <pre>
            <code>
                &lbrace;
                    "product": &lbrace;
                      "id": 2,
                      "name": "Apple Juice",
                      "price": 5
                    &rbrace;
                  &rbrace;
            </code>
        </pre>
        In the query (mutation) section 
        <pre>
            <code>
                mutation AddProduct ($product:ProductInputType)&lbrace;
                    createProduct(product: $product)&lbrace;
                      id
                      name 
                      price 
                    &rbrace;
                  &rbrace;
            </code>
        </pre>
        You can do similar mutations using the other services.

        <p class="HeadingSubTopic" id="MultipleQUeryObjs" HeadingSubTopicDir>Having Multiple Query objects</p>

        The project can have one schema only and the schema can only contain one query, so when we have different types, each with its own query, 
        we need to have a rootQuery to handle the queries.

        Something like this:
        <pre>
            <code>
                public class RootSchema:GraphQl.Type.Schema 
                &lbrace;
                    public RootSchema(IServiceProvider sp) :base(sp)
                    &lbrace;
                        query = ps.GetRequiredService&lt;RootQuery&gt;()
                    &rbrace;
                &rbrace;


                //in the RootQuery which inherits from ObjectGraphType, in the constructor:
                Field&lt;Type1Query&gt;("Type1Query", resolve: context =&gt; new &lbrace;&rbrace;);
                Field&lt;Type2Query&gt;("Type2Query", resolve: context =&gt; new &lbrace;&rbrace;);
                Field&lt;Type3Query&gt;("Type3Query", resolve: context =&gt; new &lbrace;&rbrace;);
            </code>
        </pre>
        Similar thing as above for the mutations.  Don't forget to register everything in program.cs  To call them, we don't need to use the root, use like 
        for the Product one earlier on the notes.
    </div>
</div>