<div class="DivsByRow">
    <div class="leftFixedBox">        
        <button class="areasButton" (click)="setVisibleTo('node-notes')">Basics</button>
        <button class="areasButton" (click)="setVisibleTo('node-notes-express')">Express</button>
        <button class="areasButton" (click)="setVisibleTo('node-notes-db')">DB</button>        
        <button class="areasButton" (click)="setVisibleTo('node-notes-mvc')">MVC</button> 
    </div>
    <div class="contentsMoveRight">
        <node-notes-db *ngIf="visibleIs === 'node-notes-db'"></node-notes-db>         
        <node-notes *ngIf="visibleIs === 'node-notes'"></node-notes>
        <node-notes-express *ngIf="visibleIs === 'node-notes-express'"></node-notes-express>
        <node-notes-mvc *ngIf="visibleIs === 'node-notes-mvc'"></node-notes-mvc>         
    </div>
    
</div>


