<div class="PaddedContents ">    

<div >

    <br/>
    <h2 class="CenterMe">SQL notes - More</h2>      
    <div class="TopLinks" #HeadingsContainer>      
        <top-links ></top-links>      
      </div>  
      <br/>
            
        <p class="HeadingSubTopic" id="WITH" HeadingSubTopicDir>WITH Keyword (CTEs:Common Table Expressions)</p>

        <pre>
            
            WITH MyQuery AS (
	            SELECT * FROM Customers WHERE CompanyName LIKE 'G%'
            )

            SELECT * FROM MyQuery

            --Multiple ones
            WITH <b>MyCustomers</b> AS (
	            SELECT * FROM Customers WHERE CompanyName LIKE 'G%'
            )<b>,</b>
            MyOrders AS(
	            SELECT * FROM orders WHERE CustomerId IN (SELECT CustomerId FROM <b>MyCustomers</b>) 
            )

            --SELECT * FROM MyCustomers  --comment this one out because we can only have 1 statement after the WITH

            <b>SELECT * FROM MyOrders ORDER BY CustomerID</b>

        </pre>

        <p class="HeadingSubTopic" id="Exists" HeadingSubTopicDir>Exists</p>

        <pre>
            --only the suppliers that have products with a unit price over 25
            SELECT *
            FROM Suppliers
            WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND UnitPrice > 25);

            --Can also do WHERE NOT EXISTS

            --to check if a table exists, before doing something with it 
            IF EXISTS (SELECT * FROM sys.objects WHERE OBJECT_NAME(object_id) = 'customers' AND SCHEMA_NAME(schema_id) = 'dbo' AND
	        OBJECTPROPERTY(object_id, 'IsUserTable') = 1)
            BEGIN
	            PRINT 'it exists'
            END 
            GO

            --check for DB existence
            IF NOT EXISTS (SELECT 'True' FROM sys.databases WHERE name = 'Northwind1111')
            BEGIN
	            PRINT 'it does not exists'
            END 
            GO

        </pre>

        <p class="HeadingSubTopic" id="Cast-Convert" HeadingSubTopicDir>Cast and Convert</p>

        About the same thing, but for dates, convert can also do formatting.
        <pre>
            SELECT 'supplierID is ' + CAST(supplierId AS varchar)
            FROM
            Suppliers


            SELECT 'supplierID is ' + CONVERT(VARCHAR, supplierId) AS CONVERTED
            FROM
            Suppliers
        </pre>

        <p class="HeadingSubTopic" id="Merge" HeadingSubTopicDir>Merge</p>
        Combination of insert, delete, update.  So if there is a Source table and a Target table that are to be merged, 
        then with the help of MERGE statement, all the three operations (INSERT, UPDATE, DELETE) can be performed at once.
        <pre>
            --BY TARGET is the default if not indicated.

            MERGE TARGET_LIST AS TARGET USING SOURCE_LIST AS SOURCE	

	        ON (TARGET.P_ID = SOURCE.P_ID)
            	WHEN MATCHED
		            AND TARGET.P_NAME &lt;&gt; SOURCE.P_NAME		            	
	            THEN UPDATE
		            SET TARGET.P_NAME = SOURCE.P_NAME,		        
			
            	WHEN NOT MATCHED BY TARGET
	                THEN INSERT (P_ID, P_NAME, P_PRICE)		
		            VALUES (SOURCE.P_ID, SOURCE.P_NAME, SOURCE.P_PRICE)
			
	            WHEN NOT MATCHED BY SOURCE
	                THEN DELETE

            --you can also add OUTPUT at the end if you want to obtain back a result set of what happened.
        </pre>

        <p class="HeadingSubTopic" id="Functions" HeadingSubTopicDir>Functions</p>

        <pre>
            SELECT 
                <b>ROW_NUMBER()</b> OVER ( ORDER BY EmployeeId) row_num,  --get this estra column with row ids
                LastName,
                FirstName,
                EmployeeId
            FROM
                employees;

                SELECT 
                ROW_NUMBER() OVER ( ORDER BY EmployeeId) row_num,  --get this estra column with row ids
                LastName,
                FirstName,
                EmployeeId
            FROM
                employees;
            WHERE row_num > 10

            SELECT 
                <b>RANK()</b> OVER ( ORDER BY Title) theRank, 
                LastName,
                FirstName,
	            EmployeeId
            FROM
                employees;

            
            /*theRank	LastName	FirstName	EmployeeId
            1	Callahan	Laura	8
            2	Buchanan	Steven	5
            3	Suyama	Michael	6
            3	King	Robert	7
            3	Dodsworth	Anne	9
            3	Davolio	Nancy	1
            3	Leverling	Janet	3
            3	Peacock	Margaret	4
            <b>9</b>	Fuller	Andrew	2*/

            /*Different from the RANK() function, the DENSE_RANK() function always generates consecutive rank values.*/

            SELECT 
                <b>DENSE_RANK()</b> OVER ( ORDER BY Title) theRank, 
                LastName,
                FirstName,
	            EmployeeId
            FROM
                employees;
            /*theRank	LastName	FirstName	EmployeeId
            1	Callahan	Laura	8
            2	Buchanan	Steven	5
            3	Suyama	Michael	6
            3	King	Robert	7
            3	Dodsworth	Anne	9
            3	Davolio	Nancy	1
            3	Leverling	Janet	3
            3	Peacock	Margaret	4
            <b>4</b>	Fuller	Andrew	2*/

            --NTILE divides the reesults into categories.
            SELECT 
                <b>NTILE(3)</b>  OVER ( ORDER BY Title) theRank, 
                LastName,
                FirstName,
	            EmployeeId
            FROM
                employees;

            /*theRank	LastName	FirstName	EmployeeId
            1	Callahan	Laura	8
            1	Buchanan	Steven	5
            1	Suyama	Michael	6
            2	King	Robert	7
            2	Dodsworth	Anne	9
            2	Davolio	Nancy	1
            3	Leverling	Janet	3
            3	Peacock	Margaret	4
            3	Fuller	Andrew	2*/

            SELECT    
                LastName,
                FirstName,
                EmployeeId
            FROM
                employees
            ORDER BY EmployeeId --need this order by
            <b>OFFSET 0 ROWS --number of rows to skip before retrieving.
            FETCH NEXT 2 ROW ONLY</b>



        </pre>


        <p class="HeadingSubTopic" id="Views" HeadingSubTopicDir>Views</p>

        <pre>
            create view [dbo].[Current Product List] AS
            SELECT Product_List.ProductID, Product_List.ProductName
            FROM Products AS Product_List
            WHERE (((Product_List.Discontinued)=0))

            SELECT * FROM [Current Product List] -- [] because it has spaces

            CREATE VIEW emp2 (first___name , last___name) AS
            SELECT 
                FirstName, lastName
            FROM
                employees   
            GO

            SELECT *  FROM emp2


            DROP VIEW emp2 
            GO


            ALTER VIEW emp2 (firstname___ , lastname___) AS
            SELECT 
                FirstName, lastName
            FROM
                employees   
            GO


            ALTER VIEW emp2 (firstname___ , lastname___) AS
            SELECT 
                FirstName, lastName
            FROM
                employees   
	        WHERE city = 'London'
	        WITH CHECK OPTION -- if using the view for inserts, only if the row satisfies the WHERE
            GO

            --to see the view code 
            EXEC sp_helptext emp2

            --use WITH ENCRYPTION and the sp_helptext will not show the code.
            ALTER VIEW theview WITH ENCRYPTION AS ... 


        </pre>

        <p class="HeadingSubTopic" id="Scripts" HeadingSubTopicDir>Scripts</p>

        Just some examples 

        <pre>
            USE northwind;
            DECLARE @empid int;
            SET @empid = 0; --init
            SET @empid = (SELECT MAX(EmployeeId) FROM Employees ); --get it
            SELECT @empid; --display it

            DECLARE @empid int = 0;


        </pre>

        <p class="HeadingSubTopic" id="SystemFunctions" HeadingSubTopicDir>Some System Functions</p>

        <ul>
            <li>@@DATEFIRST --> what is currently set as the first day of the week</li>
            <li>@@ERROR --> error number of last T-SQL statement executed.  O for no error</li>
            <li>@@IDENTITY --> value of last identity value inserted, or of select into.</li>
            <li>IDENT_CURRENT('tablename') --> last identity value but for specific table</li>
            <li>@@OPTIONS --> info about options that have been set with SET</li>
            <li>@@REMSERVER --> value of the server that called the stored procedure. (only used in stored procedures)</li>
            <li>@@ROWCOUNT --> Number of rows affected by the last statement</li>
            <li>SCOPE_IDENTITY() --> last idenitty inserted within the current session and scope</li>
            <li>@@SERVERNAME --> name of local server</li>
            <li>@@TRANCOUNT --> number of active transactions for the current connection</li>
            <li>@@VERSION --> current version of SQL server</li>
        </ul>
        
        <p class="HeadingSubTopic" id="Flow" HeadingSubTopicDir>Flow Statements</p>

        <ul>
            <li>IF ... ELSE</li>
            <li>BEGIN ... END</li>
            <li>CASE ... WHEN ... THEN ... ELSE...END</li>
            <li>WHILE ... BEGIN ... END</li>
            <li>WAIT FOR ... DELAY</li>
            <li>BEGIN TRY ... END TRY BEGIN CATCH ... END CATCH</li>
        </ul>

        <p class="HeadingSubTopic" id="StoredProcedure" HeadingSubTopicDir>Stored Procedures and functions</p>

        <pre>
            CREATE PROCEDURE SelectAllCustomers
            AS
                SELECT * FROM Customers
            GO;
            EXEC SelectAllCustomers;


            CREATE PROCEDURE SelectSomeCustomers @City nvarchar(30)
            AS
                SELECT * FROM Customers WHERE City = @City
            GO;
            EXEC SelectSomeCustomers @City = 'London'; 

            CREATE PROCEDURE SelectSomeCustomers @City nvarchar(30), @Country nvarchar(30)
            AS
                SELECT * FROM Customers WHERE City = @City AND Country=@Country;
            GO;
            EXEC SelectSomeCustomers @City = 'London', @Country="UK" ; 


            DROP PROC SelectSomeCustomers;


            CREATE PROCEDURE SomeProcedure
                @SalesPerson nvarchar(50),  
                @SalesYTD money <b>OUTPUT  </b>
            AS                                
                SELECT <b>@SalesYTD = SalesYTD  </b>
                FROM SalesPerson 
                WHERE ...

                RETURN;
            GO 
        </pre>

        Stored Procedures are not really intended to return data, but user functions can return scalar as well as table data.
        <br/>
        Created similar to the procedure, but use CREATE FUNCTION instead.
        <pre>
            CREATE FUNCTION someFunc (@dt DATE)
            RETURNS BIT
            AS 
            BEGIN 
                DECLARE @out BIT =0;
                ... 
                RETURN @out 
            END

            CREATE FUNCTION someFunc (@dt DATE)
            RETURNS TABLE
            AS 
            BEGIN 
                ... 
                RETURN (SELECT ...)
            END
            GO

        </pre>




    </div>
</div>