

<nav class="navbar navbar-default navbar-fixed-top TopNav" >

  <div class="container-fluid-nav"><!--class="container-fluid"-->

    
    <div class="navbar-header" style="background-color: skyblue; " >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()' style="color:navy;">
        <span style="color:navy;" class="icon-bar"></span>
        <span style="color:navy;" class="icon-bar"></span>
        <span style="color:navy;" class="icon-bar"></span>
      </button>    
    </div>

    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }' style="background-color: skyblue; width: 100%;">

      <ul class="nav navbar-nav" >
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()' style="color:navy; font-size:2.5vh; ">
            <span  class='glyphicon glyphicon-home'></span>
          </a>
        </li>        
      </ul>    

      
      <!--Angular-->
      <ul class="nav navbar-nav" >        
        
        <li class="dropdown" appDropDown style="background-color:lightcoral;">    
          <a class="nav-link dropdown-toggle" href (click)="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">         
            <span style="color:navy; font-size:2.5vh; cursor: pointer;">Angular <span class='glyphicon caret'></span></span>
          </a>
          <ul class="dropdown-menu">                       
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes"]'  style="color:navy; font-size:2.5vh; ">
                Basics
              </a>
            </li> 
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes-svc-routing"]'  style="color:navy; font-size:2.5vh; ">
                Services & Routing
              </a>
            </li>           
          </ul>                    
        </li>
      </ul>

      <!--Math-->
      <ul class="nav navbar-nav" >
        <li class="dropdown" appDropDown style="background-color:lightblue;">    
          <a class="nav-link dropdown-toggle" href (click)="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">         
            <span style="color:navy; font-size:2.5vh; cursor: pointer;">Math<span class='glyphicon caret'></span></span>
          </a>
          <ul class="dropdown-menu">                       
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/probability-notes"]'  style="color:navy; font-size:2.5vh; ">
                Probability
              </a>
            </li>
            
          </ul>                    
        </li>
      </ul>

      <!--C#-->
      <ul class="nav navbar-nav" >
        <li class="dropdown" appDropDown style="background-color:mediumspringgreen;">    
          <a class="nav-link dropdown-toggle" href (click)="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">         
            <span style="color:navy; font-size:2.5vh; cursor: pointer;">C#<span class='glyphicon caret'></span></span>
          </a>
          <ul class="dropdown-menu">                       
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/csharp-articles"]'  style="color:navy; font-size:2.5vh; ">
                Lang. Articles
              </a>
            </li>
            
          </ul>                    
        </li>
      </ul>


      <!--icons on right-->
      <!--
      <ul class="nav navbar-nav navbar-right" style="margin-right:2px;">       
        <li>
          <a href="https://twitter.com/GMFuster" target="_new">
            <img alt="Twitter"
                 src="assets/images/Twitter_Logo_Blue.svg" style="width:35px; height:35px;"
                 class="align-top" />
          </a>
        </li>
        <li>
          <a href="https://gmfuster.medium.com/" target="_new">
            <img alt="Medium"
                 src="assets/images/mediumLogo.png" style="width:35px; height:35px;"
                 class="align-top" />
          </a>
        </li>
        <li>
          <a href="https://www.freecodecamp.org/espanol/news/author/gemma/" target="_new">
            <img alt="FreeCodeCamp translated articles"
            src="assets/images/fcc_primary_small.svg" style="width:35px; height:35px;"
            class="align-top" />
          </a>
        </li>      
      </ul>-->
    </div>

  </div>
  
</nav>


<!--
<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>HomeApp</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/counter"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-education'></span> Counter
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Fetch data
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
    -->
