<div class="TopNav" style="margin:0px; border:0px; padding:0px; font-size:2vw; background-color: rgb(48, 46, 46)">

<nav class="navbar navbar-default navbar-fixed-top" >

  <div><!-- class="container-fluid-nav"-->
    
    <!--
    <div class="navbar-header"  >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target='.navbar-collapse' 
      [attr.aria-expanded]='isExpanded' (click)='toggle()' style="color:navy;">
        <span style="color:navy;" class="icon-bar"></span>
        <span style="color:navy;" class="icon-bar"></span>
        <span style="color:navy;" class="icon-bar"></span>
      </button>    
    </div>
    -->

    <div class='navbar-collapse' [ngClass]='{ "in": isExpanded }' ><!--style=" width: 75%;-->
      
      <ul class="nav navbar-navH">
        <!--<li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' style="border:3px pink solid">-->
        <li style=" margin:2px;">
          <a [routerLink]='["/"]' class="nav-link"  >  <!--(click)='collapse()'-->
            <img style="width:5.5vh; padding:0%; background-color: white; cursor: pointer; border-radius: 25%; " src="assets\images\jandmlaughingblue.svg" alt="Home" />
            <!--<span  style="font-size:2vh; padding: 0%;" class='glyphicon glyphicon-home'>Home</span>-->
          </a>
        </li>        
      </ul>    
      
      <ul class="nav navbar-nav"  >
        <li style="background-color:plum; margin:2px; ">    
          <a class="nav-link" [routerLink]='["/csharp"]' >         
            <span style="color:navy; cursor: pointer;">C#</span>
          </a>
        </li> 
      </ul> 

      <ul class="nav navbar-nav"  > 
        <li style="background-color:yellow; margin:2px;">    
          <a class="nav-link" [routerLink]='["/javascript"]' >         
            <span style="color:navy; cursor: pointer;">JS</span>
          </a>
        </li> 
      </ul> 

      
      <!--Angular-->
      <ul class="nav navbar-nav"  >        
        
        <li class="dropdown" style="background-color:lightcoral; margin:2px;" appDropDown >    
          <a class="nav-link dropdown-toggle" href (click)="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">         
            <span style="color:navy;  cursor: pointer;">A<span class='glyphicon caret'></span></span>
          </a>
          <ul class="dropdown-menu">                       
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes"]'  style="color:navy;font-size: 2vh;">
                Basics or Short
              </a>
            </li> 
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes-svc-routing"]'  style="color:navy;font-size: 2vh; ">
                Services & Routing
              </a>
            </li>  
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes-forms"]'  style="color:navy; font-size: 2vh; ">
               Forms
              </a>
            </li>    
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes-http"]'  style="color:navy;font-size: 2vh;  ">
               HTTP
              </a>
            </li>    
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes-auth"]'  style="color:navy;font-size: 2vh; ">
               Authorization
              </a>
            </li>   
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes-dynamic"]'  style="color:navy; font-size: 2vh; ">
               Dynamic Components
              </a>
            </li>     
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/angular-notes-modules"]'  style="color:navy;font-size: 2vh; ">
               Modules
              </a>
            </li>       
          </ul>                    
        </li>
      </ul>               

      <ul class="nav navbar-nav"  > 
        <li style="background-color:deeppink; margin:2px;">    
          <a class="nav-link" [routerLink]='["/sql"]' >         
            <span style="color:navy; cursor: pointer;">SQL</span>
          </a>
        </li> 
      </ul> 

      <!--OTHER-->
      <ul class="nav navbar-nav"  >                
        <li class="dropdown" style="background-color:aqua; margin:2px;" appDropDown >    
          <a class="nav-link dropdown-toggle" href (click)="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">         
            <span style="color:navy;  cursor: pointer;">More<span class='glyphicon caret'></span></span>
          </a>
          <ul class="dropdown-menu">                       
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/node"]'  style="color:green;font-size: 2.5vh; font-weight: bold; ">
               Node
              </a>
            </li> 
            <li  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/react-notes"]'  style="color:navy;font-size:2.5vh; font-weight: bold;">
                React
              </a>
            </li> 
          </ul>                    
        </li>
      </ul>          
      

      <ul class="nav navbar-nav" > 
        <li  style="background-color: lightblue; margin-left:1vw; margin-top: 2px;">    
          <a class="nav-link" href="/#kidsmath" >         
            <span style="color:navy; cursor: pointer;">Kids</span>
          </a>
        </li> 
      </ul> 

      <ul class="nav navbar-nav" style="float: right; margin-right: 10px;  caret-color: rgba(0,0,0,0); " (click)="scrollUp()"> 
        <li  style="background-color: hotpink; margin-top: 2px; color:navy;">    
          <a class="nav-link" >         
            <span style="color:navy; cursor: pointer;">&uparrow;</span>
          </a>
        </li> 
      </ul>       

    </div>

  </div>
  
</nav>

</div>
