<nav  class="navbar navbar-default navbar-expand navbar-dark fixed-top"><!--navbar-toggleable-xl-->
  <div class="container-fluid" style="color:lightyellow; background-color: teal; border:2px lightyellow solid">
      
      <a  class="navbar-brand nohover"  routerLink="/" >
        <img style="background-color:white; cursor: pointer; width:45px; height:45px; border-radius: 25%;"  src="assets\images\jandmlaughingblue.svg" alt="Home" />           
      </a>   

        <ul class="navbar-nav">   
          
          <li class="nav-item">    
            <a class="nav-link nohover" [routerLink]='["/angular"]' >         
              <span style="cursor: pointer;margin-right:4px; text-decoration: underline;">Angular</span> 
            </a>              
          </li> 

          <!--
          <li class="nav-item"> 
            <div class="dropdown" style="margin-right:4px;" dropdown >
              <a class="nav-link dropdown-toggle text-decoration-none nohover" style="color:lightyellow; cursor: pointer;" dropdownToggle>Angular</a> 
                <div class="dropdown-menu" style="background-color: darkcyan; color:white;" *dropdownMenu> 
                  <a class="dropdown-item nohover" [routerLink]='["/angular-notes"]'  >Basics or Short</a>
                  <a class="dropdown-item nohover" [routerLink]='["/angular-notes-svc-routing"]'>Services & Routing</a>
                  <a class="dropdown-item nohover" [routerLink]='["/angular-notes-forms"]' >Forms</a>
                  <a class="dropdown-item nohover" [routerLink]='["/angular-notes-http"]' >HTTP</a>
                  <a class="dropdown-item nohover" [routerLink]='["/angular-notes-auth"]'  >Authorization</a>
                  <a class="dropdown-item nohover" [routerLink]='["/angular-notes-dynamic"]'  >Dynamic Components</a>
                  <a class="dropdown-item nohover" [routerLink]='["/angular-notes-modules"]'  >Modules</a>
                  <a class="dropdown-item nohover" [routerLink]='["/angular-notes-somemore"]'  >Some More Examples</a>
                </div>
            </div>
            -->

            <!--
            <li class="nav-item">    
              <a class="nav-link nohover" [routerLink]='["/csharp"]' >         
                <span style="cursor: pointer;margin-right:4px; ">C#</span> 
              </a>              
            </li> 
            -->
    
            <!--<li class="nav-item">    
              <a class="nav-link nohover" [routerLink]='["/javascript"]' >         
                <span style="cursor: pointer; margin-right:4px;">JavaScript</span> 
              </a>
            </li> 
            <li class="nav-item">    
              <a class="nav-link nohover" [routerLink]='["/sql"]' >         
                <span style=" cursor: pointer; margin-right:4px;">SQL</span> 
              </a>
            </li> 
            
            

              <li class="nav-item"> 
                <div class="dropdown" style="margin-right:4px;"dropdown>
                  <a class="nav-link dropdown-toggle text-decoration-none nohover" style="color:lightyellow; cursor: pointer;"  dropdownToggle>More</a>
                    <div class="dropdown-menu" style="background-color: darkcyan; color:white;" *dropdownMenu>
                      <a class="dropdown-item nohover" [routerLink]='["/node"]'  >Node</a>-->
                      <!--<a class="dropdown-item nohover" [routerLink]='["/react-notes"]'>React</a>     
                      <a class="dropdown-item nohover" [routerLink]='["/git"]'>Git</a>     
                    </div>
                </div>      
              </li>    
            -->
              

              <li class="nav-item">    
                <a class="nav-link nohover" [routerLink]='["/kidsmath"]' >         
                  <span style="text-decoration:underline; padding:4px; border-radius: 10%;; cursor: pointer;">Kids Math k-2</span> 
                </a>
              </li> 
              
        </ul>

        <!--<div class="dropdown" dropdown >
          <a class="dropdown-toggle text-decoration-none nohover" style="color:lightyellow; cursor: pointer;" dropdownToggle>Angular</a>
            <div class="dropdown-menu" style="background-color: darkcyan; color:white;" *dropdownMenu>
              <a class="dropdown-item nohover" [routerLink]='["/angular-notes"]'  >Basics or Short</a>
              <a class="dropdown-item nohover" [routerLink]='["/angular-notes-svc-routing"]'>Services & Routing</a>
              <a class="dropdown-item nohover" [routerLink]='["/angular-notes-forms"]' >Forms</a>
              <a class="dropdown-item nohover" [routerLink]='["/angular-notes-http"]' >HTTP</a>
              <a class="dropdown-item nohover" [routerLink]='["/angular-notes-auth"]'  >Authorization</a>
              <a class="dropdown-item nohover" [routerLink]='["/angular-notes-dynamic"]'  >Dynamic Components</a>
              <a class="dropdown-item nohover" [routerLink]='["/angular-notes-modules"]'  >Modules</a>
            </div>
        </div>-->

                                       

      <ul class="navbar-nav"  >        
        <li (click)="scrollUp()"  style="background-color: hotpink; margin: 2px; color:navy; border-radius: 25%;">    
          <a class="nav-link nohover" >         
            <span style="color:navy; cursor: pointer;">&uparrow;</span>
          </a>
        </li> 
      </ul>   

  </div>  
</nav>


