
<div class="DescriptionSectionText ">
  <br />
  <!--
    <img style="height:30Vh; width:90vw;" src="assets/images/validdevices.svg" alt="valid devices computer tablet" />     <br />
    <br /><br />
    <img style="height:30Vh; width:85vw;" src="assets/images/someactivities.svg" alt="some activities require grown uptouch screen" />

           -->  
  <div>

    
    <div class="markClassCardWholeBlue">About</div>
    <div class="markClassCardContentBlue">
      Keeping some notes (no tutorials), programming related.  Feel free to send any suggestions/PRs.       <br/>
      Best on a computer while you are programming.<br/><br/>
      Some kid activities on <a href="https://gmfuster.github.io/Bonico/#/" target="_new">https://gmfuster.github.io/Bonico/#/</a><br /><br />
      Notes on <a href="https://gmfuster.medium.com/" target="_new">https://gmfuster.medium.com/</a><br />
      In Spanish (translations)  <a href="https://www.freecodecamp.org/espanol/news/author/gemma/" target="_new">FreeCodeCamp</a>
    </div>
    <br /><br />
    

    <!--<div class="markClassCardWholeBlue">Articles</div>-->
    <!--
    <div class="markClassCardContentBlue">          
      Notes on <a href="https://gmfuster.medium.com/" target="_new">https://gmfuster.medium.com/</a><br />
      Translations for FreeCodeCamp on <a href="https://www.freecodecamp.org/espanol/news/author/gemma/" target="_new">FreeCodeCamp Gemma</a>
    </div>
    <br /><br />-->
    
    <div class="markClassCardWholeBlue">Just for Fun</div>
    <div class="markClassCardContentBlue">     
      <!--<p style="border:3px solid deeppink; border-radius: 5px; width:100%; padding:3px; ">-->
        <p>
        <a [routerLink]='["/read-back"]'  >
          Read backwards here (from NYT because they did not require keys or anything)
        </a>
      </p>
      <p>
        <a [routerLink]='["/memory-cards"]'  >
          The old memory card game for 2 or 1.
        </a>
      </p>
      <br/>
    </div>
    <br /><br />

    <div class="markClassCardWholeBlue">Books</div>
    <div class="markClassCardContentBlue">
      Couple of books on Amazon (not related to the notes here).
      <div style="position:relative;">

        <div style="background:teal; margin:5vw; padding:4vh; border:5px double salmon; height:400px;">
          <div style="display:flex; flex-direction:row; justify-content:flex-end;">
            <a href="https://www.amazon.com/dp/B092V2CRNF/ref=cm_sw_em_r_mt_dp_5VRHWY06VPRX9RT2QNZ2" target="_new">
              <img style="border:3px solid navy; margin:3px;width:175px;  height:175px" src="assets/images/howdidyougetme.jpg" alt="How did you get me- Amazon" />
              <br />
              <img style="height:50px; width:50px;" src='assets/images/clickme.svg' alt="some activities require grown uptouch screen" />
            </a>

            <a margin="10px" href="https://www.amazon.com/dp/B08JF5KNK8/ref=cm_sw_em_r_mt_dp_KJKC4PN7CP3HR4Z33DJR" target="_new">
              <img style="border:3px solid navy; margin:3px;width:175px;  height:175px" src="assets/images/jonandhismomtalkabout.jpg" alt="Jon and his mom talk about - Amazon" />
              <br />
              <img style="height:50px; width:50px;" src='assets/images/clickme.svg' alt="some activities require grown uptouch screen" />
            </a>
          </div>
        </div>
        <br />
        <div style="position:absolute; bottom:0%;">
          <img style=" height:325px; width:85vw;" src='assets/images/wewrote.svg' alt="what we wrote" />
        </div>
        <br />
      </div>

      <br/>
      
    </div>

    <br /><br />
    


  </div>
  </div>



   
