.DescriptionSectionText {
  font-size: 4vh;
 
  margin-top: 10px;
  margin-bottom: 10px;  
  margin-left:6vw;
  margin-right:6vw;
}

.forBanner{
  width:95%;    
  display:flex;
  flex-direction: column;  
  justify-content: center; 
  background-color: deepskyblue;
  color:navy;
  font-weight: bold;  
  margin-top: 2.5vh;
  margin-bottom: 40px;
  box-sizing: border-box;
  /*font-size: 3vh;*/
  border-radius: 2%; 
}

.mainParagraph{  
  font-size: 3vw;
  text-align: center;
}


.mainImageAnimation {
  animation-duration: 2s;
  animation-name: mainImageAnimation;  
}

@keyframes mainImageAnimation {
  0% {    
    width:0%;
    height:0%  
  }
  100% {    
    width:45%;
    height:45%
  }  
}
