
<div class="DescriptionSectionText ">
  <br />
  <!--
    <img style="height:30Vh; width:90vw;" src="assets/images/validdevices.svg" alt="valid devices computer tablet" />     <br />
    <br /><br />
    <img style="height:30Vh; width:85vw;" src="assets/images/someactivities.svg" alt="some activities require grown uptouch screen" />

           -->  
  <div>

    
    <div class="markClassCardWholeBlue">About</div>
    <div class="markClassCardContentBlue">
      A place to keep track of useful notes.  Includes some programming languages and some math.  Feel free to send any suggestions/PRs (including for links to articles). 
      These are not tutorials.<br/><br/>     
      <strong>Intended use is to check out something you may need while programming so best on a computer.</strong><br/><br/>
      Some kids activities on <a href="https://gmfuster.github.io/Bonico/#/" target="_new">https://gmfuster.github.io/Bonico/#/</a><br /><br />
    </div>
    <br /><br />
    

    <div class="markClassCardWholeBlue">Articles</div>
    <div class="markClassCardContentBlue">    
      I have some articles that you can check here:<br/>
      Notes on <a href="https://gmfuster.medium.com/" target="_new">https://gmfuster.medium.com/</a><br />
      Translations for FreeCodeCamp on <a href="https://www.freecodecamp.org/espanol/news/author/gemma/" target="_new">FreeCodeCamp Gemma</a>
    </div>
    <br /><br />

    
    <div class="markClassCardWholeBlue">Books</div>
    <div class="markClassCardContentBlue">
      I wrote a couple of books because... why not? Everybody has to write a book, right?  Available in all Amazon stores, some also in Spanish.
      <div style="position:relative;">

        <div style="background:teal; margin:5vw; padding:4vh; border:5px double salmon; height:400px;">
          <div style="display:flex; flex-direction:row; justify-content:flex-end;">
            <a href="https://www.amazon.com/dp/B092V2CRNF/ref=cm_sw_em_r_mt_dp_5VRHWY06VPRX9RT2QNZ2" target="_new">
              <img style="border:3px solid navy; margin:3px;width:175px;  height:175px" src="assets/images/howdidyougetme.jpg" alt="How did you get me- Amazon" />
              <br />
              <img style="height:50px; width:50px;" src='assets/images/clickme.svg' alt="some activities require grown uptouch screen" />
            </a>

            <a margin="10px" href="https://www.amazon.com/dp/B08JF5KNK8/ref=cm_sw_em_r_mt_dp_KJKC4PN7CP3HR4Z33DJR" target="_new">
              <img style="border:3px solid navy; margin:3px;width:175px;  height:175px" src="assets/images/jonandhismomtalkabout.jpg" alt="Jon and his mom talk about - Amazon" />
              <br />
              <img style="height:50px; width:50px;" src='assets/images/clickme.svg' alt="some activities require grown uptouch screen" />
            </a>
          </div>
        </div>
        <br />
        <div style="position:absolute; bottom:0%;">
          <img style=" height:325px; width:85vw;" src='assets/images/wewrote.svg' alt="what we wrote" />
        </div>
        <br />
      </div>
    </div>
    <br /><br />
    


  </div>
  </div>



   
