.DescriptionSectionText {
  font-size: 4vh;
 
  margin-top: 10px;
  margin-bottom: 10px;  
  margin-left:6vw;
  margin-right:6vw;
}

.forBanner{
  width:90vw;
  /*height: 60vh;;*/
  text-align: center;
  background-color: darkcyan;
  border:salmon 5px double;
  margin-top: 2.5vh;
  margin-bottom: 40px;
}

.mainBanner{
  /*width:80vw;  
  height: 30vh;*/
  color:white;

  /*background: rgba(39, 191, 245, 0.30);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );    

  border-radius: 10px;;*/
}
.mainParagraph{  
  font-size: 3vw;
  text-align: center;
}


