.DescriptionSectionText {
  font-size: 4vh;
 
  margin-top: 10px;
  margin-bottom: 10px;  
  margin-left:6vw;
  margin-right:6vw;
}

.mainBanner{
  width:100%;  
  color:lightyellow;

  background: rgba(39, 191, 245, 0.30);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );    

  border-radius: 10px;;
}
.mainParagraph{
  
  font-size: 5vh;
  text-align: center;
}


