
  <div >       
    <div class="CenterMyContent">       
      <div class="forBanner" >          
        <div class="divsByRowCenter" style="color:aqua; font-size:3vw; background-color: black; padding:2vh; border:5px aqua solid">                           
            <!--<img style="width:30%; " src="assets/images/validdevices.svg" alt="valid devices computer and tablet " />-->
            <!--img style="width:70%; " src="assets/images/checkout.svg" alt="Kids Math" />-->
            {{welcome}}<br/><br/>
            {{programmingNotes}}<br/><br/>
            {{scrolldown}}<br/><br/>
            {{articles}}<br/><br/>
            <!--Check out <a href="https://gmfuster.github.io/Bonico/#/" target="_blank">Kindergarten (old, no updates).</a>-->          
          <!--<img style="width:30%; margin:5px;;" src="assets/images/validdevices.svg" alt="valid devices computer and tablet " />-->
        </div>             
      </div>      
    </div>       
  </div>



<div class="DescriptionSectionText ">
    <!--medium and fcc start-->
    <div class="divsByRowCenter" style="font-size: 3vw;" >  

      <div style="border:lightyellow solid 4px; width:25vw; text-align: center; margin:5px;">
        <a style="background-color: transparent;" href="https://gmfuster.medium.com/" target="_blank" >
        <span style=" padding: 5px;">Articles</span><br/>
        <img alt="Medium"
          src="assets/images/mediumLogo.png"
          style=" width:20vw; height:20vh;  "        
          class="rounded-circle d-inline-block align-top" />
        </a> 
      </div> 

      <div style="border:lightyellow solid 4px; width:25vw;text-align: center; margin:5px;">
      <a style="background-color: transparent;" href="https://www.freecodecamp.org/espanol/news/author/gemma/" target="_blank">
        <span style="padding: 5px;">Translations</span><br/>
        <img alt="freecodecamp"
          src="assets/images/fcc_primary_small.svg"
          style=" width:20vw; height:20vh;  "           
          class="rounded-circle d-inline-block align-top" />
        </a>       
    </div> 
  </div>   
    <!--medium and fcc End-->
    <br/><br/>

    
    <!--KIDS MATH-->  
    <p id="kidsmath"></p>  
    <div class="markClassCardWholeBlue">Kids Math (2nd)</div>
    <div class="markClassCardContentBlue">     
      <div style="position:relative;">
        <div style="background:teal; margin:0.5vw; padding:5px; border:5px double skyblue; min-height:400px;">
          <div style="display:flex; flex-direction:row; justify-content:flex-start; font-size:3vw;">

            <div  style="flex:1; border: white 2px solid; padding:5px; margin-right:6px; ">              
              <span style="color:darkblue"><u><em>Adding</em></u></span><br/>                    
              <a [routerLink]='["/concept"]'  style="color:white; ">
                Adding Concept
              </a><br/>
              <!-- comment out and replace with better way 
              <a [routerLink]='["/doubles"]'  style="color:white; ">
                Near Doubles
              </a><br/>
              -->
              <a [routerLink]='["/arrays"]'  style="color:salmon; ">
                Arrays
              </a>
              <br/>
              <a [routerLink]='["/add-splitting"]'  style="color:white; ">
                Add Spitting the Numbers
              </a>
              <br/>
              <a [routerLink]='["/carry1"]'  style="color:salmon; ">
                Carry 1
              </a>
            </div>

            <div style="flex:1;  border: deeppink 2px solid; padding:5px; margin-right:6px;">
              <span style="color:darkblue"><u><em>Counting</em></u></span><br/>

              <a [routerLink]='["/number-chart"]'  style="color:white; ">
               Numbers Chart
              </a><br/>
              <a [routerLink]='["/count-by"]'  style="color:salmon; ">
               Count By
              </a>
            </div>

            <div style="flex:1;  border: deepskyblue 2px solid; padding:5px; margin-right:6px;">
              <span style="color:darkblue"><u><em>Subtracting</em></u></span><br/>
              <a [routerLink]='["/subtract-to-10"]'  style="color:white; ">
               Subtract To 10
              </a>
              <br/>
              <a [routerLink]='["/subtallies"]'  style="color:salmon; ">
               Subtract with Tallies
              </a>
              <br/>
              <a [routerLink]='["/sub-count-up"]'  style="color:white; ">
               Subtract Counting Up
              </a>
            </div>

            <div style="flex:1; border: salmon 2px solid; padding:5px; margin-right:6px;">
              <span style="color:darkblue"><u><em>Other</em></u></span><br/>

              <a [routerLink]='["/balance-equation"]'  style="color:white;  ">
                Balance Equation
              </a>
              <a [routerLink]='["/plus-minus"]'  style="color:salmon;  ">
                Add or Subtract
              </a>
            </div>
         
        </div>
          
        </div>        
      </div>          
    </div> 

    <br/><br/>
    
    <!--BOOKS START-->
    <div class="markClassCardWholeBlue">Books</div>
    <div class="markClassCardContentBlue">     
      <div style="position:relative;  ">
        <div style="background:teal; margin:2vw; padding:2vh; border:5px double skyblue; ">
          <div style="display:flex; flex-direction:row; justify-content:flex-end;">
            <img style=" width:25vw;"  src='assets/images/wewrote.svg' alt="what we wrote" />

            <a href="https://www.amazon.com/dp/B09MZXWQH8/ref=cm_sw_em_r_mt_dp_6RXHBN5RMYVHNW0J3WHD" target="_new">
              <img style="border:3px solid navy; margin:3px; width:10vw;  height:10vw" src="assets/images/cover4.jpg" alt="I'm not enlightened but I'm getting there- Amazon" />
              <br />
              <img style="height:50px; width:50px;" src='assets/images/clickme.svg' alt="click it" />
            </a>

            <a href="https://www.amazon.com/dp/B092V2CRNF/ref=cm_sw_em_r_mt_dp_5VRHWY06VPRX9RT2QNZ2" target="_new">
              <img style="border:3px solid navy; margin:3px;  width:10vw;  height:10vw" src="assets/images/howdidyougetme.jpg" alt="How did you get me- Amazon" />
              <br />
              <img style="height:50px; width:50px;" src='assets/images/clickme.svg' alt="click it" />
            </a>

            <a margin="10px" href="https://www.amazon.com/dp/B08JF5KNK8/ref=cm_sw_em_r_mt_dp_KJKC4PN7CP3HR4Z33DJR" target="_new">
              <img style="border:3px solid navy; margin:3px; width:10vw;  height:10vw" src="assets/images/jonandhismomtalkabout.jpg" alt="Jon and his mom talk about - Amazon" />
              <br />
              <img style="height:50px; width:50px;" src='assets/images/clickme.svg' alt="click it" />
            </a>
          </div>
        </div>                
      </div>    
      <br/><br/>          
      <br/><br/>
    </div> 
    <!-- BOOKS END-->

    <br/><br/>
    <!--Links START-->    
    <div id="links"  class="markClassCardWholeBlue">LINKS</div>
    <div class="markClassCardContentBlue">     
      <div style="position:relative;">
        <div style="background:teal; margin:0.5vw; padding:5px; border:5px double skyblue; min-height:400px;">
          <div style="display:flex; flex-direction:row; justify-content:flex-start; font-size:3vw;">

            <div  style="flex:1; border: white 2px solid; padding:5px; margin-right:6px;">              
              <span><u><em>Programming</em></u></span><br/>
              <a href="https://replit.com/languages/nodejs" target="_blank">replit.com</a><br/>              
              <!--<a href="https://html.spec.whatwg.org/multipage/named-characters.html" target="_blank">Html chars</a><br/>-->
              <a href="https://codepen.io/pen/" target="_blank">codepen</a><br/>
              <a href="https://stackblitz.com/" target="_blank">stackblitz</a><br/>
              <a href="https://jsfiddle.net/" target="_blank">jsfiddle</a><br/>
              <a href="https://postman.com/" target="_blank">Postman</a><br/>        
              <a href="https://www.programiz.com/ " target="_blank">Progamiz(w/editors)</a><br/> 
              <a href="https://www.profileme.dev/" target="_blank">profileme</a><br/> 
              <a href="https://dotnetfiddle.net/" target="_blank">dotnetfiddle.net</a><br/> 
            </div>                     
         
        </div>
          
        </div>        
      </div>          
    </div> 
    <!--Links END-->


    <br/><br/>
    <!--Just For Fun-->
    <p id="coolstuff"></p> 
    <div class="markClassCardWholeBlue">Just for Fun</div>
    <div class="markClassCardContentBlue">  
      <br/>
      <div class="divsByRowCenter">  
        <a [routerLink]='["/read-back"]' style="border:lightyellow solid 4px;">
          <span style="height: 5vw; padding: 5px;">Read Like</span><br/>
          <img alt="Read"
            src="assets/images/readbackwards.svg"
            style="width:20vw; height:15vw; "
            margin="5px"
            class="rounded-circle d-inline-block align-top" />
          </a>  
<!--
          <a [routerLink]='["/map-it"]' style="border:lightyellow solid 4px;">
            <span style="height: 5vw; padding: 5px;">Some Maps</span><br/>
            <img alt="Maps"
              src="assets/images/seeitonmap.svg"
              style="width:20vw; height:15vw; "
              margin="5px"
              class="rounded-circle d-inline-block align-top" />
            </a>  
-->
            <a [routerLink]='["/memory-cards"]' style="border:lightyellow solid 4px;">
              <span style="height: 5vw; padding: 5px;">Memory Game</span><br/>
              <img alt="Memory Card Game"
                src="assets/images/memorycardgame.svg"
                style="width:20vw; height:15vw; "
                margin="5px"
                class="rounded-circle d-inline-block align-top" />
              </a>                              
         
      <br/>
    </div>
    <br />  
    <br/>
      
    </div>
    <br/><br/>
  </div>
  



   
