
<div class="imageContainer">

  <img class="imageStyle" src="assets\images\boyplaybeach.png" alt="boy at beach" />

  <!--
  <img class="mainImageAnimation" style= "position:absolute;  width:45%; height:45%; top:20%; left:0%; opacity:75" src="assets\images\learning.svg" alt="LEARNING" />
  <img class="mainImageAnimation" style="position:absolute; width:45%; height:45%;top:45%; left:25%; opacity:90" src="assets\images\is.svg" alt="IS" />
  <img class="mainImageAnimation" style="position:absolute;  width:45%; height:45%; top:35%; right:2%; opacity:75;" src="assets\images\fun.svg" alt="FUN" />
   -->

  <h1 style="position:absolute;  font-size:6vh; top:10%; left:10%; color:lightyellow">Learning,</h1>
  <h1 style="position:absolute;  font-size:6vh; top:25%; left:15%; color:lightyellow">data,</h1>
  <h1 style="position:absolute;  font-size:6vh; top:40%; left:20%; color:lightyellow">math,</h1>
  <h1 style="position:absolute;  font-size:6vh; top:55%; left:25%; color:lightyellow">programming...</h1>
  <h1 style="position:absolute;  font-size:6vh; top:70%; left:30%; color:lightyellow">so much fun!</h1>
  
</div>     
