<div class="PaddedContents">

    <br/>
    <h2 class="CenterMe">JavaScript notes - Async</h2>       
    <h4 class="CenterMe">You can type the JavaScript code  
      <a class="CenterMe" href="https://replit.com/languages/nodejs" target="_new">on replit.com</a> 
      to see how it works (it is nodejs but you can also choose JavaScript): <br/>   
    </h4>
  
    <br/>
  
    <div style="position:fixed; left:12px; top: 10vh; width:8vw; ">
      <p>
        <a  href="/javascript-notes-async/#create">Create Objs.</a>
      <p>        
        <a  href="/javascript-notes-async/#reference">Reference Types</a>      
      </p>       
      <p>        
        <a  href="/javascript-notes-async/#functions">Functions</a>      
      </p>  
      <p>
        <a  href="/javascript-notes-async/#classes">Classes</a>
      </p>
      <p>
        <a  href="/javascript-notes-async/#styles">Styles</a>
      </p>
    </div>
    
    <div class="PaddedContents">

        In JavaScript, everything is an object except primitive types. Even with primitive types, there is a way to create them as objects instead of just primitive types.
        <br/>
        In OOP we center the code around objects. OOP will provide encapsulation, abstraction, inheritance, and polymorphism.<br/>
        <b>Encapsulation:</b> Have methods with the data that they act upon, and hide the details from the outside.<br/>
        <b>Abstraction:</b> Hiding details from the object reduces complexity. Functions can use objects and their methods without having to know about how they work.<br/>
        <b>Inheritance:</b> You can take advantage of objects (or classes) that already perform what you need so you don’t have to reinvent the wheel.<br/>
        <b>Polymorphism:</b> Different classes (objects) can use the same interface. An example would be method overloading. The method name is the same, 
        but depending on the parameters passed to it will perform things a little different.<br/>


  
      <!-------------------------------------------------------------->
      <!--Create Objects-->
      <!-------------------------------------------------------------->
      <div id="create"></div><br/>
      <hr class="hrHeaderClass" />
          <h2 class="CenterMe">Create Objects</h2>
      <hr class="hrHeaderClass"/>
        
      We can create an object from a primitive type using New and the type.<br/>

      <div class="codeBlock">
        const num = 19;<br/>
        console.log(typeof(num));//number<br/>
        console.log (num === 19); //true<br/>
        <br/>
        const num2 = new Number(20);<br/>
        console.log(typeof(num2)); //object<br/>
        console.log (num === 20); //false<br/>
      </div>


  
    <!--<img width="100%" src="assets\images\js\promise1.png" alt="promise 1" /><br/><br/>-->

    

    <!-------------------------------------------------------------->
    <!--catch finally-->
    <!-------------------------------------------------------------->
    <div id="catch"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Catch-Finally</h2>
    <hr class="hrHeaderClass"/>

    


    <!-------------------------------------------------------------->
    <!--chains-->
    <!-------------------------------------------------------------->
    <div id="chains"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Chains</h2>
    <hr class="hrHeaderClass"/>

   


    <!-------------------------------------------------------------->
    <!--static functions-->
    <!-------------------------------------------------------------->
    <div id="static"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Static functions</h2>
    <hr class="hrHeaderClass"/>

    


    <!-------------------------------------------------------------->
    <!--Await-->
    <!-------------------------------------------------------------->
    <div id="await"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Await</h2>
    <hr class="hrHeaderClass"/>

   












    </div>    
</div>
    