<div class="PaddedContents">

    <br/>
    <h2 class="CenterMe">JavaScript notes - Async</h2>       
    <h4 class="CenterMe">You can type the JavaScript code  
      <a class="CenterMe" href="https://replit.com/languages/nodejs" target="_new">on replit.com</a> 
      to see how it works (it is nodejs but you can also choose JavaScript): <br/>   
    </h4>
  
    <br/>
  
    <div style="position:fixed; left:12px; top: 10vh; width:8vw; ">
      <p>
        <a  href="/javascript-notes-objects/#create">Create Objs.</a>
    </p>
      <p>
         <a  href="/javascript-notes-objects/#object">Object</a>
      </p>
      <p>        
        <a  href="/javascript-notes-objects/#reference">Reference Types</a>      
      </p>       
      <p>        
        <a  href="/javascript-notes-objects/#functions">Functions</a>      
      </p>  
      <p>
        <a  href="/javascript-notes-objects/#classes">Classes</a>
      </p>
      <p>
        <a  href="/javascript-notes-objects/#styles">Styles</a>
      </p>
    </div>
    
    <div class="PaddedContents">

        In JavaScript, everything is an object except primitive types. Even with primitive types, there is a way to create them as objects instead of just primitive types.
        <br/>
        In OOP we center the code around objects. OOP will provide encapsulation, abstraction, inheritance, and polymorphism.<br/>
        <b>Encapsulation:</b> Have methods with the data that they act upon, and hide the details from the outside.<br/>
        <b>Abstraction:</b> Hiding details from the object reduces complexity. Functions can use objects and their methods without having to know about how they work.<br/>
        <b>Inheritance:</b> You can take advantage of objects (or classes) that already perform what you need so you don’t have to reinvent the wheel.<br/>
        <b>Polymorphism:</b> Different classes (objects) can use the same interface. An example would be method overloading. The method name is the same, 
        but depending on the parameters passed to it will perform things a little different.<br/>


  
      <!-------------------------------------------------------------->
      <!--Create Objects-->
      <!-------------------------------------------------------------->
      <div id="create"></div><br/>
      <hr class="hrHeaderClass" />
          <h2 class="CenterMe">Create Objects</h2>
      <hr class="hrHeaderClass"/>
        
      We can create an object from a primitive type using New and the type.<br/>

      <div class="codeBlock">
        const num = 19;<br/>
        console.log(typeof(num));//number<br/>
        console.log (num === 19); //true<br/>
        <br/>
        const num2 = new Number(20);<br/>
        console.log(typeof(num2)); //object<br/>
        console.log (num === 20); //false<br/>
      </div>

      You can also create it directly, like this:<br/>
      <div class="codeBlock">
        //Create object this way<br/>
        let someObject = &lbrace;<br/>
           &nbsp;  property1:"prop1",<br/>
           &nbsp;  property2: "prop2"<br/>
        &rbrace;<br/>
        console.log(typeof(someObject));//object<br/>
        console.table(someObject);<br/>
      </div>
      This will not throw an error but undefined:  <div class="codeBlock">console.log(someObject.prop);//prop was not defined, shows undefined.</div> 
      You can have functions in there:<br/>

      <div class="codeBlock">
        const someObject = &lbrace;<br/>
            &nbsp;  prop1:function () &lbrace;console.log("I am 1");&rbrace;,<br/>
       }<br/>
       someObject.prop1;//will not do anything (not calling the function)<br/>
       <b>someObject.prop1();//prints "I am 1"</b><br/>
       let aux = someObject.prop1; // assign the function<br/>
       aux(); // prints "I am 1"<br/>
      </div>
      the name of the properties doesn't have to be hardcoded.  Here, the property name will be Jane:<br/>
      <div class="codeBlock">
        const propertyName = "Jane";<br/>
        //use [] to use the variable name<br/>
        const someObject = &lbrace;<br/>
            &nbsp;  [propertyName]:"hello"<br/>
        &rbrace;<br/>
        console.table(someObject);<br/>
      </div>
      And you can also do this:<br/>

    <div class="codeBlock">
        const someObject = &lbrace;<br/>
            &nbsp;  [2+2]:"hello"<br/>
       &rbrace;<br/>
       //access with [] notation.<br/>
       console.log(someObject[4]); //prints "hello"<br/>
       console.log(someObject[1+3]); // prints "hello"<br/>
    </div>  
    To add an additional property we just need to use it and it will be added.<br/>
    <div class="codeBlock">
        const someObject = &lbrace;<br/>
            &nbsp;   p1:"hello"<br/>
       &rbrace;<br/>
       someObject.p2 = "hello 2"<br/>
       console.table(someObject); <br/><br/>
       
       const someObject2 = &lbrace;<br/>
        &nbsp;     p1:"hello 1",<br/>
        &nbsp;    p2:"hello 2"<br/>
       &rbrace;<br/>
       delete someObject2.p2;<br/>
       console.table(someObject2); <br/>
    </div>
    We could also have created the above objects with:<br/>
    <div class="codeBlock">
        const anotherObject = new Object();<br/>
        anotherObject.p1 = "from new 1";<br/>
        anotherObject.p2 = "from new 2";<br/>
        console.table(anotherObject)<br/>
    </div>

    <!-------------------------------------------------------------->
    <!--Object-->
    <!-------------------------------------------------------------->
    <div id="object"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Object</h2>
    <hr class="hrHeaderClass"/>

    With the Object type we get the “values”, “entries”, and “keys” methods as shown below.<br/>
    <div class="codeBlock">
        const someObject = &lbrace;<br/>
            &nbsp;    p1:"hello 1",<br/>
            &nbsp;    p2:"hello 2"<br/>
       &rbrace;<br/>
       console.log(Object.values(someObject));//[ 'hello 1', 'hello 2' ]<br/>
       console.log(Object.keys(someObject));//[ 'p1', 'p2' ]<br/>
       console.log(Object.entries(someObject));//[ [ 'p1', 'hello 1' ], [ 'p2', 'hello 2' ] ]<br/>
    </div>
    When you create an object as a constant, the object variable itself will be a constant but the properties will not be.<br/>
    <div class="codeBlock">
        const someObject = &lbrace;<br/>
            &nbsp;  p1:"hello 1",<br/>
            &nbsp;  p2:"hello 2"<br/>
       &rbrace;<br/>
       const someObject2 = &lrarr;<br/>
        &nbsp;  p1:"hello 1",<br/>
        &nbsp;  p2:"hello 2"<br/>
       &rbrace;<br/>
       someObject2.p1 = "modifed"//will change it<br/>
       console.table(someObject2);<br/><br/>
       
       someObject = &lbrace;p1:"hey"&rbrace;;//error: assignment to constant<br/>
    </div>

    If you want the whole object to be a constant, you can do the following, which will not throw an error but will not change the property:<br/>
    <div class="codeBlock">
        const obj1 = Object.freeze(&lbrace;prop1: 'hey const 1', prop2: "hey const 2"&rbrace;);<br/>
        obj1.prop1 = "CHANGED IT";<br/>
        console.log(obj1.prop1);//prints "hey const 1"<br/>
    </div>
    We can also check whether an object has a property:<br/>
    <div class="codeBlock">
        const obj1 = &lbrace;<br/>
            &nbsp;    p1 : "I am 1",<br/>
            &nbsp;    p2 : "I am 2"<br/>
       &rbrace;<br/>
       console.log(obj1.hasOwnProperty("p3"));//false<br/>
       console.log(obj1.hasOwnProperty("p1"));//true<br/>
    </div>


    <!--<img width="100%" src="assets\images\js\promise1.png" alt="promise 1" /><br/><br/>-->

    
 <!-------------------------------------------------------------->
    <!--Reference-->
    <!-------------------------------------------------------------->
    <div id="reference"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Reference Types</h2>
    <hr class="hrHeaderClass"/>

    


    <!-------------------------------------------------------------->
    <!--chains-->
    <!-------------------------------------------------------------->
    <div id="chains"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Chains</h2>
    <hr class="hrHeaderClass"/>

   


    <!-------------------------------------------------------------->
    <!--static functions-->
    <!-------------------------------------------------------------->
    <div id="static"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Static functions</h2>
    <hr class="hrHeaderClass"/>

    


    <!-------------------------------------------------------------->
    <!--Await-->
    <!-------------------------------------------------------------->
    <div id="await"></div><br/>
    <hr class="hrHeaderClass" />
        <h2 class="CenterMe">Await</h2>
    <hr class="hrHeaderClass"/>

   












    </div>    
</div>
    