<div class="PaddedContents">

  <div className="CenterMe" >

    <div style="position:relative; display:grid; width:100vw; height: 85vh; grid-template-columns: 80vw 20vw;"> 
              
      <div style="display:grid; grid-template-columns: repeat(6, 1fr); grid-template-rows: 20vh 20vh 20vh 20vh;">
        <div class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[0]}} (click)="onImageClicked(0)" /></div>
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[1]}} (click)="onImageClicked(1)" /></div>
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[2]}} (click)="onImageClicked(2)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[3]}} (click)="onImageClicked(3)"/></div>
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[4]}} (click)="onImageClicked(4)"/></div>
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[5]}} (click)="onImageClicked(5)"/></div>   

        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[6]}} (click)="onImageClicked(6)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[7]}} (click)="onImageClicked(7)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[8]}} (click)="onImageClicked(8)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[9]}} (click)="onImageClicked(9)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[10]}} (click)="onImageClicked(10)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[11]}} (click)="onImageClicked(11)"/></div>  

        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[12]}} (click)="onImageClicked(12)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[13]}} (click)="onImageClicked(13)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[14]}} (click)="onImageClicked(14)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[15]}} (click)="onImageClicked(15)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[16]}} (click)="onImageClicked(16)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[17]}} (click)="onImageClicked(17)"/></div>  

        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[18]}} (click)="onImageClicked(18)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[19]}} (click)="onImageClicked(19)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[20]}} (click)="onImageClicked(20)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[21]}} (click)="onImageClicked(21)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%" src={{elementsForPicsAfterSorting[22]}} (click)="onImageClicked(22)"/></div>  
        <div  class="carImages"><img alt="car " width="100%" height="100%"src={{elementsForPicsAfterSorting[23]}} (click)="onImageClicked(23)"/></div>        
      </div>


      <div style="margin:2px">
        If 2 players, each player takes 1 turn.<br/>     
        <h2 style="color:blue">Player 1:</h2>
        <h2 style="color:blue">{{player1Score}}</h2>
        <h2 style="color:deeppink">Player 2:</h2>
        <h2 style="color:deeppink">{{player1Score}}</h2>
        <button className="buttonGeneral" click ="onPlayAgain()">Again</button>
      </div>
    </div>
  </div>    
</div>  