<div class="PaddedContents">

  <div className="CenterMe" >

    <div style="position:relative; display:grid; width:80vw; height: 75vh; grid-template-columns: 75vw 15vw; margin:5px; "> 
              
      <div style="display:grid; grid-template-columns: repeat(6, 1fr); margin-left: 5px;;">
        <img class="carImages" alt="car" style="width:9vw; " src={{picturesShown[0]}} (click)="onImageClicked(0)" />
        <img class="carImages" alt="car" style="width:9vw; "  src={{picturesShown[1]}} (click)="onImageClicked(1)" />
        <img class="carImages" alt="car" style="width:9vw; "  src={{picturesShown[2]}} (click)="onImageClicked(2)"/>
        <img class="carImages" alt="car" style="width:9vw; "  src={{picturesShown[3]}} (click)="onImageClicked(3)"/>
        <img class="carImages" alt="car" style="width:9vw; "  src={{picturesShown[4]}} (click)="onImageClicked(4)"/>
        <img class="carImages" alt="car" style="width:9vw; "  src={{picturesShown[5]}} (click)="onImageClicked(5)"/>

        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[6]}} (click)="onImageClicked(6)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[7]}} (click)="onImageClicked(7)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[8]}} (click)="onImageClicked(8)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[9]}} (click)="onImageClicked(9)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[10]}} (click)="onImageClicked(10)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[11]}} (click)="onImageClicked(11)"/>

        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[12]}} (click)="onImageClicked(12)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[13]}} (click)="onImageClicked(13)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[14]}} (click)="onImageClicked(14)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[15]}} (click)="onImageClicked(15)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[16]}} (click)="onImageClicked(16)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[17]}} (click)="onImageClicked(17)"/>

        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[18]}} (click)="onImageClicked(18)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[19]}} (click)="onImageClicked(19)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[20]}} (click)="onImageClicked(20)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[21]}} (click)="onImageClicked(21)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[22]}} (click)="onImageClicked(22)"/>
        <img class="carImages" alt="car " style="width:9vw; "  src={{picturesShown[23]}} (click)="onImageClicked(23)"/>
      </div>


      <div style="margin:5px">
        If 2 players, each player takes 1 turn.<br/>     
        <h3 style="color:rgb(12, 223, 223)"><u>Now Player: {{currentPlayer}}</u></h3>
        <h4 style="color:deepskyblue">Score Player 1:</h4>
        <h4 style="color:deepskyblue">{{player1Score}}</h4>
        <h4 style="color:deeppink">Score Player 2:</h4>
        <h4 style="color:deeppink">{{player2Score}}</h4>
        <button  (click) ="onPlayAgain()">Again</button>
      </div>
    </div>
  </div>    
</div>  