.title{
  /*background-color: rgb(189, 235, 233);*/
  background-color: darkslategray;
}
.desc{
  background-color: lightyellow;
  color: navy;
}

.reverse{
  transform: scale(-1, 1);
}
.upsideDown{
  transform: rotate(-180deg);;
}
.showOriginal{
  background-color: mediumaquamarine;
  font-size: 1vw;
  color: navy;
}

.carImages{
  border:2px solid navy;
  background-color:lightblue;  
}

.timesFont{
  font-family: 'Times New Roman', Times, serif;
}

