

 <div class="PaddedContents">

  <div style="position:fixed; left:12px; top: 10vh; width:5vw; ">
    <div class="radio-toolbar" >  
      <input type="radio" id="backwards" name="readingType" value="backwards" (click)="option='backwards'" [checked]="option==='backwards'"/>
      <label for="backwards"> &leftarrow;</label>
      <br/>
      <input type="radio" id="upsidedown" name="readingType" value="upsidedown" (click)="option='upsidedown'" [checked]="option==='upsidedown'" />
      <label for="upsidedown">&downarrow;</label>       
    </div>  
  </div>

  <div className="CenterMe" >          
    <div class="PaddedContents PaddedContentsTopics">
      <br/>      
      Direction to read with the arrows on the left. <br/>Have indication half way in case you want to change direction then.
      <br/>      

      <div *ngFor = "let item of titlesDescArray; let i=index;" class="timesFont"> 
        <div [ngClass]="option === 'backwards' ? 'reverse title' : 'upsideDown title' " *ngIf="item.title != ''">{{item.title}}</div>
        <div [ngClass]="option === 'backwards' ? 'reverse desc' : 'upsideDown desc' " *ngIf="item.desc != ''">
          {{item.desc}}
        </div><br/>
        <div class="showOriginal" *ngIf="item.title != ''">
          <span class="showOriginalTitle">{{item.title}}</span><br/>
          {{item.desc}}
        </div>                
        <br *ngIf ="i === halfArray"/>
        <div *ngIf ="i === halfArray" style="border: 3px solid deeppink; color:deeppink; background-color: lightcyan;" class="CenterMyContent" >
           HALF WAY
        </div>
        <br><br/>
      </div>     
    </div>                 
  </div>
</div>  