<div class="PaddedContents" style="margin-left: 25px;">
    <br/>
    <h1 class="CenterMe">Why is the sky blue?</h1>
    <hr class="hrHeaderClass" />

    The air is full of particles.  This also includes gases.  When the light from the sun reaches us, it faces all those particles. 
    The light of the sun looks white, but it really contains all the colors.  But different colors act in different ways.  The light from the sun (or any light)
    travels in waves.  There are different types of waves.<br/>
    The light, all colors, travel in a straight line until something happens.  A mirror will reflect it.  A prism will bend it.  Particles in the sky will scatter it.<br/>

    <img style="width:600px" src="assets\images\why\sunlight.png" alt="sunglight waves" /><br/>
    As the Sun gets lower in the sky at the end of the day, its light is passing through more of the atmosphere (air) to reach you. 
    Now even more of the blue light is scattered, so the reds and yellows go straight through to your eyes and you see the orange/gold and sometimes pink sky.<br/>
    Not all the planets have the same blue skys, because how the light is scattered will depend on the air around the planets.


    <br/><h1 class="CenterMe">So what makes the rainbow colors then?</h1>
    <hr class="hrHeaderClass" />
    We get a rainbow then there are water drops in the air.  Those drops work like the prism that separated the lights into the different colors.  And how wonderful they loo. 
    (See the "Why is the sky blue?" if you didn't read it.).
</div>