<div class="PaddedContents CenterMe" style="margin-left: 25px;">
    <br/><br/>
    
    <h1 >Why is the sky blue?</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/R-HbfrX5piY?si=D_LKbgj2Mfl_W2B7" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <br/><br/>
    <h1 >How do planes fly?</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/wduN6e1Vbnc?si=3894hwW0Tna7nPlR" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <br/><br/>
    <h1 >Wind, Thunder, and Lightning</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Hr4YCiHMHFY?si=rGP_Nb7NLAJZEzpp" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


    <br/><br/>
    <h1 >Parts of the plant</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T85bW8pS_74?si=WIEGHpifm-9y9Sqs" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <br/><br/>
    <h1 >Water Cycle</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I8V5OGQoXEE?si=2h5aotuI0B7bbPxJ" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


    <br/><br/>
    <h1 >Glow Sticks and Batteries</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ik2vdxhG9n0?si=0l8JUdYOcFvBxWGm" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <br/><br/>
    <h1 >Light and the Colors it Creates</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/S5N651aqm2A?si=8E3_RO7JjCWlpH-J" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>