

<div>        
  <div  class="PaddedContents" style="text-align: center; font-size: 3.5vw;" >
     
    <button (click)="getAnAddition()">Get an Addition</button><br/><br/>
    <div style="display:inline-block; width:50%;border:solid 4px salmon; padding-left:10px; padding-right:10px">
      {{number1}} + {{number2}}</div> 
      <br/><br/>
      <button (click)="seeTheResult()">See the Result</button><br/><br/>
      <div style="display:inline-block; width:50%;border:solid 4px salmon; padding-left:10px; padding-right:10px">
        {{splitUptheNumber}}</div> 
    

  </div>                  
</div> 
 