<div>        
 

  <div  class="divsByRowSpaceEvenly">

    <div class="divsByCol">

      <div style=" height:6vh; width: 40vw; text-align: center; ">
        <div style="user-select: none; font-size: 4vh; width:100%">
            <span  style="cursor:pointer; background-color:deeppink; padding:0px 0.5vw; border-radius: 50%; " (click) = "changeRows('-')">-</span>
            <span style="background-color:deeppink; display:inline-block; width:30vw;  " >ROWS :{{rows}}</span>
            <span  style="cursor:pointer; background-color:deeppink; padding:0px 0.5vw; border-radius: 50%;" (click) = "changeRows('+')">+</span>
        </div>      
      </div> 

      <div style=" width:40vw; text-align: center; ">                 
        <div class="forRowsOfTen" #boxForCells style="justify-content:center; height:60vh;">      
        </div> 
      </div>

    </div>


    <div class="divsByCol">

      <div style=" height:6vh;  text-align: center;">
        <div style="user-select: none;  display: inline-block; font-size: 4vh; ">
            <span  style="cursor:pointer; background-color:deepskyblue; border-radius: 50%;padding:0px 0.5vw; " (click) = "changeColumns('-')">-</span>
            <span style="background-color:deepskyblue; display:inline-block;  width:30vw;"  >COLUMNS :{{columns}}</span>
            <span  style="cursor:pointer; background-color:deepskyblue; border-radius: 50%; padding:0px 0.5vw;" (click) = "changeColumns('+')">+</span>
        </div>        
      </div> 

      <div style=" width:40vw; text-align: left; margin-left: 5vw; font-size: 3vh;; ">
        <div style="width:50vw; display:inline-block; height:10vh;">
          <button class="doubleButtonsLikeDeepSkyBlue" (click) = "showThemNow()">Show</button><button class="doubleButtonsLikePink" (click) = "resetThemNow()">Reset</button>
        </div> 
        Rows:{{stringForAddingRows}}<br/>
        Columns:{{stringForAddingColumns}}<br/>
        Result: {{result}}
      </div>

    </div>

  </div>         
  

</div> 
 