
     
  <div  class="PaddedContents" style="text-align:center;font-size: 2vw;" >

    <div style="width:80%; height:65vh; margin:auto; ">    
      <div style="display:flex; flex-direction: row ;">
        <!--You try, then see if you did it right ( {{firstNumber}} + {{secondNumber}} )<br/>-->
        <button  (click)="getNumbers()">Numbers!</button> &nbsp;<button  (click)="checkResult()">Check!</button> <br/>      
      </div>      
      <br/>
      <!-- Created with Inkscape (http://www.inkscape.org/) -->
<svg
style="height:50vh"
viewBox="0 0 210 297"
version="1.1"
id="svg5"
xmlns="http://www.w3.org/2000/svg"
xmlns:svg="http://www.w3.org/2000/svg">
<defs
id="defs2">
<rect
  x="388.46236"
  y="75.674487"
  width="62.221245"
  height="79.037797"
  id="rect2921" />
<rect
  x="388.46237"
  y="75.674484"
  width="62.221245"
  height="79.037796"
  id="rect2921-1" />
<rect
  x="388.46237"
  y="75.674484"
  width="62.221245"
  height="79.037796"
  id="rect2921-1-7" />
<rect
  x="388.46237"
  y="75.674484"
  width="62.221245"
  height="79.037796"
  id="rect2921-1-2" />
<rect
  x="388.46237"
  y="75.674484"
  width="62.221245"
  height="79.037796"
  id="rect2921-1-20" />
<rect
  x="388.46237"
  y="75.674484"
  width="62.221245"
  height="79.037796"
  id="rect2921-1-6" />
<rect
  x="388.46237"
  y="75.674484"
  width="62.221245"
  height="79.037796"
  id="rect2921-1-0" />
<rect
  x="388.46237"
  y="75.674484"
  width="62.221245"
  height="79.037796"
  id="rect2921-1-6-8" />
</defs>
<g
id="layer1">
<rect
  style="fill:none;stroke:#17eaee;stroke-width:1.5882;stroke-opacity:1"
  id="rect184"
  width="45.350533"
  height="63.148052"
  x="78.804634"
  y="54.521469" />
<rect
  style="fill:none;stroke:#17eaee;stroke-width:1.5882;stroke-opacity:1"
  id="rect184-2"
  width="45.350533"
  height="63.148052"
  x="133.75438"
  y="54.521469" />
<rect
  style="fill:none;stroke:#17eaee;stroke-width:1.5882;stroke-opacity:1"
  id="rect184-7"
  width="45.350533"
  height="63.148052"
  x="78.582161"
  y="126.37895" />
<rect
  style="fill:none;stroke:#17eaee;stroke-width:1.5882;stroke-opacity:1"
  id="rect184-5"
  width="45.350533"
  height="63.148052"
  x="133.75438"
  y="126.37895" />
<rect
  style="fill:#17eaee;fill-opacity:1;stroke:#17eaee;stroke-width:2.24272;stroke-opacity:1"
  id="rect1935"
  width="203.09393"
  height="7.7661653"
  x="3.235925"
  y="195.89404" />
<rect
  style="fill:none;stroke:#17eaee;stroke-width:0.838333;stroke-opacity:1"
  id="rect184-9"
  width="23.408566"
  height="34.087074"
  x="99.406738"
  y="14.769526" />
<g
  id="g2057"
  transform="matrix(0.81111871,0,0,0.83313943,-30.528329,-62.688368)">
 <rect
    style="fill:#17eaee;fill-opacity:1;stroke:#17eaee;stroke-width:1.48434;stroke-opacity:1"
    id="rect1935-6"
    width="81.049438"
    height="8.5245438"
    x="44.013496"
    y="238.67384" />
 <rect
    style="fill:#17eaee;fill-opacity:1;stroke:#17eaee;stroke-width:1.48434;stroke-opacity:1"
    id="rect1935-6-5"
    width="81.049438"
    height="8.5245438"
    x="206.16019"
    y="-89.54364"
    transform="rotate(90.172516)" />
</g>
<rect
  style="fill:#17eaee;fill-opacity:1;stroke:#17eaee;stroke-width:0.835569;stroke-opacity:1"
  id="rect1935-8"
  width="284.14465"
  height="0.7705037"
  x="-288.86264"
  y="128.84976"
  transform="matrix(-1.3344758e-4,-0.99999999,0.99999899,-0.00141801,0,0)" />
<rect
  style="fill:none;stroke:#17ee79;stroke-width:1.5882;stroke-opacity:1"
  id="rect184-29"
  width="45.350533"
  height="63.148052"
  x="77.880714"
  y="212.69691" />
<rect
  style="fill:none;stroke:#17ee79;stroke-width:1.5882;stroke-opacity:1"
  id="rect184-29-6"
  width="45.350533"
  height="63.148052"
  x="133.49796"
  y="213.58679" />
<text
  xml:space="preserve"
  transform="matrix(0.80160025,0,0,0.61529212,-211.52698,-29.104394)"
  id="text2919"
  style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2921);display:inline;fill:#4be92c;fill-opacity:1;stroke:none"><tspan
    x="388.46289"
    y="112.16704"
    id="tspan5869">{{carry1string}}</tspan></text>
<text
  xml:space="preserve"
  transform="matrix(1.3951452,0,0,1.1794758,-458.6279,-30.996671)"
  id="text2919-6"
  style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2921-1);display:inline;fill:#fb880c;fill-opacity:1;stroke:none"><tspan
    x="388.46289"
    y="112.16704"
    id="tspan5871">{{firstNumberFirstDigitString}}</tspan></text>
<text
  xml:space="preserve"
  transform="matrix(1.3951452,0,0,1.1794758,-404.79933,-31.587068)"
  id="text2919-6-8"
  style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2921-1-7);display:inline;fill:#fb880c;fill-opacity:1;stroke:none"><tspan
    x="388.46289"
    y="112.16704"
    id="tspan5873">{{firstNumberSecondDigitString}}</tspan></text>
<text
  xml:space="preserve"
  transform="matrix(1.3951452,0,0,1.1794758,-458.19188,41.827693)"
  id="text2919-6-81"
  style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2921-1-2);display:inline;fill:#fa0b6f;fill-opacity:1;stroke:none"><tspan
    x="388.46289"
    y="112.16704"
    id="tspan5875">{{secondNumberFirstDigitString}}</tspan></text>
<text
  xml:space="preserve"
  transform="matrix(1.3951452,0,0,1.1794758,-403.46452,41.382756)"
  id="text2919-6-0"
  style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2921-1-20);display:inline;fill:#fa0b6f;fill-opacity:1;stroke:none"><tspan
    x="388.46289"
    y="112.16704"
    id="tspan5877">{{secondNumberSecondDigitString}}</tspan></text>
<text
  xml:space="preserve"
  transform="matrix(1.3951452,0,0,1.1794758,-459.5267,126.36591)"
  id="text2919-6-07"
  style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2921-1-6);display:inline;fill:#17ee79;fill-opacity:1;stroke:none"><tspan
    x="388.46289"
    y="112.16704"
    id="tspan5879">{{resultNumberFirstDigitString}}</tspan></text>
<text
  xml:space="preserve"
  transform="matrix(1.3951452,0,0,1.1794758,-404.35439,126.81084)"
  id="text2919-6-3"
  style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2921-1-0);display:inline;fill:#17ee79;fill-opacity:1;stroke:none"><tspan
    x="388.46289"
    y="112.16704"
    id="tspan5881">{{resultNumberSecondDigitString}}</tspan></text>
<rect
  style="fill:none;stroke:#17ee79;stroke-width:1.5882;stroke-opacity:1"
  id="rect184-29-6-5"
  width="45.350533"
  height="63.148052"
  x="24.93309"
  y="212.69691" />
<text
  xml:space="preserve"
  transform="matrix(1.3951452,0,0,1.1794758,-509.77744,125.97428)"
  id="text2919-6-07-4"
  style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;white-space:pre;shape-inside:url(#rect2921-1-6-8);display:inline;fill:#17ee79;fill-opacity:1;stroke:none"><tspan
    x="388.46289"
    y="112.16704"
    id="tspan5883">{{resultNumber0DigitDigitString}}</tspan></text>
</g>
</svg>
      

    </div>




  </div>    

 