
<div class="PaddedContents">  

  <br/>  
  
  <div >
    
    <p class="HeadingSubTopic" id="general">General</p>
       
    Used like REST APIs only more flexible.  With this one you have one entry point, which is a post, and you pass the type of query you want to 
    perform.  That way you can be more flexible with the data you are requesting.  Kind of like an SQL query but to the API.<br/>
    npm install --save graphql express-graphql 
    <br/>
    <br/>
    Explore syntax for the different languages (express, etc) on <a href="https://graphql.org/" target="_new">graphql.org</a>
    <br/><br/>
    To check for the different languages, go to <a href="https://graphql.org/code/" target="_new">graphql.org/code</a>
    <br/><br/>
    <b>I will not be adding notes here, since I want to do this for c#.  So I'll be adding the notes to the c# section.</b>





  </div>
  
</div> 
