
<div class="PaddedContents">

  <div class="leftLinks" #HeadingsContainer>      
    <left-links ></left-links>      
  </div>  

  <br/>  
  
  <div class="PaddedContents PaddedContentsTopics">
    
    <p class="HeadingSubTopic" id="general">General</p>
    This is a package you can install to help you with your node project. (npm install express, or npm install --save express<br/>
    Once installed, you have a "express": "^4.17.3", under your dependencies in your packagage.json file.  If your project doesn't have a packagage.json file, 
    you can create one or copy it from somewhere else and clean it up, then run the install again and it will be updated.<br/>
    Then use it with <b>const express = require('express');</b><br/>
    Then you can do <b>const app = express();</b> and then create the server with it <b>const server = http.createServer(app);</b>
    With the above we have a functioning server but we don't have how to respond to requests yet.<br/>
    You would do something like this to add that:<br/>
    <pre>
      <code>
        const app = express();

        app.use( (req, res, next) => &lbrace;
          console.log("hello") ;
          next(); //it will move on to the next instruction below
        &rbrace; );

        app.use( (req, res, next) => &lbrace;
          console.log("AFTER NEXT") ;    
        &rbrace; );

        const server = http.createServer(app);
        server.listen(3000);
      </code>
    </pre>
    Express will not send a default response. Instead of logging in the console (which shows in your server console not the browser), we could 
    have done <code> res.send("&lt;h2&gt;Hello how are you&lt;/h2&gt;");</code> We get the default html/text but we can override it with res.setHeader.<br/>
    Notice in the code above we have <code>const server = http.createServer(app); </code> and <code>server.listen(3000);</code><br/>
    We can also do just this instead of those 2 above: <code>app.listen(3000);</code>
    <b>Remember that if we don't have a next() in the code, the next app.use is not going to happen, but, if we are using paths the code will be checked 
    from top to bottom to see which use to use. </b><br/>
    Bellow, entering localhost:3000/sayhi will return HI, localhost:3000/sayhello will return HELLO, and entering <b>nothing or anything else</b> will return ANYTHING.
    <br/><br/>
    <pre>
      <code>
        const app = express();

        app.use(<b> "/sayhi"</b>, (req, res, next) => &lbrace;    
          res.send("&lt;h2&gt;HI&lt;/h2&gt;");
        &rbrace; );

        app.use(<b>"/sayhello"</b>, (req, res, next) => &lbrace;
          res.send("&lt;h2>HELLO!&lt;&gt;h2>");
        &rbrace; );

        app.use( <b>"/"</b>, (req, res, next) => &lbrace;
          res.send("&lt;h2>ANYTHING!&lt;&gt;h2>");
        &rbrace; );

        app.listen(3000);
      </code>
    </pre>
    Look also at this code which will not work OK.
    <br/> <b>Some of the code here has the / path at the start, that is not the right way, it's just to see the examples</b><br/>
    <pre>
      <code>
        const http = require("http");
        const express = require('express');

        const app = express();

        //For localhost on the browser.  we will end up with "anything" in the console.  
        //And the ANYTHING response in the browser. 
        //if localhost/sayhi, we see "anything" in the console, then we see "sayhi" in the console, 
        //but then we get a <b>"cannot set headers after they are sent to the client" error.</b>
        //<b>Because we have the / path at the beginning it's going to match it even for localhost/sayhi</b>
        app.use( "/", (req, res, next) => &lbrace;
          console.log("anything");
          res.send("&lt;h2&gt;ANYTHING!&lt;/h2&gt;");
          next(); 
        &rbrace; );


        app.use( "/sayhi", (req, res, next) => &lbrace;
          console.log("sayhi");
          res.send("&lt;h2&gt;HI&lt;/h2&gt;");
          next();
        &rbrace; );

        app.use("/sayhello", (req, res, next) => &lbrace;
          console.log("sayhello");
          res.send("&lt;h2&gt;HELLO!&lt;/h2&gt;");
        &rbrace; );

        app.listen(3000);
      </code>
    </pre>    
    With the res.send on the / path commented out, by doing localhost/sayhi we get "anything" and "sayhi" in the console, and the HI in the browser.  So both 
    the / and the sayhi paths will happen, but we don't have a send on the / path so this doesn't break.<br/><br/>

    Now I want to try having 2 /sayhi ones, though only the second one will send a response.<br/>
    <pre>
      <code>
        const http = require("http");
        const express = require('express');

        const app = express();       
        
        app.use( "/", (req, res, next) => &lbrace;
          console.log("anything"); //NO SEND HERE        
          next(); 
        &rbrace; );


        app.use( "/sayhi", (req, res, next) => &lbrace;
          console.log("sayhi");
          //NO SEND
          next();
        &rbrace; );

        app.use( "/sayhi", (req, res, next) => &lbrace;
          console.log("sayhi 2nd");
          res.send("&lt;h2&gt;HI 2ND&lt;/h2&gt;");
          next();
        &rbrace; );

        app.use("/sayhello", (req, res, next) => &lbrace;
          console.log("sayhello");
          res.send("&lt;h2&gt;HELLO!&lt;/h2&gt;");
        &rbrace; );

        app.listen(3000);
      </code>
    </pre>
    In the above code, still doing localhost/sayhi,  the console will show:
    <pre>
      <samp>
        anything
        sayhi
        sayhi 2nd
      </samp>
    </pre>
    And the browser will have HI 2ND.  Doing localhost with the code above will print "anything" in the console and error GET on the browser.<br/>    
  
  
    Similar to the above code but not having the next in the first sayhi:
    <pre>
      <code>
       app.use( "/sayhi", (req, res, next) => &lbrace;
         console.log("sayhi");        
       &rbrace; );
 
       app.use( "/sayhi", (req, res, next) => &lbrace;
         console.log("sayhi2");
         res.send("&lt;h2&gt;HI&lt;/h2&gt;");
         next();
       &rbrace; );
      </code>
    </pre>
    The above code will print only sayhi and will leave the browser hanging because we are not sending anything back after printing sayhi 
    (no next() after the first sayhi either so it's not going to the second sayhi).
    <br/><br/>
    <b>It is best to leave the "/" path for the end.  The above was just to see what happens.  Put it as the last one!!</b>

    <b>Keep in mind when we do next() next() next() it still has to match the url provided to get in the app.use</b>
    <p class="HeadingSubTopic" id="Incoming-Req">Parsing Incoming Requests</p>

    We can send html code in a response.  And with that we can send an action to be taking from that code.
    <pre>
      <code>
        const http = require("http");        
        const express = require('express');

        const app = express();

        app.use( "/", (req, res, next) => &lbrace;            
          res.send("&lt;html&gt;&lt;form <b>action='hello' method='GET'</b>&gt;&lt;button&gt;here&lt;/button&gt;&lt;/form&gt;&lt;/html&gt;")
          next(); 
        &rbrace; );
      </code>
    </pre>
    Then you can have an action for the hello, that redirects somewhere else.  In this case, clicking on the button will go to hello which will redirect to sayhi.
    <pre>
      <code>
        app.use( "/", (req, res, next) => &lbrace;
          next(); 
        &rbrace; );

        app.use( "/hey", (req,res, next) => &lbrace;
          res.send('...form action="/hello" method="GET"... as above')
        &rbrace;)

        app.use( "/hello", (req, res, next) => &lbrace;
          res.<b>redirect("sayhi");</b>
        &rbrace; );

        app.use( "/sayhi", (req, res, next) => &lbrace;
          res.send("whatever");     
        &rbrace; );
      </code>
    </pre>
    req with express comes with a body, but, <b>if we don't do any parsing to it, it's just undefined.</b><br/>
    To parse there is an additional tool that can be installed:  <b>npm install --save body-parser</b>. You may not need to install it if the version 
    of Express you are using already has it included.  Before use, include it with <b>const bodyParser = require("body-parser")</b><br/>
    You may need different parsers depending on the type of body you are getting.  For the above, add this to the top of the file (before the app.use routing statements).
    <b>app.use(bodyParser.urlencoded());</b>  Note that the urlencoded is used with request from forms.  You can also use the bodyParser without that urlencoded part.<br/>
    Once you have that, you can log req.body on your routing app.use and you will see the contents. 
    Note: You may get a "body-parser deprecated bodyParser: use individual json/urlencoded middlewares".  You can also do:
    app.use(bodyParser.urlencoded(&lbrace;extended:false&rbrace;));<br/>
    You can also just use the json parser from express: <b>app.use(express.json())</b>  Also has it for forms (app.use(express.urlencoded(&lbrace; extended: true &rbrace;));)
    

    <p class="HeadingSubTopic" id="Request-Types">Differentiate between types of requests - methods GET POST etc</p>
    If you have a route that is only for GET requests, you can use <b>app.get</b> instead of app.use (the rest is the same). Same thing for POST, use <b>app.post.</b>
    
    <p class="HeadingSubTopic" id="Paths">Express - Paths</p>

    With express we can move our routing to another file (routes or whatever you want to name it). To do that, in those new files import also Express (require('express'))
    and then make use of its router <b>const router.express.Router()</b>.<br/>
    Once you do that, you should have statements similar to the ones you have with app.use (or app.get and app.post) but instead of app.use you will use router.use.<br/>
    <pre>
      <code>
        const express = require('express');

        const router = express.Router();

        router.use ( '/add', (req,res, next) => &lbrace;
          res.send('whatever ');
        &rbrace;);

        //at the end
        module.exports = router;
      </code>
    </pre>
    Now you can import it in your main file <b>const routes = require ('./whateverpath/whateverfilewiththeroutes');</b> and then <b>app.use(routes)</b><br/>
    You can also add something like this at the end (or redirect to a 404 page):
    <pre>
      <code>
        app.use (   (req, res, next) => &lbrace;
          res.send('&lt;h2&gt;oops, I don't know where that is&lt;/h2&gt;');
        &rbrace;);
        ///or could also send the code with res.status(404).send(...)
      </code>
    </pre>

    <p class="HeadingSubTopic2">Express - Filtering Paths</p>
    It's possible to have the same path for 2 different statements, like if we have <b>app.get("/theFolder/thepath")</b> and 
    <b>app.post("/theFolder/thepath")</b>.  If that is the case,
    and we have those in a specific file <b>theFile</b>.  We can do this in the main file:
    <pre>
      <code>
        //in main file (happens first)
        <b>//only routes starting with thefolder will go into the routes in theFile.</b>
        <b>//Also, we don't need to include "theFolder" in the paths in theFile because Express will remove it.</b>
        <b>app.use("/thefolder", theFile); </b>
      </code>
    </pre>
    Just to clarify, this is just to organize things around, so the paths that are in the same route (both with theFolder) can be in the same file.  Because 
    in that file we don't have the theFolder because Express already knows that, and we don't want other "thepath" paths to also go to those, we indicate that only the ones 
    with theFolder will go into that file that has those that we moved there to be more organized.


    <p class="HeadingSubTopic" id="HTML">Express - HTML</p>
    
    We can have html files that we can serve from nodejs. To serve pages we need to provide the absolute path, and for that we need to use a nodejs package (
      const path =require("path");
    ).
    You have to send the html with res.sendFile, which takes an absolute path.
    <pre>
      <code>
        //this will work
        res.sendFile( "C:\\YOURDIR\\viewsorwhatver\\shop.html");

        //or even better
        const path =require("path");
        //__dirname will be where the file with this code is, in this case, YOURDIR.
        res.sendFile(path.join(__dirname, "viewsorwhatver", "shop.html")); //pay attention to the parenthesis if you get an error!!

        //if you need to go up a level or something:
        res.sendFile(path.join(__dirname, "../", "viewsorwhatver", "shop.html"));
        //even better
        res.sendFile(path.join(__dirname, "..", "viewsorwhatver", "shop.html"));        
      </code>
    </pre>
    For the same thing you could also do:
    <pre>
      <code>
        //you can also create a new file path.js which has a 

        const path = require("path");

        /get the directory of the main module
        module.exports = path.dirname(process.mainModule.filename);
        //or module.exports = path.dirname(require.main.filename);


        //then import this file whereever you want to use the sendFile and then 
        const rootDir = require("thePathToTheFileAboveWithFileNameWithoutJSExt");
        res.sendFile(path.join(rootDir, "views", "shop.html"));
      </code>
    </pre>


    <p class="HeadingSubTopic" id="Static-Files">Serving Files Statically</p>

    If you need your html files (that you are sending back) to use css files, the convention if to create a public folder under your server root, and in there you can 
    have a css folder.  Other files are not going to be accessible directly through the url.  for the public folder, you want to make an exception.  These files in public 
    we need to be able to serve statically.  In your nodejs file:
    <pre>
      <code>
        const express = require('express');
        //grant static READ ONLY access to the specific public folder
        <b>app.use(express.static((path.join(__dirname, "public")));</b>

        //then your path in your html file should "pretend" you are already in the public folder.
        //in my case, I have a views folder with the htmls, and the public folder has a css folder with the css files.
        &lt;link rel="stylesheet" href="/css/main.css"  &gt;

        //if you check the network info, you will see this for main.css 
        http://localhost:yourport#/css/main.css
      </code>
    </pre>
    Do the same for images or whatever other files you need to accecss statically.

    <p class="HeadingSubTopic" id="Modules">A Bit More Info on Modules</p>

    A module is a piece of code, function or object, that you can import in another piece of code (file). If you are in a file you can do 
    console.log(module) to see what modules you have in that file at the time (you can see what modules you are using).<br/>
    <pre>
      <samp>
        For a module from another file you are using in your file, it would look something like this.
        Module &lbrace;
          id: 'c:\\source\\NODE\\fornode2.js',
          path: 'c:\\source\\NODE',
          <b>exports: &lbrace; f1: [Function: f1func] &rbrace;,</b>
          parent: [Circular *1],
          filename: 'c:\\source\\NODE\\fornode2.js',
          loaded: true,
          children: [],
          paths: [Array]
        &lbrace;

        For the file where you are it could be like this:
        Module &lbrace;
          id: '.',
          path: 'c:\\source\\NODE',
          <b>exports: &lbrace;&rbrace;,</b>
          parent: null,
          filename: 'c:\\source\\NODE\\fornode.js',
          loaded: true,
          children: [
            Module &lbrace;...
      </samp>
    </pre>
    Notice that the fornode2.js has some info on the exports array.  If I call the function and have the console.log(module) in that fornode2.js I get this:<br/>
    To use a function from fornode2 in fornode.js you are requiring the whole file, not the specific function <b>const fornode2 = require("./fornode2");</b>
    <pre>
      <samp>
        Module &lbrace;
          <b>id: 'c:\\source\\NODE\\fornode2.js',</b>
          path: 'c:\\source\\NODE',
          exports: &lbrace; f1: [Function: f1func] &rbrace;,
          <b>parent: Module &lbrace;</b>
            id: '.',
            path: 'c:\\source\\NODE',
            <b>exports: &lbrace;&rbrace;,</b>
            parent: null,
            filename: 'c:\\source\\NODE\\fornode.js',
            loaded: true,
            children: [ [Module], [Circular *1], [Module] ],
            paths: [
              ...            
      </samp>
    </pre>
    There is something in the exports of the fornode2 because this is what I have on that file:
    <pre>
      <code>
        function f1func()&lbrace;
          console.log(module);
          return "I am f1";
        &rbrace;            
        module.exports.f1 = f1func;      
      </code>
    </pre>
   Could also have <b>module.exports = &lbrace;f1func&rbrace;;</b> and call as fornode2.f1func();<br/>  To import both, do <b>module.exports = &lbrace;f1func, f2func&rbrace;</b>
   Remember with the exports.somename = &lbrace;function or object you want to export&rbrace; you can export different things and you can access them with those names.

    <p class="HeadingSubTopic" id="Data-Sharing-As-Global">Sharing Data Across Requests - As Global</p>
    One way to share data is by having an object to store it in your file, and use it in your other file.  <b>Kind of like a global variable which is almost never a good 
    idea :-).</b>  Pay attention though to what you are actually exporting and where and how it gets changed!<br/>
    Using function on the fornode2. If I have code like this:
    <pre>
      <code>
        //in fornode2.
        ImGlobal = &lbrace; name:"James", car: "Aston Martin"&rbrace;
        //then the functions
        module.exports.theGlobal = ImGlobal;

        //in fornode.
        console.log(fornode2.theGlobal);

        //I will get the object in the console of fornode.
      </code>
    </pre>
    <pre>
      <code>
        // in fornode2
        var ImGlobal = null;

        //then set in the the function that will be called from fornode.

        module.exports.theGlobal = ImGlobal;

        //in fornode
        var s1 = fornode2.f1func();
        console.log(fornode2.theGlobal);

        //infornode I will see null in the console.
        //same thing if I export as module.exports = &lbrace;f1func, ImGlobal, f2func&rbrace;
      </code>
    </pre>
    <pre>
      <code>
        <b>//but now instead of an object I have an array, the array has not been reassigned, but something has been added to it</b>
        //now with the same code as above, but in the function we are doing ImGlobal.push(&lbrace; name:"James", car: "Aston Martin"&rbrace;);

        //in the main fornode we will see the added object because we are still pointing to the same array.
      </code>
    </pre>
    That was calling functions, but now assuming we have a request in the fornode2 that will use the array being set in fornode. Doing this one with 
    an image first, code for copy paste later.<br/>
    <img width="100%" src="assets\images\node\SharingData1.png" alt="sharing data 1" /><br/><br/>

    With the above, the route in fornode2 will have the array as populated in fornode1.
    <br/>
    <pre>
      <code>
        //fornode
        const express = require('express');
        //import file with route you want to redirect to
        const fornode2 = require("./fornode2");

        const app = express();
        //do not forget this to include the routes on the other file
        app.use(fornode2);

        const thearray = [];

        app.use("/sendAGet",   (req,res,next) =&gt; &lbrace;
	        console.log("in send a get"); 
          thearray.push("1");
          thearray.push("2");
          res.redirect('/getTheArray');
        &rbrace;)
        //the other request will access theArrayId
        module.exports.theArrayIs = &lbrace;thearray&rbrace;;

        app.listen(3000);

        //fornode2
        const express = require('express');
        const fornode = require('./fornode');

        //use router for the paths now, instead of app from express
        const router = express.Router();

        router.use("/getTheArray",   (req,res,next) =&gt; &lbrace;
   
          console.log("in get array");  
          console.log(fornode.theArrayIs);            

          res.end();
        &rbrace;)

        //export the routes
        module.exports = router;

      </code>
    </pre>
    <b>If you do the request again, from scratch, on another browser, you will still see the data because it's still shared in the node server, not the browser.
    Also means all users will get it.<br/></b>


  <p class="HeadingSubTopic" id="Templating-Eng-Pug">Templating Engines - Pug</p>
    Templating engines help you inject your data in your html files, before sending. They are similar but the syntax changes a bit (EJS, Pug, Handlebars).




  </div>
  
</div> 
