
<div class="PaddedContents">

 
  <br/>  
  
  <div >
    
    <p class="HeadingSubTopic" id="general">General</p>
    Model View Controller: Models hold the data nad some operations on it.  Views are what the users sees.  Controllers have the routes and connect what goes where.
    <br/>
    You should have a controllers folder and have a different file for different models, at least. In the controller files, you will have functions for your paths (actions) 
    that you can export so they are including in the main file.
    <pre>
      <code>
        exports.<b>getAddProdPage</b> = (req, res, next) =&gt; &lbrace;
          res.render(...);
        &rbrace;
      </code>
    </pre>
    Then in the file that will get the route, you can have:
    <pre>
      <code>
        const prodsController = require(path to the file that has the exports above)

        router.get('/forThisPath', <b>prodsController.getAddProdPage)</b>;//do not call it by adding ()
      </code>
    </pre>
    You can also have a models folder, for your model files.  We can create javascript classes in these model files, something like this:
    <pre>
      <code>
        const products = [];

        module.exports = class Product&lbrace;
          constructor(t)&lbrace;
            this.title = t;
          &rbrace;
    
          save() &lbrace;
            products.push(this);
          &rbrace;
    
          //so you don't have to create an instance to call it
          static fetchAll() &lbrace;
            return this.products;
          &rbrace;
        &rbrace;
      </code>
    </pre>
    Then to use this new class, in your controllers:
    <pre>
      <code>
        const Product = require("the file where your class is"):

        const product = new Product(req.body.whatever);
        product.save(); 
      </code>
    </pre>

  <p class="HeadingSubTopic" id="routing">Routing</p>

  We can have this if we are using a ejs template for a product id in the path: &lt;a href ="/products/&lt;%= product.id%&gt; ...<br/> That will show up as 
  localhost:3000/products/123 <br/>
  to match that path in the node code:
  <pre>
    <code>
      //..put them after more specific routes

      router.get("/products/:productId");

      <b>//if you had this after the above, the something will be treated as the productId</b>  
      router.get("/products/something");
    </code>
  </pre>
  To get it in the controller:
  <pre>
    <code>
      exports.getProduct = (req, res, next) => &lbrace;
        ...<b>req.params.productId;</b> //productId has be be what was used in the path
      &rbrace;
    </code>
  </pre>
  In a post request, if you want to add the product, you can just send the id since the backend will know what that is.  Using ejs for the template it would look like:
  <pre>
    <code>
      &lt;input <b>type="hidden"</b> name="productID" value="&lt;%= product.id %&gt;"...

      //in the code for the request 
      router.post("/somepath", thecontroller.postSomepath);
      ...
      //in the controller
      exports.postSomepath = (req, res, next) =&gt; &lbrace;
        const productiId = req.body.productId;
        ...
      &rbrace;
    </code>
  </pre>
  When we have parameters in an url, something like <b>http://whatever:3000/?type=something&type2=somethingelse</b>.  You can access those params in the code with :
  <pre>
    <code>
      esports.getSomething = (req, res, next) =&gt; &lbrace;
        ...
        const type = req.query.type;
        ...
        const type2 = req.query.type2;
        ...
    </code>
  </pre>
  <b>regardless of the type based on the meaning, we will always get them as strings, so a true will be a "true"</b><br/> Trying to access a non existing one will not fail.  We 
  will just get undefined.




  </div>
  
</div> 
