/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap:regular,bold,italic&subset=latin,latin-ext');

.main-body {
  /*color:navy;*/
  color:rgb(183, 253, 253);
  font-family: 'Arima Madurai', cursive;
  font-size: 1.6vw;  
  /*background-color: white;*/
  background-color: rgb(48, 46, 46);
}
body button { 
  background-color: deepskyblue;
  border-color: deepskyblue;  
  color: navy;
  padding: 0.5vw;
  border-width: 0px;
  border-radius: 10px;
  margin: 2px;
}
body button:disabled { 
  background-color: lightgray;
  border-color: lightgray;    
}

.hrClass {
  border: none;
  height: 1px;
  color: deepskyblue;  
}

body b{
  background-color:paleturquoise;
  color:navy;  
  border-radius: 15%;
}
.formulaBackground{
  background-color: paleturquoise;
  padding:5px;
}

.codeBlock{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2vw;
  background-color: paleturquoise;
  color:navy;
  padding:8px;
  border:deeppink solid 3px;
}
body pre code{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2vw;  
  color:navy;
  padding:8px;  
}
body pre samp{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1vw;  
  color:navy;
  padding:8px;  
}
body code{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2vw;  
  color:navy;
  padding:8px;  
}
/*TODO Use this for now for the headings of notes, maybe change to a class later*/
body code strong u{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8vw;    
  color: orangered;  
  padding:8px;  
}
.HeadingSubTopic{  
  font-size: 2vw;  
  font-weight: bold;  
  color:lightpink;  
  text-decoration: underline solid 1vh;
  padding:8px;  
}
.TopNav {
  height:6vh; 
  width:100vw;
}
.TopMarginToDealWithNavBarImg {
  margin-top: 6vh;
}
/*the size below depends on the si*/
.image75vhSize {  
  height: 75vh;
  width:75vh;
}
.image65vhSize {
  height: 65vh;
  width: 65vh;
}

.PaddedContents {
  padding-left: 8vw;
  padding-right: 8vw;
}
.CenterMe {
  text-align: center;
}
.CenterMyBorder {
  border: solid 2px navy;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 10px;
}
.CenterMyContent {  
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

.ColumnMyContent {  
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}


.buttonGeneral {
  background-color: skyblue;
  border-color: skyblue;
  color: white;
  padding: 0.5vw;
  border-width: 0px;
  border-radius: 10px;
  margin: 2px;
}

  .buttonGeneral:focus {
    outline: none;
  }

.markClassCardTabBlue {
  /*background-color: skyblue;*/
  padding-left: 6px;
  padding-right: 6px;
  border: 3px skyblue solid;
  width: 25vw;
  border-bottom: 0;  
}
.markClassCardContentBlue {
  border: 3px skyblue solid;
  padding:6px;
  /*background-color: lightcyan;  */
}
.markClassCardWholeBlue {
  /*background-color: skyblue;*/
  padding-left: 6px;
  padding-right: 6px;
  border: 3px skyblue solid;  
  border-bottom: 0;  
  text-align: center;
}

.markClassCardWholePink {
  /*background-color: skyblue;*/
  padding-left: 6px;
  padding-right: 6px;
  border: 6px deeppink solid;    
  text-align: center;
}


a:link {
  color:lightyellow;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: lightyellow;
  background-color: transparent;
  text-decoration: underline;
}
a:hover{  
  background-color: lightyellow;
}
a:visited {
  color: lightyellow;
  background-color: transparent;
  text-decoration: none;
}

.main-body input{
  color:darkcyan;  
}


.hrClass {
  border: none;
  height: 4px;
  background: skyblue;
  margin-bottom: 50px;
  margin-left: 3vw;
  margin-right: 3vw;
}
.hrHeaderClass {
  border: none;
  height: 10px;
  background: skyblue;  
  margin-left: 3vw;
  margin-right: 3vw;
}


.hrClassNoSideMargin {
  border: none;
  height: 4px;
  background: skyblue;
  margin-bottom: 50px;
}


.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;  
}

.radio-toolbar label {
    display: inline-block;    
    background-color:rgb(36, 156, 231);
    padding: 5px 25px;      
    font-size: 1.5vw;
    border: 2px solid rgb(36, 156, 231);
    border-radius: 25px;        
    margin:5px;
    box-shadow: 0 12px #999;    
}

.radio-toolbar label:hover {
  background-color: deeppink;
}


.radio-toolbar input:checked + label {
    background-color: deeppink;
    border-color:rgb(36, 156, 231);
    box-shadow: 0 5px gray;
}

.dropDown{
  color:navy;
}
/*
mark {
  color: navy !important;
  background-color:skyblue !important;
  //text-decoration: deepskyblue underline;
  font-family: 'Arima Madurai', cursive;
}

  mark  a {
    text-decoration: none !important;
  }
  */
