/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap:regular,bold,italic&subset=latin,latin-ext');*/
/*@import '~bootstrap/dist/css/bootstrap.css';*/

:root{
  --main-code-background: rgb(192, 228, 250);  
  --main-font-color:rgb(183, 253, 253);
  --main-background-color:rgb(48, 46, 46);
}

.main-body {  
  color:var(--main-font-color);
  font-family: 'Courier New', "Lucida Console", "Times New Roman", cursive;
  font-size: 1.5vw;    
  background-color:var(--main-background-color);
  margin:0;
  box-sizing: border-box;  
  width:100%;
}
@media screen and (max-width: 800px) {
  .main-body { 
    font-size: 3vw; 
  }
}
.main-body input{
  color:darkcyan;  
}
.mainBodyScrolling{
  overflow: auto;
}
.mainBodyScrollingBlocked{
  overflow: hidden;
}
div{
  box-sizing: border-box;
}
img{
  width:60vw;
  box-sizing: border-box;
}
.divsByRow{  
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;  
}
.divsByCol{  
  display: flex;  
  align-content:flex-start;
  flex-direction: column;  
}
.divsByColCenter{  
  display: flex;  
  align-content:center;
  flex-direction: column;  
}
.divsByRowCenter{  
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  flex-direction: row;  
}
.divsByRowSpaceEvenly{  
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  flex-direction: row;  
}
body button {   
  background-color: transparent;
  border-color: deepskyblue;  
  color:deepskyblue;
  padding: 0.5vw;
  border-width:1px;
  border-radius: 10px;
  margin: 2px;
  font-size: 2vh;
  box-sizing: border-box;
}
body button:disabled { 
  background-color: lightgray;
  border-color: lightgray;    
}
body b{
  background-color:lightyellow;
  color:navy;    
}
body pre {
  display: block;  
  font-size: 1.4vw;    
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: lightblue;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
body pre code{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4vw;  
  color:navy;
  padding:0px;    
  background-color: transparent;
  border-radius: 0;
  white-space: pre-wrap;  
  box-sizing: border-box;
}
body code{
  font-family: 'Times New Roman', Times, serif;    
  color:navy;
  font-size: 1.4vw; 
  padding:2px;  
  margin:4px;
  background-color: var(--main-code-background);
  border-radius: 4px;
  box-sizing: border-box;  
}
body pre samp{
  font-family: 'Times New Roman', Times, serif;    
  padding:8px;  
  color:gray  ;
  box-sizing: border-box;
}
.HeadingSubTopic{  
  font-size: 3vw;  
  font-weight: bold;  
  color:lightpink;  
  /*text-decoration: overline underline solid 1.1vh;*/
  text-decoration: underline solid 1.1vh;
  padding:8px;    
}
.HeadingSubTopic2{  
  font-size: 1.8vw;  
  font-weight: bold;  
  color:lightpink;
  text-decoration: underline solid .5vh;
  padding:8px;  
}
.TopMarginToDealWithNavBarImg {
  margin-top: 6vh;
}
.PaddedContents {  
  box-sizing: border-box;    
  overflow-x: hidden;
}
.PaddedContentsTopics{  
  padding-left: 18vw;
  box-sizing: border-box;
  width:85vw;  
}
.CenterMe {
  text-align: center;
  box-sizing: border-box;
}
.CenterMyContent {  
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  box-sizing: border-box;
}
body button{
  cursor: pointer;
}
.markClassCardContentBlue {
    border: 3px skyblue solid;
   
}
.markClassCardWholeBlue {  
    border: 3px skyblue solid;  
    border-bottom: 0;  
    text-align: center;
    background-color: deepskyblue;
    color:white;
    box-sizing: border-box;
    font-weight: bold;
  }
  .markClassCardWholePink {   
    border: 6px deeppink solid;    
    text-align: center;
    box-sizing: border-box;
  }
  a:link {
    color:lightyellow;
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: lightyellow;
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover{      
    background-color: deepskyblue;    
  }
  a:visited {
    color: lightyellow;
    background-color: transparent;
    text-decoration: none;
  }
  
.hrHeaderClass {
  border: none;
  height: 10px;
  background: skyblue;  
  margin-left: 3vw;
  margin-right: 3vw;
}
.radio-toolbar {
  margin: 10px;
}
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;  
}
.radio-toolbar label {
    display: inline-block;    
    background-color:rgb(36, 156, 231);
    padding: 5px 25px;      
    font-size: 1.5vw;
    border: 2px solid rgb(36, 156, 231);
    border-radius: 25px;        
    margin:5px;
    box-shadow: 0 12px #999;    
}
.radio-toolbar label:hover {
  background-color: deeppink;
}
.radio-toolbar input:checked + label {
    background-color: deeppink;
    border-color:rgb(36, 156, 231);
    box-shadow: 0 5px gray;
}
.dropDown{
  color:navy;
}
.notesStrong{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8vw;    
  color: orangered;  
  padding:8px;  
}

.leftLinks{
  box-sizing: border-box;
  position:fixed;
  left:5px; 
  width:15vw; 
  top: 10vh;
  height: 75vh;  
  overflow:auto;
  border:solid deepskyblue 2px;
}

.TopLinks{
  box-sizing: border-box;        
  border:solid deepskyblue 2px;
  margin:5px;
  font-size: 1.5vw;
}





















