
<div class="PaddedContents PaddedContentsTopics">
  
   Not updating React notes, but the older ones are <a href="../../assets/My_React_Notes.pdf" target="_blank">available as pdf.</a>
   <br/><br/>
   You can also access these articles:<br/><br/>
   <a href="https://gmfuster.medium.com/deploying-a-react-app-to-github-pages-24c3e5485589" target="_blank">
    How I finally got my React app with Routing to work on GitHub pages, no 404 errors, no missing images.
   </a><br/><br/>

   <a href="https://medium.com/nerd-for-tech/angular-vs-react-compare-the-very-basics-776fd96fec23" target="_blank">
    Angular vs React : Compare the very basics
   </a><br/><br/>

   <a href="https://medium.com/nerd-for-tech/react-beyond-the-basics-excluding-hooks-context-errors-refs-hocs-render-props-52df90d61229" target="_blank">
    React — Beyond the basics (excluding hooks): Context, Errors, Refs, HOCs, Render Props.
   </a><br/><br/>

   <a href="https://medium.com/nerd-for-tech/react-redux-omg-getting-started-redux-1-eaae21e96eb5" target="_blank">
    React Redux. OMG. Getting Started. (Redux 1)
   </a><br/><br/>
  </div> 
