
<div class="mathBody">
  <h1 class="CenterMe">Just some Probability notes</h1>  
  <h4 class="CenterMe">(trying to avoid using images or libraries for the formulas so use your imagination a bit :-))<br/></h4>
  <br />


  <div class="PaddedContents">
    
    Probabilities are expressed between 0 and 1.  (O = not happening and 1= for sure)<br/>
    <br/>

    <div class="container-fluid" >      
      <div class="row">
        <div class="col-sm-3">
          <img class="leftImageStyle" src="assets\images\math\piechart1.svg" alt="pie chart with posibilities A, B, C, D" />
        </div>
        <div class="col-sm-9">
          In the image the possible outcomes are A, B, C, D.  What is the probability of getting an A?<br/><br/>
          
          <div class="formulaBackground">
            P(A) = # of preferred outcomes (1)<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__________________________________<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# of all possible outcomes (4)<br/>
          </div>

          <br/>
          So the P(A)= 1/4 =.25;
        </div>
    </div>

    <hr class="hrClassNoSideMargin" />

    <div class="container-fluid" >      
      <div class="row">
        <div class="col-sm-3">
          <img class="leftImageStyle" src="assets\images\math\piechart2.svg" alt="pie chart with posibilities A, A, C, D" />
        </div>
        <div class="col-sm-9">
          Similar as before, but now the A takes out more, so in reality we have A, A, C, D.<br/><br/>
          
          <div class="formulaBackground">
            P(A) = # of preferred outcomes (2)<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__________________________________<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# of all possible outcomes (4)<br/>
        </div>
          <br/>
          So the P(A)= 2/4 =.50; 
        </div>
    </div>
 
    <hr class="hrClassNoSideMargin" />

    <div class="container-fluid" >      
      <div class="row">
        <div class="col-sm-3">
          <img class="leftImageSmallStyle" src="assets\images\math\piechart2.svg" alt="pie chart with posibilities A, A, C, D" /><br/>
          <img class="leftImageSmallStyle" src="assets\images\math\piechart2.svg" alt="pie chart with posibilities A, A, C, D" />
        </div>
        <div class="col-sm-9">
          The probability of 2 independent events happening at the same time is their product.<br/><br/>
          So to get A in one circle and C in another circle: <span class="formulaBackground"> P(A) * P(C) </span>= .5 * .25 = .125;<br/><br/>        
        </div>
    </div>
    <hr class="hrClassNoSideMargin" />

    <div  >      
      Sometimes we cannot calculate theoretical (above) probabilities and have to go with the experimental ones.  
      In this case, we can calculate the probabilityof A with:<br/>
      <div class="formulaBackground">
        P(A) = # of trials where we got what we wanted <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__________________________________<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# of trials we did<br/>
      </div><br/><br/>
      If we have the theoretical probability, we can calculate the expected outcome with n number of trials as:<br/>
      <div class="formulaBackground">Expected Outcome = E(A) = P(A) * n;
    </div>
    <hr class="hrClassNoSideMargin" />

    <div class="container-fluid" >      
      <div class="row">
        <div class="col-sm-3">
          <img class="leftImageStyle" src="assets\images\math\piechart2.svg" alt="pie chart with posibilities A, A, C, D" />
        </div>
        <div class="col-sm-9">
          From before, we know the P(A) on this graph is .50;<br/>
          Click on this <button (click)="onClickGetAACDtrials()">button</button> to create a pretend experimental trials with n = 50.  It will get a random number between 1 and 4 and will assign
          A for 1 and 2, C for 3, and D for 4.<br/><br/>
          <div *ngIf="numberOfAs > 0 || numberOfCs > 0 || numberOfDs >0 ">
            Results from "experiment": <br/>
            Number of As: {{numberOfAs}}<br/>
            Number of Cs: {{numberOfCs}}<br/>
            Number of Ds: {{numberOfDs}}<br/><br/>

            From the theoretical probability, we know <strong>theoretical P(A) = .5;</strong><br/>
            With the experimental trial, we will have P(A) = (Number of As) / (All) = {{numberOfAs}} / {{50}} = <strong>{{numberOfAs/50}} = Experimental P(A)</strong><br/>
            Most of the time the experimental is very close to the theoretical, though I did a bunch and in one D came up the winner!<br/>
            In the results above, the E(A) for the 50 trials will be (the number of times we got A /50) * 50), so what would the expected outcome be
            if instead of 50 trials we did 1000? <strong> P(A) * 1000 = {{(numberOfAs/50) * 1000}}</strong> As out of 1000.<br/>   
            With the theoretical P(A) of .5 it should be half the time, 500.         
        </div>
      </div>
    </div>  
    <hr class="hrClassNoSideMargin" />


    <div class="container-fluid" >      
      <div class="row">
        <div class="col-sm-3">
          <img class="leftImageStyle" src="assets\images\math\piechart2WithPoints.svg" alt="pie chart with posibilities A, A, C, D with points" />
        </div>
        <div class="col-sm-9">
               Ok I know the image is not perfect, but close enough.  Now we have points (numerical) on the graph, and the probabilities for each one are:<br/>
               P(10 points) => 8/16 = .5;<br/>
               P(20 points) => 5/16 = 0.3125;<br/>
               P(40 points) => 3/16 = 0.1875;<br/><br/>
               The expected outcome on 1 shot would be : E(X) = (10 points) * .5 + (20 points) * 0.3125 + (40 points) * 0.1875 = 5 + 6.25 + 7.5 = 18.75;<br/>
               Which is not a real number but it's useful when giving the likely interval.
        </div>
    </div>
    <hr class="hrClassNoSideMargin" />


    <div class="container-fluid" >      
      <div class="row"><!--LEFT ROW MAIN GRID-->
       
        <div class="col-sm-5">
          <table style="width:100%">           
            <tr style="font-weight: bold; background-color: skyblue;">
              <td style="width:14%"></td>
              <td style="width:14%">1</td>
              <td style="width:14%">2</td>
              <td style="width:14%">3</td>
              <td style="width:14%">4</td>
              <td style="width:14%">5</td>
              <td style="width:14%">6</td>
            </tr>
            <tr>
              <td style="font-weight: bold; background-color: skyblue;">1</td>
              <td style="background-color: springgreen;">2</td>
              <td style="background-color:thistle;">3</td>
              <td style="background-color:yellow;">4</td>
              <td style="background-color:aquamarine">5</td>
              <td style="background-color:deeppink">6</td>
              <td style="background-color:coral">7</td>
            </tr>
            <tr>
              <td style="font-weight: bold;background-color: skyblue;">2</td>
              <td style="background-color:thistle;">3</td>
              <td style="background-color:yellow;">4</td>
              <td style="background-color:aquamarine">5</td>
              <td style="background-color:deeppink">6</td>
              <td style="background-color:coral">7</td>
              <td style="background-color:dodgerblue">8</td>
            </tr>
            <tr>
              <td style="font-weight: bold;background-color: skyblue;">3</td>
              <td style="background-color:yellow;">4</td>
              <td style="background-color:aquamarine">5</td>
              <td style="background-color:deeppink">6</td>
              <td style="background-color:coral">7</td>
              <td style="background-color:dodgerblue">8</td>
              <td style="background-color:lightgoldenrodyellow">9</td>
            </tr>
            <tr>
              <td style="font-weight: bold;background-color: skyblue;">4</td>
              <td style="background-color:aquamarine">5</td>
              <td style="background-color:deeppink">6</td>
              <td style="background-color:coral">7</td>
              <td style="background-color:dodgerblue">8</td>
              <td style="background-color:lightgoldenrodyellow">9</td>
              <td style="background-color:lightpink">10</td>
            </tr>
            <tr>
              <td style="font-weight: bold;background-color: skyblue;">5</td>
              <td style="background-color:deeppink">6</td>
              <td style="background-color:coral">7</td>
              <td style="background-color:dodgerblue">8</td>
              <td style="background-color:lightgoldenrodyellow">9</td>
              <td style="background-color:lightpink">10</td>
              <td style="background-color:mediumslateblue">11</td>
            </tr>
            <tr>
              <td style="font-weight: bold;background-color: skyblue;">6</td>
              <td style="background-color:coral">7</td>
              <td style="background-color:dodgerblue">8</td>
              <td style="background-color:lightgoldenrodyellow">9</td>
              <td style="background-color:lightpink">10</td>
              <td style="background-color:mediumslateblue">11</td>
              <td style="background-color:mistyrose">12</td>
            </tr>
          </table>        
        </div>


        <div class="col-sm-7">
               The table shows the possible outcomes of rolling 2 dice.  There are a total of 36 cells.  Some numbers appear only in one cell, some 
               in multiple cells.  The probability of each outcome is:<br/>

               <div class="formulaBackground">Number of cells containing the number / 36; </div><br/>
               Using the expected numerical outcome formula E(n) = P(2) * 2 + P(3) * 3 ... + P(12) * 12 = 7, which is the one that shows up in the most cells.<br/>
               The number of times each number appears is the <strong>Frequency</strong>.<br/>
               The collection of the frequencies and the probability associated to the frequencies is the <strong>Probability Frequency Distribution.</strong>
               These can be shown in different types of graphs.
        </div>
    </div>
    <hr class="hrClassNoSideMargin" />

    <div class="container-fluid" >      
      <div class="row"><!--LEFT ROW MAIN GRID  don't remember why I did it this way, todo-->
                       
        <div class="col-sm-12">
          An <strong>event</strong> is a certain outcome.  The <strong>complement</strong> of the event is everything the event is not.  If the event we want is getting 
          a 6 on the roll of the dice, its complement is getting anything else that is not a 6.<br/>
          The sume of all probabilities should add up to 1 (100%). If it is <strong>greater than 1</strong>, we have that some of the outcomes can happen at the same time.  If 
          it is <strong>less than 1</strong>, we have missed something.<br/>
          If the event is indicated with A, its complement is A', and A'' = A.  Also, <div class="formulaBackground"> P(A) = 1-P(A')</div>
        </div>
    </div>
    <hr class="hrClassNoSideMargin" />

    <div class="container-fluid" >      
      <div class="row">
        <div class="col-sm-3">
          <div style="background-color: lightgreen;  width:150px; ">1st</div>
          <div style="background-color: lightpink; width:100px; ">2nd</div>
          <div style="background-color: lightgrey;  width:50px; ">3rd</div>
        </div>
        <div class="col-sm-9">
              <strong>Permutation:</strong> Number of ways in which we can arrange a set of elements.<br/>
              We have 3 jumpers, whoever jumps the farthest wins.  There are 3 positions.  Only one jumper can be in position #1.  Only one can 
              be in position #2 and only one can be in position #3.  The number of permutations we can have is:<br/>
              <div class="formulaBackground">P(n)= n*(n-1)*(n-2)...*1 =  n! (factorial)</div><br/>
              <div class="formulaBackground">0! = 1; Negative numbers do not have a factorial.</div>
              <div class="formulaBackground">(n+1)! = n! * (n+1)</div>
              <div class="formulaBackground">(n+k)! = n! * (n+1)*(n+2)*...(n+k)</div>
              <div class="formulaBackground">(n-k)! = n! / ( (n-k+1)(n-k+2)...(n-k+k)   )</div>
              <div class="formulaBackground">if n> k ==> n! / k! = (k+1)(k+2)...n</div><br/>
              So in the jumpers example, we have n! = 3! = 3*2*1 = 6 possible ways that this could end up if our jumpers are A, B, C:<br/>

              <div style="display:inline-block;">
                <div style="background-color: lightgreen;  width:150px; ">A</div>
                <div style="background-color: lightpink; width:100px; ">B</div>
                <div style="background-color: lightgrey;  width:50px; ">C</div><br/>  
              </div>
              &nbsp;&nbsp;
              <div style="display:inline-block;">
                <div style="background-color: lightgreen;  width:150px; ">A</div>
                <div style="background-color: lightpink; width:100px; ">C</div>
                <div style="background-color: lightgrey;  width:50px; ">B</div><br/>
              </div>
              &nbsp;&nbsp;
              <div style="display:inline-block;">
                <div style="background-color: lightgreen;  width:150px; ">B</div>
                <div style="background-color: lightpink; width:100px; ">A</div>
                <div style="background-color: lightgrey;  width:50px; ">C</div><br/>
              </div>  

              <br/>
              <div style="display:inline-block;">
                <div style="background-color: lightgreen;  width:150px; ">B</div>
                <div style="background-color: lightpink; width:100px; ">C</div>
                <div style="background-color: lightgrey;  width:50px; ">A</div><br/>
              </div>
              &nbsp;&nbsp;
              <div style="display:inline-block;">
                <div style="background-color: lightgreen;  width:150px; ">C</div>
                <div style="background-color: lightpink; width:100px; ">A</div>
                <div style="background-color: lightgrey;  width:50px; ">B</div><br/>
              </div>
              &nbsp;&nbsp;
              <div style="display:inline-block;">
                <div style="background-color: lightgreen;  width:150px; ">C</div>
                <div style="background-color: lightpink; width:100px; ">B</div>
                <div style="background-color: lightgrey;  width:50px; ">A</div><br/>
              </div>
        </div>
    </div>
    <hr class="hrClassNoSideMargin" />




    <div class="container-fluid" >      
      <div class="row">
        <div class="col-sm-3">
          <div style="background-color: lightgreen;  width:150px; ">A, B, or C</div>
          <div style="background-color: lightpink; width:150px; ">A, B, or C</div>          
        </div>
        <div class="col-sm-9">
              <strong>Variation:</strong> Number of ways we can pick and arrange some elements of a given set.<br/>
              Now we can have 2 spots, and in each spot we can have A, B, or C.  It is possible to have A,A, B,B etc ("duplicates).
              In this case, we cannot use permutations (those will not have the same value twice).  To calculate the variations:<br/>
              <div class="formulaBackground">
                <img class="mainImageStyle" src="assets\images\math\formulas\variations1.svg" alt="pvariations formula" />
              </div><br/>
              So in our example, the positions to fill is 2, and the number of elements to arrange is 3 ==> 3 to the power of 2 = 9.
              
        </div>
    </div>
    <hr class="hrClassNoSideMargin" />

 
 
 
  </div>

  

</div> 
